<div class="calendar">
	<div class="calendar-title">
		Календарь
		<span class="c-arrow"></span>
	</div>	
	<div id="calendar"></div>
{#	<!--<div id="calendar" class="hasDatepicker">
		<div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block; ">
			<div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
				<a class="ui-datepicker-prev ui-corner-all"  title="&lt;Пред" href="#">
					<span class="ui-icon ui-icon-circle-triangle-w">&lt;Пред</span>
				</a>
				<a class="ui-datepicker-next ui-corner-all"  title="След&gt;"  href="#">
					<span class="ui-icon ui-icon-circle-triangle-e">След&gt;</span>
				</a>
				<div class="ui-datepicker-title">
					<span class="ui-datepicker-month">Июль</span>&nbsp;<span class="ui-datepicker-year">{{ calendar.years.current }}</span>
				</div>
			</div>
				
			<table class="ui-datepicker-calendar">
				<tbody>
					{% for week in calendar.weeks %}
						<tr>
						{% for day in week %}
						    {% set url = path('armd_news_news_archive_1', {'year': calendar.years.current, 'month': '%02d'|format(calendar.months.current), 'day': '%02d'|format(day.day)}) %}
							<td>
								<span class="ui-state-default">
								    {% if day.day %}
								        <a href="{{ url }}">{{ day.day }}</a>
								    {% else %}
								        <a href="{{ url }}">&nbsp;</a>
								    {% endif %}
								</span>
							</td>
						{% endfor %}
						</tr>
					{% endfor %} 
				</tbody>
			</table>
		</div>
	</div>
	--> 
#}	
</div>	

</table>

<script>
    $("#calendar").datepicker({
        onSelect: function(dateText, inst) {
            var parts = dateText.split(".");
            window.location = Routing.generate("armd_news_archive_by_date", { "year": parts[2], "month": parts[1], "day": parts[0] });          
       }});
</script>