{% if app.request.locale == 'ru' %}
    {% set facebookLocale = 'ru_RU' %}
{% else %}
    {% set facebookLocale = 'en_EN' %}
{% endif %}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/{{ facebookLocale }}/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box" data-href="http://www.facebook.com/culture.ru" data-width="300" data-show-faces="true"
     data-stream="false" data-header="true"></div>
