{% extends ':Frontend:new_base.html.twig' %}

{% block title %}{{ 'Portal title'|trans }}{% endblock %}

{# This is our new mainpage template! #}
{% block body %}
    <div class="displayInlineBlock"></div>

    {% render 'ArmdAtlasBundle:Default:mainpageWidget' %}
    {% render 'ArmdNewsBundle:News:mainpageWidget' %}
    {% render 'DamediaSpecialProjectBundle:Render:mainpageWidget' %}

    <div class="b-main-wrap b-block-main clearfix clearBoth">
        {% render 'ArmdLectureBundle:Default:mainpageWidget' %}
        {% render 'ArmdMuseumBundle:Default:mainpageWidget' %}
    </div>

    {% render 'ArmdPerfomanceBundle:Perfomance:mainpageWidget' %}
    {% render 'ArmdLectureBundle:Default:mainpageLectureWidget' %}
{% endblock %}
