{% extends ':Frontend:new_base.html.twig' %}

{% block title %}{{ 'Portal title'|trans }}{% endblock %}

{% block body %}

    {% render 'PressCenterBundle:Default:mainpageWidget' %}

    {% render 'ArmdAtlasBundle:Default:mainpageWidget' %}

    {% render 'DamediaSpecialProjectBundle:Render:mainpageWidget' %}

    <div class="b-main-wrap b-block-main clearfix">

        {% render 'ArmdLectureBundle:Default:mainpageWidget' %}

        {% render 'ArmdMuseumBundle:Default:mainpageWidget' %}

    </div>

    {% render 'ArmdPerfomanceBundle:Perfomance:mainpageWidget' %}

    {% render 'ArmdLectureBundle:Default:mainpageLectureWidget' %}


{% endblock %}

{#</div><!-- /right-column -->#}
{#<div class="left-column">#}
    {#<div class="left-column-content">#}
        {#<section class="block new-on-site">#}
            {#{% if app.request.locale == 'ru' %}#}
                {#&#123;&#35;<section class="block social-widget-block">&#35;&#125;#}
                    {#&#123;&#35;{% render url("armd_main_latest_topics", {"domain": "people.culture.ru"}) %}&#35;&#125;#}
                {#&#123;&#35;</section>&#35;&#125;#}
                {#<section class="block social-widget-block">#}
                    {#{% include 'ArmdMainBundle:Homepage:twitter_widget.html.twig' %}#}
                {#</section>#}
                {#<section class="block social-widget-block">#}
                    {#{% include 'ArmdMainBundle:Homepage:vkontakte_widget.html.twig' %}#}
                {#</section>#}
            {#{% endif %}#}
        {#</section>#}
    {#</div>#}
{#</div><!-- /left-column -->#}
{#{% endblock %}#}

