{% extends ':Frontend:new_base.html.twig' %}

{% block title %}{{ 'Portal title'|trans }}{% endblock %}

{% block body %}

    {% render 'PressCenterBundle:Default:mainpageWidget' %}

    {% render 'ArmdAtlasBundle:Default:mainpageWidget' %}

    {% render 'DamediaSpecialProjectBundle:Render:mainpageWidget' %}

    <div class="b-main-wrap b-block-main clearfix">

        {% render 'ArmdLectureBundle:Default:mainpageWidget' %}

        {% render 'ArmdMuseumBundle:Default:mainpageWidget' %}

    </div>

    {% render 'ArmdPerfomanceBundle:Perfomance:mainpageWidget' %}

    {% render 'ArmdLectureBundle:Default:mainpageLectureWidget' %}


    <div class="b-main-wrap clear-both m-bordered-3 m-block-partners">
        <h3 class="indented-header">Партнеры и спецпроекты</h3>
        <ul class="b-partner-list">
            <li><a href="http://100.histrf.ru/about/" target="_blank"><img src="/img/new/partners/100-greetest-generals.jpg" width="148" height="44" alt="100 Великих полководцев. Герой дня"/></a></li>
            <li><a href="http://portal-kultura.ru" target="_blank"><img src="/img/new/partners/culture-newspaper.jpg" width="151" height="44" alt="Газета культура"/></a></li>
            <li><a href="http://lgz.ru" target="_blank"><img src="/img/new/partners/literature-newspaper.jpg" width="150" height="44" alt=""/></a></li>
            <li><a href="http://www.pravmir.ru" target="_blank"><img src="/img/new/partners/pravoslavie-and-mir.jpg"  width="167" height="40" alt=""/></a></li>
            <li><a href="http://www.moviestart.ru" target="_blank"><img src="/img/new/partners/moldejniy-center.jpg" width="179" height="70" alt=""/></a></li>
            <li><a href="http://tvoyaistoria.ru" target="_blank"><img src="/img/new/partners/your-history-magazine.jpg" width="132" height="59"></a></li>
        </ul>
    </div>

{% endblock %}

{#</div><!-- /right-column -->#}
{#<div class="left-column">#}
    {#<div class="left-column-content">#}
        {#<section class="block new-on-site">#}
            {#{% if app.request.locale == 'ru' %}#}
                {#&#123;&#35;<section class="block social-widget-block">&#35;&#125;#}
                    {#&#123;&#35;{% render url("armd_main_latest_topics", {"domain": "people.culture.ru"}) %}&#35;&#125;#}
                {#&#123;&#35;</section>&#35;&#125;#}
                {#<section class="block social-widget-block">#}
                    {#{% include 'ArmdMainBundle:Homepage:twitter_widget.html.twig' %}#}
                {#</section>#}
                {#<section class="block social-widget-block">#}
                    {#{% include 'ArmdMainBundle:Homepage:vkontakte_widget.html.twig' %}#}
                {#</section>#}
            {#{% endif %}#}
        {#</section>#}
    {#</div>#}
{#</div><!-- /left-column -->#}
{#{% endblock %}#}

