<div id="people-culture-polls"></div>
<script type="text/javascript">       
    $(document).ready(function(){
        armdMainPage.peopleCulturePolls({{ data|raw }}, {{ userLogged }}, '{{ apiModule }}', {{ apiCount }});
    });
</script>