<h1><span>ВКонтакте</span></h1>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, width: "400", height: "530"}, 46598842);
</script>