<h2><span>Instruction</span></h2>
<p>When you click the virtual tour link, the panoramic view opens showing the starting point of the tour (Fig. 1).</p>
<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_01.jpg" alt="" width="90%" />
    <figcaption>
        <p>Fig. 1 The Tour Starting Point</p>
    </figcaption>
</figure>
<p>You may navigate through the tour points using the map located in the upper left corner of the screen, or by pressing the white circular pointers. When you use these white circular pointers, the navigation proceeds sequentially from one point to another. Using the map, you may navigate in an arbitrary direction.</p>
<p>Press the map button (Fig. 2) to open or close the map.</p>
<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_02.jpg" alt="" width="60%" />
    <figcaption>
        <p>Fig. 2 Map Example</p>
    </figcaption>
</figure>
<p>The navigation panel (Fig. 3) is located in the bottom of screen. It allows you to rotate the area around the tour point, zoom in or zoom out, and view the picture in full screen mode.</p>
<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_03.png" alt="" width="300" />
    <figcaption>
        <p>Fig. 3 Navigation Panel</p>
    </figcaption>
</figure>

<p>The «<img src="/img/mk_instr/mk_instr_04.png" alt="" width="50" class="inline-image" />» buttons are used to rotate the view around vertical axis of the tour in counterclockwise and clockwise direction respectively. In the same way, you may rotate the view around the point using mouse, holding the left mouse button pressed and rotating the mouse cursor in the required direction. Rotation can also be performed using the tour map. In such case you should rotate the green area around the point in the required direction.</p>


<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_05.png" alt="" width="123" height="147" />
    <figcaption>
        <p>Fig. 4 Rotation of the View using the Map</p>
    </figcaption>
</figure>

<p>The «<img src="/img/mk_instr/mk_instr_06.png" alt="" width="50" class="inline-image" />» buttons are used to scroll the picture up or down respectively. Similarly, you may control the picture using the left mouse button, as described above.</p>
<p>The «<img src="/img/mk_instr/mk_instr_07.png" alt="" width="50" class="inline-image" />» buttons are used to zoom in and zoom out. To zoom in and out, you may also use the mouse wheel.</p>
<p>The «<img src="/img/mk_instr/mk_instr_08.png" alt="" width="25" class="inline-image" />» utton switches on the full screen mode of the tour view. To switch the full screen mode off, press ESC button.</p>
<p>The INFO button «<img src="/img/mk_instr/mk_instr_09.png" alt="" width="25" class="inline-image" />». is located in the bottom right corner of the screen. When pressed, this button opens the contact information window for the viewed museum tour (Fig. 5).</p>

<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_10.png" alt=""  />
    <figcaption>
        <p>Fig. 5 Example of Museum Information Window</p>
    </figcaption>
</figure>

<p>If the tour contains a link to an exhibit, which can be viewed in high resolution, such exhibits are marked with blue circular pointers (Fig. 6).</p>

<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_11.jpg" alt="" width="670" height="340"  />
    <figcaption>
        <p>Fig. 6 Examples of Links to High-Resolution Views of Exhibits</p>
    </figcaption>
</figure>

<p>If you press the blue circular pointer, a window opens that contains description of the exhibit (Fig. 7).</p>

<figure  class="center-image">
    <img src="/img/mk_instr/mk_instr_12.png" alt="" width="90%"  />
    <figcaption>
        <p>Fig. 7 Exhibit Description</p>
    </figcaption>
</figure>

<p>Press the «<img src="/img/mk_instr/mk_instr_13.png" alt=""  class="inline-image" />» button to go back to the tour view.</p>

<div class="back-link"><p><a href="#" onclick='$.fancybox.close(); return false;'>Back</a></p></div>
