{% spaceless %}
    {% if lectures is not empty %}
        <div id="cinema_block" class="b-block-main b-movies-block">
            <header class="b-block-heading">
                <h3 class="e-block-title">Кино</h3>
                <nav class="b-heading-nav">
                    <a class="order current" href="{{ path('armd_lecture_cinema_mainpage', {type: 'recommend', date: date}) }}">рекоммендованный</a>&nbsp;
                    <a class="order" href="{{ path('armd_lecture_cinema_mainpage', {type: 'children', date: date}) }}">для детей</a>&nbsp;
                </nav>
            </header>
            <div id="cinema_widget">
                {% include 'ArmdLectureBundle:Default:mainpageCinemaWidgetItem.html.twig' with lectures %}
            </div>
        </div>
    {% endif %}
{% endspaceless %}