{% spaceless %}
    {% if lectures is not empty %}
        {# todo: html #}
        <div id="lecture_block" style="margin: 20px 0; padding-left:20px; border: 1px solid gray;">
            <div style="font-size:20px;">
                ЛЕКЦИИ
                <span style="margin-left:30px;">
                    <a class="order active" href="{{ path('armd_lecture_mainpage', {type: 'recommend'}) }}">рекоммендованные</a>&nbsp;
                    <a class="order" href="{{ path('armd_lecture_mainpage', {type: 'popular'}) }}">популярные</a>&nbsp;
                </span>
            </div>
            <div id="lecture_widget" class="carousel" style="margin-top:20px;">
                {% include 'ArmdLectureBundle:Default:mainpageWidgetItem.html.twig' with lectures %}
            </div>

            <a href="{{ path('armd_lecture_lecture_index') }}">Перейти в раздел Лекции</a>
        </div>
    {% endif %}
{% endspaceless %}