{% import 'ArmdLectureBundle::lecture_macro.html.twig' as lectureMacro %}
<div class="orange-slider-block">
    <div class="flexslider">
        <ul class="slides">
            {% for lecture in lectures%}
                <li>
                    <article class="period-block">
                        <h2>{{ lectureMacro.lectureSuperTypeLink(lecture.lectureSuperType) }}</h2>
                        <a href="{{ path('armd_lecture_view', {'id': lecture.id}) }}" class="period-block_image">
                            {% if lecture.isTop100Film %}
                                <div class="cinema-top100-icon"></div>
                            {% endif %}
                            {{ lectureMacro.lectureThumbnail(lecture, 'big', {'alt': lecture.title, 'height': 'auto'}) }}

                            <span class="play"></span>
                        </a>
                        <div class="period-block_text">
                            <h4>{{ lecture.title }}</h4>
                            {#<p>#}
                                {#Режиссер: Леонид Гайдай <br />#}
                                {#Жанр: Комедия / Режиссер: Леонид Гайдай#}
                            {#</p>#}
                        </div>
                        {#
                        <footer class="period-block_footer">
                            <div class="tags">
                                
                            </div>
                        </footer>
                        #}
                    </article>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>