<div style="border: 3px solid #eeeeee; margin: 3px; padding: 5px; width: 300px; background-color: #fefefe">
    Twig for this snippet doesn't exist...<br />
    But parameters have been sent:<br />
        <b>entity</b> = {{ entity }},<br />
        <b>itemId</b> = {{ itemId }}
</div>