{% extends '::base.html.twig' %}

{% block body%}

			<div>
			<div class="object-one-text content">
				<div class="text e404">
			
			<h1>Извините, данной страницы не существует.</h1>
	        <p>Вы будете перенаправлены на Главную страницу Портала Культура.рф <strong>через 5 секунд</strong>  </p> 
			  </div>
	</div>
        </div>
        
        
{% endblock %}        