{% extends '::base.html.twig' %}




{% block body%}

<script>
window.setTimeout(function() {
    var url = '{% if app.request.locale == 'ru' %}/{% else %}/{{ app.request.locale }}/{% endif %}';
    window.location.href = url;
}, 5000);
</script>

			<div>
			<div class="object-one-text content">
				<div class="text e404">
			
			<h1>{{ '404'|trans }}</h1>
	        <p>{{ 'Redirect after'|trans|raw }}</p>
			  </div>
	</div>
        </div>
        
        
{% endblock %}        