/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.state {
width:1400px;
	height:3505px;
	margin:auto;
} 

.kremlin {
	
	background:url(../img/kremlin/child-bg-main-kremlin.jpg) no-repeat 0 0;
}
.arkaim {
	background:url(../img/arkaim/child-bg-main-arkaim.jpg) no-repeat 0 0;
}
.astrahan {
	background:url(../img/astrahan/child-bg-main-astrahan.jpg) no-repeat 0 0;
}
.dazan {
	background:url(../img/dazan/child-bg-main-dazan.jpg) no-repeat 0 0;
}
.kul-sharif  {
	background:url(../img/kul-sharif/child-bg-main-kul-sharif.jpg) no-repeat 0 0;
}
.nevyansk  {
	background:url(../img/nevyansk/child-bg-main-nevyansk.jpg) no-repeat 0 0;
    width:1420px;
    height:4244px;
}
.petergof   {
	background:url(../img/petergof/child-bg-main-petergof.jpg) no-repeat 0 0;
}

.rodina   {
	background:url(../img/rodina/child-bg-main-rodina-matj.jpg) no-repeat 0 0;
}
.tretyakovf  {
	background:url(../img/tretyakovf/child-bg-main-tretyakovf.jpg) no-repeat 0 0;
}
.vladivostok    {
	background:url(../img/vladivostok/child-bg-main-vladivostok.jpg) no-repeat 0 0;
}

	.decor {
		margin-top:-18px;
	}
        .nevyansk .decor {
            margin-top: -83px;
           
        }
		.main-menu {
			margin-left:38px;
		}
        .nevyansk .main-menu {
            margin-left:0;
             position:relative;
        }
         
         .learn-more-link {
            position:absolute;
            left: 124px;
            top: 368px;
            
         }   
            .learn-more-link  a{
                color:#5b185b;
                text-decoration:none;
                font-size:16px;
                line-height:18px;
                width:103px;
                display:block;
                padding-top:120px;
            }
		
		.main-image {
			float:left;
			margin:-258px 26px 0 -38px;
		}
		.arkaim .main-image {
			margin-bottom:-30px;
		}
		.astrahan .main-image {
			margin-bottom:-5px;
			margin-top:-267px;
		}
		.nevyansk .main-image {
			margin:-210px 40px 0 23px;
		}

        .rodina .main-image {
            margin-top:-341px;
        }

        .tretyakovf .main-image {
            margin-top:-232px;
        }

        .vladivostok .main-image {
            margin-top:-228px;
        }
		
			.main-description {
				color:#2f4eb2;
				font:17px/17px "Trebuchet MS", Helvetica, sans-serif;
				overflow:hidden;
				width:312px;
				height:300px;
			}
			.arkaim .main-description  {
				color:#A8691D;
			}
			.astrahan .main-description  {
				color:#AF4135;
			}
			.datzan .main-description  {
				color:#257773;
			}
			.dazan .main-description  {
				color:#257773;
			}
			.kul-sharif  .main-description  {
				color:#5E67A5;
			}
			.nevyansk   .main-description {
				color:#237A76;
			}
			.petergof  .main-description  {
				color:#92599B;
			}
			
			.rodina  .main-description  {
				color:#2F4EB2;
			}
			.tretyakovf  .main-description  {
				color:#C16825;
			}
			.vladivostok  .main-description  {
				color:#7C5968;
			}

		.content {
		
		}
			.puzzle-description {
				width:370px;
				color:#ce115e;
				font:14px/17px "Trebuchet MS", Helvetica, sans-serif;
				
			}
            .nevyansk .puzzle-description  {
                margin-top:29px;
                color:#5b185b;
            }
				.puzzle-description-text {
					
				}	
					.puzzle-description-text p {
						margin:0;
					}
				
				.puzzle-slider {
					width:350px;
					height:351px;
					background:url(../img/child-puzzles-frame.png) no-repeat 0 0;
					
				}
					.puzzle-wrap {
						position:relative;
						width:350px;
						height:273px;
					}
						.puzzle-setka-wrap {
							position:absolute;
							top:50%;
							left:50%;
							width:320px;
							height:213px;
							margin:-106px 0 0 -160px;
						}
							.puzzle-setka {
								position:absolute;
								top:0;
								left:0;
								display:block;
								width:100%;
								height:100%;
								
							}

				
			.case-1  {
				width: 785px;
				margin: 119px 0 0 217px;
			}
				.case-1 .puzzle-description {
					float:left;
				}	
                .puzzle-tip {
                    position: relative;
                    top: -11px;
                    left: -16px;
                }
				.case-1 .puzzle-slider {
					float:right;
					
				}
					.case-1 .puzzle-description-text {
						margin-left: 23px;
						margin-top: 9px;
					}

			
			.case-2	{
				width: 802px;
				margin: 109px 0 0 358px;
			}
            .nevyansk  .case-2 {
                margin-left:329px;
                width:750px;
                margin-top:107px;
            }
				.case-2 .puzzle-description {
					float:right;
					font-size:15px;
					line-height:17px;
				}
					
				.case-2 .puzzle-slider {
					float:left;
					margin-top:23px;
					
				}
				.case-2 .puzzle-description-text {
					margin:17px 0 0 20px;
					width:280px;
				}
                .nevyansk .case-2 .puzzle-description-text {
                    margin: 26px 0 0 56px;
                    width: 252px;
                    font-size: 18px;
                }

				
			.case-3	{
				width: 759px;
				margin: 16px 0 0 296px;
			}
				.case-3 .puzzle-description {
					float:left;
					font-size:15px;
					line-height:17px;
				}
					
				.case-3 .puzzle-slider {
					float:right;
					margin-top:90px;
					
				}	
				.case-3 .puzzle-description-text {
						margin:1px 0 0 10px;
						width:280px;
					}
				
				
			.case-4	{
				width: 807px;
				margin: 296px 0 0 225px;
			}
				.case-4 .puzzle-description {
					float:right;
					font-size:15px;
					line-height:17px;
				}
					
				.case-4 .puzzle-slider {
					float:left;
					margin-top:-120px;
					
				}	

				.case-4 .puzzle-description-text {
					margin: 15px 0 0 10px;
					width:350px;
				}
                
            .case-5	{
				
				margin: 16px 0 0 296px;
			}   
            .case-6	{
				
				margin: 0 0 0 296px;
			}   
            
            .case-7 {
                margin: 81px 0 0 394px;
            }
                .test-yourself {
                    
                }
                    .test-yourself img {
                        display:block;
                    
                        margin-left: 8px;
}
                    .test-link {
                        width: 170px;
                        display:block;
                        text-decoration:none;
                        padding: 35px 132px 30px 0;
                        background: url(../img/nevyansk/arrow.png) no-repeat 100% 0px;
                    
                        font-size: 18px;
                        line-height: 18px;
                        margin-top: -5px;
}
                    
            .case-8 {
                margin: 0 0 0 283px;
            }  
                .compare {
                    width: 837px;
                    
                }
                    .compare-sign {
                        margin: -149px 0 -28px;
                        float:right;
                    }
                    .compare-images {
                        clear:both;
                    }
                        .compare-image {
                            float:left;
                            background:#fff;
                            padding:17px;
                             border-radius:15px;
                             margin-right:17px;
                             position:relative;
                        }
                        
                        .hidden-parts {
                            position:absolute;
                            top:0;
                            left:0;
                            width:100%;
                            height:523px;
                            z-index:2;
                            
                        }
                            .hidden-parts div {
                                position:absolute;
                                
                            }
                            .star {
                                top: 25px;
                                left: 123px;
                                width:9px;
                                height:15px;
                                background:url(../img/nevyansk/compare/star.png) no-repeat 0 0;
                            }
                            .bird {
                                top: 180px;
                                left: 182px;
                                width:12px;
                                height:22px;
                                background:url(../img/nevyansk/compare/bird.png) no-repeat 0 0;
                            }
                            .plane {
                                top: 66px;
                                left: 202px;
                                width:40px;
                                height:20px;
                                background:url(../img/nevyansk/compare/plane.png) no-repeat 0 0;
                            }
                            .sobor {
                                top: 271px;
                                left: 272px;
                                width:43px;
                                height:121px;
                                background:url(../img/nevyansk/compare/sobor.png) no-repeat 0 0;
                            } 
                            
                           
                            .person {
                                top: 162px;
                                left: 161px;
                                width:23px;
                                height:36px;
                                background:url(../img/nevyansk/compare/person.png) no-repeat 0 0;
                            }
                            .windows {
                                top: 210px;
                                left: 103px;
                                width:57px;
                                height:44px;
                                background:url(../img/nevyansk/compare/windows.png) no-repeat 0 0;
                            }
                            .roof {
                                top: 249px;
                                left: 91px;
                                width:183px;
                                height:104px;
                                background:url(../img/nevyansk/compare/roof.png) no-repeat 0 0;
                            }
                            .flower {
                                top: 389px;
                                left: 117px;
                                width:27px;
                                height:50px;
                                background:url(../img/nevyansk/compare/flower.png) no-repeat 0 0;
                            }
                            .bike {
                                top: 491px;
                                left: 113px;
                                width:42px;
                                height:41px;
                                background:url(../img/nevyansk/compare/bike.png) no-repeat 0 0;
                            }
                            .cat {
                                top: 360px;
                                left: 331px;
                                width:25px;
                                height:23px;
                                background:url(../img/nevyansk/compare/cat.png) no-repeat 0 0;
                            }
                            .hidden-parts div.inv {
                                background:none;
                            }
                            
                            
                            
                            
            
				
		.footer-menu {
			margin: 37px 0 0 39px;
		}		
		.nevyansk .footer-menu {
            margin:58px 0 0 94px;
        }	
            

        .choose-one {
        
        }        
            .choose-panel {
                position:relative;
                width:500px;
                float:left;
            } 
                .choose-panel .choice {
                    display:inline-block;
                    vertical-align:baseline;   
                    width:33%; 
                    text-align:center;                    
                }
                
                .panel-line {
                    width:100%;
                    position:absolute;
                    bottom:0;
                    left:0;
                    height:15px;
                    background:#885889;
                }
            
            .choice-result {
            
            }    
                
                .choice-result img {
                    margin-left: -12px;
                }
                    .choice-result p {
                        margin-left: 30px;
                        font-size: 17px;
                        line-height: 17px;
                        margin-top: 28px;
                    }
                    
                .choice-result img.riddle-wrong {
                   margin-left: -43px;
                    margin-top: 19px;
                    margin-bottom: -13px;
                }
                   
                
                .choice-result  img.riddle-right {
                    margin-left: -22px;
                    margin-top: 19px;
                    margin-bottom: -13px;
                } 
                    
                
                
                
        .nev-riddle-1  {
            margin-top: 259px;
            margin-left: 55px;
        }    
           .nev-riddle-1 .choose-panel {
                width:560px;
            
                margin-top: 18px;
}

        
            .nev-riddle-1 .choice-result {
                margin-left:580px;
                height: 366px;
                width:300px;
            
                font-size: 18px;
}
            
        .nev-riddle-2  {
            margin-top: 61px;
            margin-left: 62px;
            width: 726px;
        
            height: 346px;
}    
           .nev-riddle-2 .choose-panel {
                width:460px;
                float:right;
            
                margin-top: 65px;
}

        
            .nev-riddle-2 .choice-result {
                margin-right:480px;
                height:150px;
                width:300px;
            }    
            
            
               
              .nev-riddle-2 .choice-result img {
                    margin-left: -2px;
                    margin-top: 3px;
                }
                     .nev-riddle-2 .choice-result p {
                        margin-left: -50px;
                        margin-top: 33px;
                    }
                    
                 .nev-riddle-2 .choice-result img.riddle-wrong {
                    margin-top: 3px;
                }
                   
                
                 .nev-riddle-2 .choice-result  img.riddle-right {
                    
                } 
                
                
    .overlay {
        background:#000;
        opacity:0.5;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }            
    .window {
        position:absolute;
        top:50%;
        left:50%;
        width:963px;
        height:580px;
        margin:-290px 0 0 -482px;
        background:url(../img/nevyansk/window_bg.jpg) no-repeat 0 0;
    }   
        .close {
            width:30px;
            height:30px;
            display:block;
            position:absolute;
            top:35px;
            right:36px;
            
        }
            .window-text {
               width: 650px;
                height: 272px;
                overflow: auto;
                color: #683290;
                font-size: 13px;
                position: absolute;
                top: 182px;
                left: 196px;
            }
                 .window-text p {
                    margin-bottom:20px;
                    margin-top:0;
                 }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}