{% include 'ArmdMkResourcesBundle::nav-sections.html.twig' %}

<h1>{{ entity.title }}</h1>

<p class="item-dfn item-dfn-sm">{#{ entity.announce|raw}#}</p>

<aside id="sidebar-i-l">
	
	<div class="image-block-description ">
		{% if entity.image %}
			<div style="padding-top:20px; padding-bottom:0px;">{% thumbnail entity.image, 'big' %}</div>
			{% if entity.image.description%}
				<p class="image-author-copyrights" style="padding-top: 3px;">{{entity.image.description}}</p>
			{% endif %}
		{% endif %}	
	</div><!-- /info-box -->
</aside><!-- /sidebar-i-l -->

{{ entity.body|raw }}
<p class="news-item-source" style="margin-right:45px;">{{entity.href}}</p>

{#% include 'ArmdMkResourcesBundle::socials-box.html.twig' %#}
