{% extends '::special.html.twig' %}
{% block body%}
	<h1>О проекте</h1>
	<div class="text">
	<p>
		Портал «Культура.рф» — уникальный веб-ресурс, созданный для популяризации культурного наследия нашей страны. На портале представлены материалы самых разнообразных форматов — новости, инфографика, фотографии, видеозаписи. Доступ к контенту максимально упрощен, разработаны PDA-сайт и версия для слабовидящих.
</p><p>
		На портале можно посмотреть трансляции выступлений отечественных и зарубежных артистов, совершить виртуальные экскурсии по музеям в разных городах страны, прослушать краткие лекции и мастер-классы ведущих деятелей культуры.
</p><p>
		Взаимосвязь развития культуры и истории наглядно отображает раздел «Лента времени»: здесь можно проследить хронологию ключевых событий, увидеть главные культурные явления нашей страны с IX века по настоящее время.
</p><p>
		Актуальные мероприятия культурной жизни, включая самые интересные театральные премьеры, выставки, концерты и пр., а также юбилеи деятелей культуры и другие важные события освещаются в регулярно обновляемом разделе новостей.
</p><p>
		Раздел «Атлас» позволяет узнать о культурной жизни всех 83-х субъектов Российской Федерации. В «Атласе» хранится наиболее полная база знаний по региональным учреждениям и объектам культуры, которая постоянно обновляется и пополняется.
</p><p>
		Обсудить вопросы, касающиеся развития культуры в стране, а также материалы портала, пообщаться с известными деятелями культуры, журналистами и критиками можно на базе современной коммуникационной площадки.
</p><p>
		Портал создан Министерством культуры РФ в соответствии с поручением Правительства от 8 сентября 2010 года № ВП-П10-6224. Развитие проекта осуществляется в рамках мероприятий государственной программы «Информационное общество (2011-2020 годы)».
		</p>
	</div>
{% endblock %}