{% block armd_media_file_type_widget %}
{% spaceless %}
<div class="armd-sonata-media-file">
    {% if form.vars.value is not empty %}
        {% if media_provider == 'sonata.media.provider.image' %}
            {% media form.vars.value, media_format %}
        {% elseif media_provider == 'sonata.media.provider.file' %}
            {{ form.vars.value.name }}
        {% endif %}
    {% endif %}
    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock %}


{% block armd_dcx_media_file_type_widget %}
{% spaceless %}
<div class="armd-sonata-media-file">
    {% if form.vars.value is not empty %}
        {% media form.vars.value.currentMediaId,  media_format %}
    {% endif %}
    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock %}


{% block armd_media_video_type_widget %}
{% spaceless %}
<div class="armd-sonata-media-video">
    {% if form.vars.value is not empty %}
        {% media form.vars.value, media_format with { 'style': 'float: left; padding: 0 0 10px 10px;'} %}
    {% endif %}

    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock %}
