{% block armd_media_file_type_widget %}
{% spaceless %}
<div class="armd-sonata-media-file">
    {% if form.vars.value is not empty %}
        {% if media_provider == 'sonata.media.provider.image' %}
            {% media form.vars.value, media_format %}
        {% elseif media_provider == 'sonata.media.provider.file' %}
            {{ form.vars.value.name }}
        {% endif %}
    {% endif %}
    {{ form_widget(form) }}
</div>
{% endspaceless %}
{% endblock %}


