{% extends '::two_column_news.html.twig' %}
	{% block press_header%}
		<div class="title-block gray-press">
			<h2>Пресс-центр</h2>
		</div>
	{% endblock %}
	{% block this_day_list%}
		{% render "ArmdNewsBundle:News:thisdaylist" with {"month": date|date('m'), "day": date|date('d')} %}
	{% endblock %}
	{% block top_list%}
		{% include "ArmdNewsBundle:News:list.html.twig" with {"entities": entities} %}
	{% endblock %}
	
	{% block afisha%}
	<div class="clear"></div>
	<div class="news-afisha">
		<div class="title-block">
			<h2>Афиша</h2>
		</div>
		<ul class="news-afisha-list">
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
			<li class="nal-one">
				<div class="nal-one-block">
					<span class="nal-date">17 Дек./2011</span>
					<p class="nal-header">	
						Театр «Современник» погрузился в «Анархию»</p>
					<p>
					«За смелость называться «Современником» нужно отвечать всю
					жизнь». Так говорит Галина Волчек, а потому и готова нести
					ответственность за «Анархию»
					</p>
				</div>
			</li>
		</ul>
	</div>	
	{% endblock %}
	
	{% block filter_header%}
		<div class="title-block gray-filter">
			<h2>Фильтрация</h2>
		</div>
	{% endblock %}
	{% block calendar%}
		
			{% render "ArmdNewsBundle:Calendar:widget" with {"year": date|date('Y'), "month": date|date('m'), "day": date|date('d')} %}
		
	{% endblock %}
	{% block filter%}
		<div class="filter-checkboxes">
			<label class="checked">
				<input type="checkbox" checked />
				События
			</label>
			<label class="checked">
				<input type="checkbox" checked />
				Новости
			</label>
			<label>
				<input type="checkbox" />
				Интервью
			</label>
			<label class="checked">
				<input type="checkbox" checked />
				Репортажи
			</label>
			<label>
				<input type="checkbox"  />
				Рецензии
			</label>
		</div>
	{% endblock %}
	




