<div class="news-dates-filter" id="news-dates-filter">
	<form action="" class="clearfix">
		<p class="ndf-label">Выберите период</p>
		<div class="ndf-line">
			<label for="from-date">c</label>
			<input type="text" class="calendar-input" id="from-date" />
			
		</div>
		<div class="ndf-line">
			<label for="to-date">по</label>
			<input type="text" class="calendar-input" id="to-date" />
		</div>
		<input type="submit" class="button choose-news" value="Отобрать" />
	</form>
	<div class="news-dates-chosen">
		12 Сентября /2012 - 16 Сентября /2012
	</div>
</div>
