<div id="calendar"></div>

{#<div class="news-dates-filter" id="news-dates-filter">
	<form action="" class="clearfix">
		<p class="ndf-label">{{ 'Period'|trans }}</p>
		<div class="ndf-line">
			<label for="from-date">{{ 'from'|trans }}</label>
			<input type="text" class="calendar-input" id="from-date" />
			
		</div>
		<div class="ndf-line">
			<label for="to-date">{{ 'till'|trans }}</label>
			<input type="text" class="calendar-input" id="to-date" />
		</div>
		<input type="submit" class="button choose-news" value="{{ 'Show'|trans}}" />
	</form>
	
</div>#}
