<ul class="news-press-filter">
{% for c in categories %}
	<li>
	   <a href="{{ path('armd_news_list_index_by_category', {'category': c.slug }) }}"
	       {% if c.slug == category %}class="active"{% endif %}>{{ c.title }}</a>
    </li>
{% endfor %}
	<li>
	   <a href="{{ path('armd_paper_archive') }}"
	       {% if 'archive' == category %}class="active"{% endif %}>{{ 'Archive'|trans }}</a>
    </li>
</ul>
