<div class="press-more">
	<div class="title-block">
		<h2>Читайте также</h2>
	</div>
	<ul class="press-more-list">
	{% for n in news %}
	   {% set href = path('armd_news_item_by_category', { 'id': n.id, 'category': n.category.slug }) %}
		<li class="press-more-list-one">
			<a href="{{ href }}">
			    {% thumbnail n.image, 'latest' %}
			</a>
			<div class="pml-text">
				<span class="pml-type">{{ n.category.title }}</span>
				<p>
					<a href="{{ href }}">{{ n.title }}</a>
				</p>
			</div>	
		</li>
    {% endfor %}
	</ul>
</div>
