<a href="{{ admin.generateObjectUrl('editPage', object) }}" title="редактирование страницы">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/application_edit.png') }}" alt="редактирование страницы" />
</a>