app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/app/config/sphinx/sphinx.conf
/build
/vendor
/composer.phar
/tmp
*~
/.idea
*.orig
/bin
/tmp

/web/.htaccess
/web/_tmp
/web/uploads
/web/bundles
/web/sitemap
