app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/build
/vendor
/composer.phar
/tmp
*~
/.idea
*.orig
/bin
/tmp

/web/.htaccess
/web/_tmp
/web/uploads
/web/bundles
/web/sitemap


#OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Symphony cache
app/cache
app/logs.idea/

app/cache/
*.log

web/css/48ed673.css
web/css/48ed673_comments_1.css
web/js/35a8e64.js
web/js/35a8e64_comments_1.js
web/js/91a314a.js
web/js/91a314a_blogs_1.js

web/html/*