web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build/
vendor
composer.phar

app/config/parameters.yml
tmp/
web/uploads/
*~
.idea/
*.orig

/bin
/tmp
/web/.htaccess