.editPage_confirmButton {
    position: fixed;
    width: 200px;
    height: 30px;
    top: 0;
    right: 0;
    background-color: #F79016;
    border-left: 2px solid #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    padding-top: 5px;
    padding-left: 50px;
}
.editPage_confirmButton:hover {
    background-color: rgba(255,160,0,1);
}