.intermuseum .noMarginTop {
	margin-top: 0;
}
.intermuseum .content-text h2 {
	font: 25px 'Trebuchet MS', sans-serif;
	border: 0;
	color: black;
	margin: 1px 0 16px;
}
.intermuseum .content-text h3 {
	font: 20px 'Trebuchet MS', sans-serif;
	color: black;
	margin: 35px 0 20px;
}
.intermuseum .content-text-center {
	text-align:center;
	margin-bottom:40px;
}
.intermuseum .marginBottom {
	margin-bottom: 6px;
}

.stanislavski .floatedRight {
	width: 320px;
	float: right;
	margin: 0 20px 0 0;
}

.borodino .spacerLi {
	width: 100%;
	float: none;
	height: 1px;
}
.borodino .overflowDiv {
	overflow-y: auto;
	height: 500px;
	margin-bottom: 25px;
}
.borodino #events-filter table tbody {
	display: block;
    overflow-y: scroll;
    height: 1805px;
}

.may9 .marginBottom {
	margin-bottom: 20px;
}
.may9 .spacerBlock {
	height: 60px;
}
.may9 .imgMaxWidth {
	max-width: 100%;
}
.may9 .hiddenDiv {
	display: none;
}
.may9 .fancyboxWrapper {
	width: 640px;
	height: 365px;
}

.may9_day .marginBottom35 {
	margin-bottom: 35px;
}
.may9_day .marginBottom20 {
	margin-bottom: 20px;
}
.may9_day .marginBottom15 {
	margin-bottom: 15px;
}
.may9_day .hiddenLink {
	display: none;
}
.may9_day .relativeHiddenOverflow {
	overflow: hidden;
	position: relative;
}
.may9_day ul.weird {
	width: 1200%;
	-webkit-transition: 0s;
	transition: 0s;
	-webkit-transform: translate3d(-308px, 0, 0);
}
.may9_day il.weird li {
	width: 308px;
	float: left;
	display: block;
}

.may9_films .marginBottom15 {
	margin-bottom: 15px;
}
.may9_films .relativeHiddenOverflow {
	overflow: hidden;
	position: relative;
}
.may9_films ul.weird {
	width: 1200%;
	-webkit-transition: 0s;
	transition: 0s;
	-webkit-transform: translate3d(-308px, 0, 0);
}
.may9_films il.weird li {
	width: 308px;
	float: left;
	display: block;
}














.index-block p {
    margin-left: 0px;
}
.right-news-list-text {
    text-decoration: none;
}







.tolstoy p {
    margin-left: 100px;
}
.tolstoy blockquote{
	padding-left: 60px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 10px;
	color: #ffffff;
	margin-left: 5%;
	width: 70%;
	font-family: "PT Serif", serif;
	font-size: 14px;
	line-height: 140%;
	color: #5e5e5e;
}
.tolstoy blockquote p {
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	line-height: 120%;
}
.tolstoy blockquote p.subscribe {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
	text-align: left;
}
.tolstoy blockquote p {
	margin: 3px 0 10px;
}



ul.marginBottom {
	margin-bottom: 20px;
}