html, body, div, p, h1,h2,h3,h4,h5,img,ul {
	margin:0;
	padding:0;
	display:block;
}
body {
	font:13px Arial, Helvetica, sans-serif;
	background: url(../img/bg-map.png);
}

a img {
	border: none;
}




.map {
	width:1280px;  
	margin:auto; 
	position:relative;
	z-index: 1;
}

	.top-links {
		position: absolute;
		width: 1280px;
		height: 200px;
		left: 0;
		top: 0;
		z-index: 5000;
	}

	.back-link {
		position:absolute;
		top: 21px;
		left: 50px;
		width:100px;
		height:90px;
		display:block;
		z-index:5010;		
	}
		.back-link img {
			width:100px;
			
		}

		.back-link img,
		.symb-link img,
		.feedback-link img {
			display: none;
		}

		
		.back-link:hover img,
		.symb-link:hover img,
		.feedback-link:hover img {
			display: block;
		}

		img.ie-dum {
			display: block !important;
		}


		a:hover img.ie-dum {
			display: none !important;
		}
		
		
	.symb-link {
		position: absolute;
		top: 159px;
		left: 687px;
		width: 100px;
		height: 90px;
		display: block;
		z-index: 5010;
	}
		.symb-link img {
			width: 111px;
		
			
		}
		.symb-link:hover img {
			
		}		
	
	.feedback-link {
		position: absolute;
		top: 53px;
		left: 1092px;
		width: 100px;
		height: 90px;
		display: block;
		z-index: 5020;	
	}
		.feedback-link img {
			width: 107px;
			
		}
	
.lt-ie9  #image {
	z-index: -1;
	position: relative;
}

	.objects {
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
	}

	.lt-ie9 .objects {
		z-index: 10;
	/*	height: 600px;
		top: 200px;*/
	}

.point {
	position:absolute;
	cursor:pointer;
}

	.point a { outline: none; }

.point .current {
		display:none;
	}
	
.lenta {
		position: absolute;
		left: 50%;
		bottom: -12px;
		margin: 0 0 0 -66px;
		height: 20px;
		
		background: url(../img/lenta.png) no-repeat 100% -35px;
		padding-right: 19px;
		line-height:20px;
		display:none;
		
	}
		.lenta-wrap {
			height: 20px;
			width: 86px;
			display: block;
			background: url(../img/lenta.png) no-repeat 0 0;
			text-align: center;
			color: #502B7A;
			text-transform: uppercase;
			padding-left: 19px;
			
			font: bold 11px/9px 'Arial Black', helvetica, sans-serif;
			padding-top:6px;
		}	
	
	.mos {
		top: 381px;
		left: 208px;
	}
		.mos img {
			width:80px;
		}
		
	.piter {
		top: 300px;
		left: 162px;
	}
		.piter img {
			width:107px;
		}	
		.piter .lenta {
			margin-left:-90px;
		}
			.piter .lenta-wrap  {
				width:139px;
			}
			
	.rodina {
		top: 348px;
		left: 120px;
	}
		.rodina img {
			width:52px;
		}	
		.rodina .lenta {
			margin-left: -71px;
		}
			.rodina .lenta-wrap  {
				width:104px;
			}
				
	.vlad {
		top: 723px;
		left: 1085px;
		
	}
		.vlad img {
			width:81px;
		}	
		.vlad .lenta {
			margin-left: -71px;
		}
			.vlad .lenta-wrap  {
				width:104px;
			}
				
				
	.astra {
		top: 508px;
		left: 73px;
		
	}
		.astra img {
			width:81px;
		}	
		.astra .lenta {
			margin-left: -71px;
		}
			.astra .lenta-wrap  {
				width:104px;
			}
			
	.arch {
		top: 497px;
		left: 350px;
		
	}
		.arch img {
			width: 109px;
		}	
		.arch .lenta {
			margin-left: -71px;
		}
			.arch .lenta-wrap  {
				width:104px;
			}
			
	.dacan {
		top: 645px;
		left: 755px;
		
	}
		.dacan img {
			width: 94px;
		}	
		.dacan .lenta {
			margin-left: -63px;
		}
			.dacan .lenta-wrap  {
				
			}		
	
	.kul {
		top: 374px;
		left: 293px;
		
	}
		.kul img {
			width: 60px;
		}	
		.kul .lenta {
			
		}
			.kul .lenta-wrap  {
				
			}
	
	.nev {
		top: 390px;
		left: 410px;
		
	}
		.nev img {
			width: 77px;
		}	
		.nev .lenta {
			margin-left: -71px;
		}
			.nev .lenta-wrap  {
				width:104px;
			}
				
	
	.krasnoyarsk {
		top: 550px;
		left: 550px;
		
	}

		.krasnoyarsk .lenta {
				bottom: -8px;
			}
	
	
	
		
		
		
		
	.active {
	
	}
		.active .current {
			display:block;
		}
		.active .normal {
			display:none;
		}
		.active .lenta {
			display:block;
		}
		

#window {
	position:absolute;
	bottom: 20px;
	left: 107px;
	width:300px;
	height:200px;
	
}	
	
	.lenta-big {
		position: relative;
		left: 10px;
		top: 0;
		height: 34px;
		width: 199px;
		background: url(../img/lenta-big.png) no-repeat 100% -51px;
		padding-right: 46px;
		margin-bottom:7px;

		
	}
		.lenta-big-wrap {
			height: 34px;
			width: 155px;
			display: block;
			background: url(../img/lenta-big.png) no-repeat 0 0;
			text-align: center;
			color: #502B7A;
			text-transform: uppercase;
			padding-left: 46px;
			font:bold 18px/16px Arial Black, helvetica, sans-serif;
			
			padding-top:11px;
			
		}
		
		.objects-slider {
			background:url(../img/slider-bg.png) no-repeat 0 0;
			width:262px;
			height:113px;
		}
			
			.object-slider-content {
				padding:14px 25px 0 20px;
			}
			.object-icon {
				display:inline-block;
				vertical-align:top;
				width:49.9%;
				text-align:center;
			}
			.object-icon-one {
				width:100%;
			}
				.object-icon a  {
					text-decoration:none;
				}
				
				.object-icon  img {
					height:54px;
					margin:auto;
				}
					.object-icon  p {
						color:#fff;
						text-decoration:none;
						font-size:9px;
						line-height:9px;
						margin-top:5px;
					}
	
	.piter_window {
	
	}
		.piter_window  .lenta-big {
			left: -15px;
			width: 253px;
		}
		.piter_window .lenta-big-wrap {
			width: 210px;
		}
	
.objects {	
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
