{% spaceless %}
    {% if actualInfo is not empty %}
        <div class="b-citate-of-day">
        {% if actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_TEXT') %}
            <h3 class="e-block-title">«Цитата дня»</h3>
            <div class="e-citate-content">
                <i>{{ actualInfo.text|raw }}</i>
            </div>
        {% elseif actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_IMAGE') %}
            <h3 class="e-block-title">«Фото дня»</h3>
            <div class="e-citate-content">
                <img src="{% path actualInfo.image, 'main' %}" alt="">
            </div>
        {% elseif actualInfo.type == constant('\\Armd\\ActualInfoBundle\\Entity\\ActualInfo::TYPE_VIDEO') %}
            <h3 class="e-block-title">«Видео дня»</h3>
            <div class="e-citate-content">
                <a href="{{ path('armd_lecture_view', {'id': actualInfo.video.id}) }}" class="period-block_image">
                    {% thumbnail actualInfo.video, 'main' with {'alt': actualInfo.video.title, 'width': '100%', 'height': 'auto', 'style': 'height: auto' } %}
                    <span class="play"></span>
                </a>
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endspaceless %}