{% extends '::base.html.twig' %}
{% block body%}
	<div class="index-blocksection clearfix">
    <div class="main-left">
        <div class="atlas-center atlas-center-index">
            {% block atlas_header%}	{% endblock %}
            {% block atlas_tab%}
                &nbsp;
            {% endblock %}
            {% block rus_tab%}
                &nbsp;
            {% endblock %}
        </div>
        <div id="new-on-site">
            {% block new_on_site %}
                &nbsp;
            {% endblock %}
        </div>
    </div>
    <div class="main-right">
        {% block afisha%}
      			&nbsp;
        {% endblock %}
    </div>
	{#<div class="filter">#}
		{#{% block filter_header%}{% endblock %}#}
		{#{% block online%}#}
		{#&nbsp;#}
		{#{% endblock %}#}
		{#{% block index_article%}#}
		{#&nbsp;#}
		{#{% endblock %}#}
	{#</div>#}
	{#<div class="atlas-center atlas-center-index">#}
	{#{% block atlas_header%}	{% endblock %}#}
	{#{% block atlas_tab%}#}
		{#&nbsp;#}
	{#{% endblock %}#}
	{#{% block rus_tab%}#}
		{#&nbsp;#}
	{#{% endblock %}#}
	{##}
	{#</div>#}
	</div>
{% endblock %}

{% block bottom_blocks%}
	<div class="hrbold w"></div>
	<div class="blocksection w clearfix" id="s-section">
        <div class="main-left">
            {% block community%}
          			&nbsp;
            {% endblock %}
        </div>
        <div class="main-right">
            {% block online%}
            &nbsp;
            {% endblock %}
            {% block index_article%}
            &nbsp;
            {% endblock %}

        </div>
	</div>
{% endblock %}