{% extends '::base.html.twig' %}
{% block body%}
	<div class="index-blocksection clearfix">
	<div class="filter">
		{% block filter_header%}{% endblock %}
		{% block online%}
		&nbsp;
		{% endblock %}
		{% block index_article%}
		&nbsp;
		{% endblock %}
	</div>
	<div class="atlas-center atlas-center-index">
	{% block atlas_header%}	{% endblock %}
	{% block atlas_tab%}
		&nbsp;
	{% endblock %}
	{% block rus_tab%}
		&nbsp;
	{% endblock %}
	
	</div>
	</div>
{% endblock %}

{% block bottom_blocks%}
	<div class="hrbold w"></div>
	<div class="blocksection w clearfix" id="s-section">
		{% block community%}
			&nbsp;
		{% endblock %}
		{% block afisha%}
			&nbsp;
		{% endblock %}
	</div>
{% endblock %}