{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block body%}
	<div class="news-press-center">
        <div class="title-block">
            <h2>{% block header %}{% endblock %}</h2>
    	</div>
	{% block top %}
		&nbsp;
	{% endblock %}
	{% block center %}
		&nbsp;
	{% endblock %}
	{% block content %}
		&nbsp;
	{% endblock %}
	</div>
{% endblock %}