{% extends '::base.html.twig' %}
{% block body%}
	<div class="news-press-center">
        <div class="title-block">
            <h2>{% block header %}{% endblock %}</h2>
    	</div>
	{% block top %}
		&nbsp;
	{% endblock %}
	{% block center %}
		&nbsp;
	{% endblock %}
	{% block content %}
		&nbsp;
	{% endblock %}
	</div>
{% endblock %}