<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <table border="1">
            <tr>
                <td>{% block header%}&nbsp;{% endblock %}</td>
            </tr>
            <tr>
                <td>{% block body%}&nbsp;{% endblock %}</td>
            </tr>
        </table>
        {% block javascripts %}{% endblock %}        
    </body>
</html>
