{% extends ':Frontend:base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css" media="screen" />
	<style type="text/css">
		#ui-datepicker-div {width:200px;}
	</style>
{% endblock %}
{% block page_header_title %}{% block header %}{% endblock %}{% endblock %}
{% block body%}
	
	<div class="news-press clearfix">	
		
		<div class="news-press-center">
			{% block caterories %}
			&nbsp;
			{% endblock %}
			{% block content %}
				&nbsp;
			{% endblock %}
		</div>
		<div class="news-press-right">
		{% block top_right %}
			&nbsp;
		{% endblock %}
		{% block center_right %}
			&nbsp; 
		{% endblock %}
		{% block bottom_right %}
			&nbsp;
		{% endblock %}
		</div>
	</div>
{% endblock %}