{% extends '::base.html.twig' %}
{% block body%}
	<div class="filter">
		{% block filter_header%}
		&nbsp;
		{% endblock %}
		{% block calendar%}
		&nbsp;
		{% endblock %}
		{% block filter%}
		&nbsp;
		{% endblock %}
	</div>
	<div class="news-press-center">
	{% block press_header%}
		&nbsp;
	{% endblock %}
	{% block this_day_list%}
		&nbsp;
	{% endblock %}
	{% block top_list%}
		&nbsp;
	{% endblock %}
	{% block afisha%}
		&nbsp;
	{% endblock %}
	</div>
{% endblock %}