{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('/css/jquery-ui-1.8.21.custom.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block body%}
	<div class="filter">
		{% block filter_header%}
		&nbsp;
		{% endblock %}
		{% block calendar%}
		&nbsp;
		{% endblock %}
		{% block filter%}
		&nbsp;
		{% endblock %}
	</div>
	<div class="news-press-center">
	{% block press_header%}
		&nbsp;
	{% endblock %}
	{% block this_day_list%}
		&nbsp;
	{% endblock %}
	{% block top_list%}
		&nbsp;
	{% endblock %}
	{% block afisha%}
		&nbsp;
	{% endblock %}
	</div>
{% endblock %}