{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% spaceless %}
        {% if object.parent.children[object.parent.children|length - 1].id != object.id %}
            <a href="{{ path('armd_exhibit_admin_category_tree_down', {'id': object.id}) }}">
                <img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_down.png') }}" alt="{% trans %}Вниз{% endtrans %}" />
            </a>
        {% endif %}
    {% endspaceless %}

{% endblock %}