{% extends '::base.html.twig' %}

{% block body %}

<div class="blocksection index-blocksection w clearfix" id="f-section">
    <div class="title-block orange">
        <h2>Образы России</h2>
    </div>

    <div class="obrazy">
        <form action="" class="obr-form">
            <div class="obr-text-input">
                <input type="text" name="search" id="search_text" value="Поиск по объектам"/>
            </div>
            <input type="button" class="obr-submit-input" value=""/>
        </form>
        <div class="rusObr-block">
            <ul class="rusObr-list clearfix">

                {% for object in objects %}
                    <li>
                        <div class="rusObr-list-one-wrap" style="">
                            <div class="rusObr-list-one">
                                <a href="{{ path('armd_atlas_default_object_view', {id: object.id} ) }}"><img src="common/img/photo/rusobr1.jpg" alt="" class="rusObr-list-image"/></a>

                                <div class="rusObr-list-text">
                                    <a href="{{ path('armd_atlas_default_object_view', {id: object.id} ) }}" class="rusObr-list-header">
                                        {{ object.title }}
                                    </a>

                                    <p class="rusObr-list-place">
                                        {% for region in regions %}
                                            {{ region.title }}
                                            {% if not loop.last %}/{% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <!--<div class="rusHovered-contacts" >
                                <div class="obj-o-contacts-text">
                                    <p class="obj-o-contacts-main">
                                        г. Рыбинск <br />
                                        Преображенский пер., 6а
                                    </p>
                                    <p class="obj-o-contacts-main">
                                        Сайт: &nbsp;<a href="http://www.rybmuseum.ru">http://www.rybmuseum.ru</a><br />
                                        Email: <a href="mailto:rmz@rybmuseum.ru">rmz@rybmuseum.ru</a>
                                    </p>
                                    <p class="obj-o-contacts-main">
                                        Телефон: (4855) 20-17-93
                                    </p>
                                </div>
                            </div>-->
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>

{% endblock %}