{# Шаблон для отладки #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Debug{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

</body>
</html>