<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Atlas via Progorod</title>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

    {% block body %}
        body
    {% endblock %}

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% endblock%}

</body>
</html>