{% for item in russianImages %}
    <li class="js-carousel-item">
        <a href="{{ path('armd_atlas_default_object_view', {id: item.id}) }}" class="e-carousel-image">
            {% thumbnail item.primaryImage, 'atlasW613H408' with {'alt': item.primaryImage.description, 'class': ''} %}
            <span class="e-carousel-title">{{ item.title }}</span>
        </a>
    </li>
{% endfor %}