{% spaceless %}
    {% if russianImages is not empty %}
        {# todo: html #}
        <div id="russia_image_block" style="margin: 20px 0; padding-left:20px; border: 1px solid gray;">
            <div style="font-size:20px;">
                ОБРАЗЫ РОССИИ
                <span style="margin-left:30px;">
                    <a class="order active" href="{{ path('armd_atlas_russia_images_mainpage', {type: 'recommend'}) }}">рекомендуемое</a>&nbsp;
                    <a class="order" href="{{ path('armd_atlas_russia_images_mainpage', {type: 'novel'}) }}">неизведанное</a>&nbsp;
                </span>
            </div>
            <div id="russia_image_widget" class="carousel" style="margin-top:20px;">
                {% include 'ArmdAtlasBundle:Default:mainpageWidgetItem.html.twig' with russianImages %}
            </div>

            <a href="{{ path('armd_atlas_russia_images') }}">Перейти в Образы России</a>
        </div>
    {% endif %}
{% endspaceless %}