<div class="rusObr-block">
    {% if objects|length > 0 %}
        <ul class="rusObr-list clearfix">

            {% for object in objects %}
                <li>
                    <div class="rusObr-list-one-wrap" style="">
                        <div class="rusObr-list-one">
                            <a href="{{ path('armd_atlas_default_object_view', {id: object.id} ) }}">
                                {% if object.primaryImage is not empty %}
                                    <img src="{% path object.primaryImage, 'imagesOfRussia' %}" alt="" class="rusObr-list-image"/></a>
                                {% elseif object.images|length > 0 %}
                                    <img src="{% path object.images[0], 'imagesOfRussia' %}" alt="" class="rusObr-list-image"/></a>
                                {% endif %}

                            <div class="rusObr-list-text">
                                <a href="{{ path('armd_atlas_default_object_view', {id: object.id} ) }}" class="rusObr-list-header">
                                    {{ object.title }}
                                </a>

                                <p class="rusObr-list-place">
                                    {% for region in object.regions %}
                                        {{ region.title }}
                                        {% if not loop.last %}/{% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <!--<div class="rusHovered-contacts" >
                            <div class="obj-o-contacts-text">
                                <p class="obj-o-contacts-main">
                                    г. Рыбинск <br />
                                    Преображенский пер., 6а
                                </p>
                                <p class="obj-o-contacts-main">
                                    Сайт: &nbsp;<a href="http://www.rybmuseum.ru">http://www.rybmuseum.ru</a><br />
                                    Email: <a href="mailto:rmz@rybmuseum.ru">rmz@rybmuseum.ru</a>
                                </p>
                                <p class="obj-o-contacts-main">
                                    Телефон: (4855) 20-17-93
                                </p>
                            </div>
                        </div>-->
                    </div>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <strong>По Вашему запросу объектов не найдено</strong>
    {% endif %}
</div>
