{% for object in objects %}
<li class="full-list-one" >
	<div class="full-list-text">
        {% if object.regions is not empty %}
            {% set region = object.regions[0] %}
    		<a href="#" class="full-list-type object-region" data-region-id="{{ region.id }}">{{ region.title }}</a>
        {% endif %}
		<span class="full-list-name">
            <a href="{{ path('armd_atlas_default_object_view', {id: object.id} ) }}">
                {{ object.title }}
            </a>
		</span>
		<div class="plitka-footer">
			<div class="types-icons">
                <span class="ti-video {% if object.videos is not empty %}active{% endif %}"></span>
                <span class="ti-360 {% if object.virtualTours is not empty %}active{% endif %}"></span>
                <span class="ti-info {% if object.image3d is not empty %}active{% endif %}"></span>
                <span class="ti-photo  {% if object.images is not empty %}active{% endif %}"></span>
                <span class="ti-list"></span>
			</div>
		</div>
	</div>
</li>
{% else %}
    <strong>По Вашему запросу объектов не найдено</strong>
{% endfor %}
