{#{% extends '::base.html.twig' %}#}

{#{% block body %}#}
{#{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}#}

{#{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}#}

{#{% block form %}#}
    {#{{ block('parentForm') }}#}
{#{% endblock %}#}

{#<form enctype="multipart/form-data">#}
    {#{{ form_widget(form) }}#}
{#</form>#}

{#{% set base_template = '::base.html.twig' %}#}

{% include admin.template('edit') with{
    'action': 'edit',
    'form': form,
    'object': object,
    'admin': admin
    'base_template': '::admin_base.html.twig'
} only %}
{#{% endblock %}#}
