{% extends ":Frontend:base.html.twig" %}
{% import 'ArmdUserBundle:Profile:profile_menu.html.twig' as profileMenu %}

{% block page_header_title %}{{ 'profile.atlas_user_objects'|trans }}{% endblock %}

{% block body %}
    <div class="lk-form profile">
        {{ profileMenu.user_profile_menu('atlas-user-objects') }}

        <ul {#class="lk-list-links green"#}>
            {% for object in userObjects %}
                <li><a href="{{ path('armd_atlas_index', {'object_id': object.id} ) }}">{{ object.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}