{% form_theme form 'ArmdUserBundle:Form:lk_form_theme.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" method="POST">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" name="submit" value="{{ 'Save changes'|trans }}" />
    </div>
</form>
