{% if app.environment == 'prod' or app.environment == 'ms' or app.environment == 'ms_en' %}
    <!-- Rating@Mail.ru counter -->
    <script type="text/javascript">//<![CDATA[
    var a='',js=10;try{a+=';r='+escape(document.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
    try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
    try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
    try{(new Image()).src='http://d1.c1.b2.a2.top.mail.ru/counter?id=2232750;js='+js+a+';rand='+Math.random();}catch(e){}//]]></script>
    <noscript><p><a href="http://top.mail.ru/jump?from=2232750"><img src="http://d1.c1.b2.a2.top.mail.ru/counter?js=na;id=2232750"
    style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></a></p></noscript>
    <!-- //Rating@Mail.ru counter -->


<script type="text/javascript">
var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-310467-9']);
    _gaq.push(['_setDomainName', 'culture.ru']);
    _gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


{% endif %}