{% if app.environment == 'prod' or app.environment == 'ms' or app.environment == 'ms_en' %}
    <!-- Rating@Mail.ru counter -->
    <a href="http://top.mail.ru/jump?from=2232750">
    <img src="http://d1.c1.b2.a2.top.mail.ru/counter?id=2232750;t=55;l=1"
    style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
    <!-- //Rating@Mail.ru counter -->

    <!--LiveInternet counter--><script type="text/javascript"><!--
    document.write("<a href='http://www.liveinternet.ru/click' "+
    "target=_blank><img src='//counter.yadro.ru/hit?t14.3;r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random()+
    "' alt='' title='LiveInternet: показано число просмотров за 24"+
    " часа, посетителей за 24 часа и за сегодня' "+
    "border='0' width='88' height='31'><\/a>")
    //--></script><!--/LiveInternet-->

    <!-- Яндекс цитирования -->
    <a href="http://yandex.ru/cy?base=0&amp;host=culture.ru"><img src="http://www.yandex.ru/cycounter?culture.ru" width="88" height="31" alt="Яндекс цитирования" border="0" /></a>
    <!-- /Яндекс цитирования -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter17425498 = new Ya.Metrika({id:17425498, enableAll: true, webvisor:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/17425498" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endif %}