{% if app.environment == 'prod' or app.environment == 'ms' or app.environment == 'ms_en' %}
<!-- Rating@Mail.ru counter -->
    <script type="text/javascript">//<![CDATA[
    (function(w,n,d,r,s){(new Image).src='http://d2.c7.b3.a2.top.mail.ru/counter?id=2323193;js=13'+
    ((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random();})(window,navigator,document);//]]>
    </script><noscript><div style="position:absolute;left:-10000px;"><img src="http://d2.c7.b3.a2.top.mail.ru/counter?id=2323193;js=na"
    style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></div></noscript>
    <!-- //Rating@Mail.ru counter -->


<script type="text/javascript">
var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-310467-9']);
    _gaq.push(['_setDomainName', 'culture.ru']);
    _gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


{% endif %}