{% extends ':Frontend:base.html.twig' %}

{% block body %}
    {% block pre_content %}{% endblock %}
    <div class="one-column">
        {% block one_column %}{% endblock %}
    </div>
{% endblock %}