parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     ~
    database_name:     mk
    database_user:     mk
    database_password: Fa3Sheer

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            ru
    secret:            ThisTokenIsNotSoSecretChangeIt

    progorod_api_key:  e316fab34585f12b5506493c1c17d41c

    sphinxsearch_indexer_bin: c:/sphinx/bin/indexer.exe
    sphinxsearch_host: localhost
    sphinxsearch_port: 9312
    sphinxsearch_index_all: mk_all
    sphinxsearch_index_lectures: mk_lectures
    sphinxsearch_index_atlas: mk_atlas
    domain:

    ######################################################################
    ## multi-server config (used only in app_ms.php frontend controller)

    slave_database_host:     localhost
    slave_database_port:     ~
    slave_database_name:     mk_slave
    slave_database_user:     mk
    slave_database_password: Fa3Sheer

    sonata_media_cdn: http://mk.armd.shams.su/uploads/media/

    sonata_media_ftp_directory: /uploads/media
    sonata_media_ftp_host: localhost
    sonata_media_ftp_username: mk
    sonata_media_ftp_password: 111111
    sonata_media_ftp_port: 21

    ##   /multi-server config
    ######################################################################
