parameters:
    database_driver:   pdo_pgsql
    database_host:     localhost
    database_port:     ~
    database_name:     mk
    database_name_en:  mk
    database_user:     mk
    database_password: Fa3Sheer

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            ru
    secret:            ThisTokenIsNotSoSecretC

    progorod_api_key:  e316fab34585f12b5506493c1c17d41c

    sphinxsearch_indexer_bin: c:/sphinx/bin/indexer.exe
    sphinxsearch_host: localhost
    sphinxsearch_port: 9312
    sphinxsearch_index_all: mk_all
    sphinxsearch_index_lectures: mk_lectures
    sphinxsearch_index_atlas: mk_atlas
    sphinxsearch_index_museums: mk_virtual_museums
    sphinxsearch_index_news: mk_news
    sphinxsearch_index_theaters: mk_theaters
    sphinxsearch_index_perfomances: mk_perfomances

    communication_platform_domain: people.culture.ru
    domain: .culture.ru

    sonata_media_filesystem_path: %kernel.root_dir%/../web/uploads/media
    sonata_media_cdn: http://roskult.ru/ru/uploads/media
    sonata_media_cdn_en: http://roskult.ru/en/uploads/media

    ######################################################################
    ## multi-server config (used only in app_ms.php frontend controller)

    slave_database_host:     localhost
    slave_database_port:     ~
    slave_database_name:     mk_slave
    slave_database_name_en:  mk_slave_en
    slave_database_user:     mk
    slave_database_password: Fa3Sheer

    sonata_media_ftp_directory: /ru/uploads/media
    sonata_media_ftp_directory_en: /en/uploads/media
    sonata_media_ftp_host: localhost
    sonata_media_ftp_username: mk
    sonata_media_ftp_password: 111111
    sonata_media_ftp_port: 21

    ##   /multi-server config
    ######################################################################
