.social-auth {
    position: relative;
    padding: 6px 0 10px 0;
}
.social-auth .social-auth-links {
    list-style-type: none;
    position: absolute;
    top: 9px;
    left: 142px;
}
.social-auth .social-auth-links li {
    display: inline-block;
}
.social-auth .social-auth-links a {
    background: url("/img/b-share-icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: none;
    height: 16px;
    width: 16px;
    padding: 0;
    margin: 0 10px 0 0;
}
.social-auth .social-auth-links a.vkontakte {
    background-position: 0 0;
}
.social-auth .social-auth-links a.twitter {
    background-position: 0 -51px;
}
.social-auth .social-auth-links a.facebook {
    background-position: 0 -68px;
}
.social-auth .social-auth-links a.odnoklassniki {
    background-position: 0 -170px;
}
.social-auth .social-auth-links a.google {
    background-position: 0 -426px;
}