<nav id="nav-header">
	<ul>
		<li><a class="nav-header-enter" href="#null">Войти в личный кабинет</a>&nbsp;/&nbsp;</li>
		<li><b>РУС</b></li>
		<li><a href="#null">ENG</a></li>
	</ul>
	<div class="header-top-login">
		<h1 class="login-title">Аторизация</h1>
		<form class="login-form">
			<p class="login-form-item">
				<label for="login-form-item-log">Логин</label>
				<input id="login-form-item-log" type="text" />
			</p>
			<p class="login-form-item">
				<label for="login-form-item-pass" >Пароль</label>
				<input id="login-form-item-pass" type="text" />
			</p>
			<input id="login-form-item-but" type="button" value="Войти" />
		</form>
		<div class="login-regpass">
			<a class="login-regpass-a" href="#">Забыли пароль?</a>
			<span>/</span>
			<a class="login-regpass-a" href="#">Регистрация</a>
		</div>
	</div>
</nav>