<nav id="nav-sections"><ul>
	<li class="nav-section-0"><a title="Показать на Ленте времени" href="#null">1</a></li>
	<li class="nav-section-2"><a title="Показать на карте" href="#null">3</a></li>
	<li class="nav-section-1"><a title="Обсудить" href="#null">2</a></li>
</ul></nav>