<nav class="cb" id="socials-box"><ul>
	<li class="social-0"><a title="VK" href="#null">VK</a></li>
	<li class="social-1"><a title="FB" href="#null">FB</a></li>
	<li class="social-2"><a title="TW" href="#null">TW</a></li>
	<li class="social-3"><a title="LJ" href="#null">LJ</a></li>
</ul></nav>