{% extends ':Frontend:base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    .content-text h2 {
        font: 25px 'Trebuchet MS', sans-serif;
        border: 0;
        color: black;
        margin: 1px 0 16px;
    }
    .content-text h3 {
        font: 20px 'Trebuchet MS', sans-serif;
        color: black;
        margin: 35px 0 20px;
    }
    
    .content-text-center {
        text-align:center;
        margin-bottom:40px;
    }
    
</style>

{{ parent() }}

{% endblock %}


{% block title %}{{ parent() }} — {{ 'Navigation.InterMuseum'|trans }}{% endblock %}

{% block page_header_title %}
    {{ 'Navigation.InterMuseum'|trans }}
{% endblock %}

{% block body%}

<div class="content content-text">
	{% if app.request.locale == 'en' %}
        
	 {% elseif app.request.locale == 'ru' %}
        <div class="content-text-center">
            <h2>МИНИСТЕРСТВО КУЛЬТУРЫ РОССИЙСКОЙ ФЕДЕРАЦИИ</h2>

            <h3 style="margin-top:0;">XV МЕЖДУНАРОДНЫЙ ФЕСТИВАЛЬ МУЗЕЕВ «ИНТЕРМУЗЕЙ»</h3>
            <p><b>31 мая - 4 июня 2013 года. Москва, ЦДХ, Крымский Вал, 10</b></p>
            
            <img src="/img/380_sitelogo.png" alt="" />
        </div>
        <p>
            <b>Международный фестиваль музеев «ИНТЕРМУЗЕЙ-2013»</b> - основное событие в
            жизни профессионального музейного сообщества России и стран СНГ, организованное
            Министерством культуры Российской Федерации.
        </p>
        <p>
            <b>«ИНТЕРМУЗЕЙ-2013»</b> состоится в Центральном доме художника, в Москве с 31 мая по 4
            июня 2013 года.
        </p>
        <p>
            <b>«ИНТЕРМУЗЕЙ»</b> – уникальная площадка для обмена опытом и идеями, где представляются
            лучшие практики и достижения по всем направлениям музейной деятельности, важные
            как профессионалам, так и широкой публике. Ежегодно, фестиваль раскрывает одну из
            актуальных социокультурных тем в рамках деловой, культурной и конкурсной программ.
        </p>
        <p>
            Центральная тема фестиваля 2013 года - <b>«Музей – образовательный ресурс общества».</b>
        </p>
        <h3>
            Цели и задачи фестиваля «ИНТЕРМУЗЕЙ-2013»:
        </h3>
        <ul>
            <li>Способствовать интеграции культурно-образовательной деятельности музеев в  российскую систему образования;</li>
            <li>Стимулировать партнерство музеев и образовательных учреждений всех уровней;</li>
            <li>Развивать диалог и обсуждение этой тематики между музеями и представителями органов исполнительной и законодательной власти;</li>
            <li>Представлять лучшие российские и международные модели музейного образования;</li>
            <li>Создавать условия для сближения молодых музейных специалистов России и зарубежных стран;</li>
            <li>Стимулировать активность и поддержку межмузейных молодежных проектов в области культурно-образовательной деятельности. </li>
        </ul>
        <h3>К участию в фестивале «Интермузей-2013» приглашаются:</h3>

        <p>Представители российского и международного профессионального музейного сообщества;
        специалисты в области образования: учителя, преподаватели, руководители учебных
        заведений; представители федеральных и региональных органов власти; представители
        средств массовой информации</p>
    

        <h3>Заявителям фестиваля «Интермузей -2013» предлагаются следующие форматы участия:</h3>
        <ul>
            <li>Представление музея и его образовательных программ на экспозиционном стенде</li>
            <li>Участие в конкурсной программе</li>
            <li>Участие в деловой программе фестиваля</li>
        </ul>
        <p>        
        <b>К участию в конкурсной программе</b> приглашаются музеи и музейно-выставочные
        организации России и СНГ, а так же организации, имеющие стипендиальные и грантовые
        программы в области музейной деятельности. Конкурсные проекты должны соответствовать
        заявленной «ИНТЕРМУЗЕЕМ-2013» теме: <b>«Музей – образовательный ресурс общества».</b>
        </p>
        <p>
        Участие в конкурсе могут принимать только музеи - участники экспозиции фестиваля.
        </p>
        <h3>Сроки подачи заявок и регистрации участников:</h3>

            <p style="margin-bottom:6px"><b>Общая регистрация участников фестиваля открыта с 20 марта 2013 года</b></p>

            <ul>
                <li>Регистрация на выставочные стенды с 20 марта до 15 апреля 2013 года</li>
                <li>Прием заявок в конкурсную программу - 20 марта - 25 апреля 2013 года</li>
                <li>Регистрация участников деловой программы до 30 апреля 2013 года</li>
                <li>Регистрация гостей фестиваля 15 мая – 29 мая 2013 года</li>
            </ul>

        <h3>Исполнительная дирекция фестиваля «ИНТЕРМУЗЕЙ-2013»:</h3>

        <p>Исполнительный директор : Елизавета Фокина</p>

        <p>Программный директор : Инна Прилежаева</p>
        <p>
            Координатор по работе с участниками фестиваля: <br /> 
            Светлана Заболотских<br /> 
            e-mail: <a href="mailto:info@intermuseum-2013.ru">info@intermuseum-2013.ru</a><br /> 
            тел.: +7 (499) 238-81-45, +7 (916) 744-24–76
        </p>
        <p>
            Координатор конкурсной программы: Анна Щербакова<br /> 
            e-mail: <a href="mailto:konkurs@intermuseum-2013.ru">konkurs@intermuseum-2013.ru</a>,<br /> 
            тел.: +7 (499) 238-81-45, + 7 (915) 057-70-43
        </p>
        <p>    
            Информационное сопровождение фестиваля: Майя Волчек<br /> 
            e-mail: <a href="mailto:pr@intermuseum-2013.ru">pr@intermuseum-2013.ru</a>,<br /> 
            тел.: +7 (499) 238-81-45, + 7 (916) 137-16-49
        </p>
            

        <h3>Официальный сайт фестиваля: <a href="http://www.intermuseum-2013.ru" target="_blank">www.intermuseum-2013.ru</a></h3>

        <p>
            Оператор XV Международного фестиваля музеев «ИНТЕРМУЗЕЙ-2013»<br /> 
            Ассоциация менеджеров культуры (АМК)<br /> 
            119049 Москва, ул. Б. Якиманка, д. 35, стр. 1, оф. 513<br /> 
            Тел./факс: +7(499) 238 81 45
        </p>    
         

	{% endif %}
</div>
    
{% endblock %}