{% extends ':Frontend:base.html.twig' %}

{% block page_header_title %}Дом Бернарды Альбы{% endblock %}

{% block body %}
{#
    <div style="width: 1024px; margin: 0 auto;">

        <iframe src="http://permfest.vidicor.ru/" style="width: 960px; height: 580px; border: 0;"></iframe>
        <p><i>Театр:</i> <b>Пермский театр у Моста</b></p>
        <h2>Краткое описание:</h2>

        <p>Остров Инишмаан – одно из самых загадочнейших и священных мест в Ирландии, точка, где хранится древняя
            культура и язык маленькой, но гордой страны, вечно борющейся с Англией за свою свободу. Возможно, поэтому
            МакДонах сочинил для своего острова совершенно особенных жителей.<br>
            Неспешный мир странных и смешных чудиков-инишманцев буквально взрывается, когда на остров приезжает
            киносъемочная группа из Америки под предводительством Роберта Флаэрти, а вместе с этим и предчувствие
            перемен. Инишманцев посещают призрачные и опасные мечты о Голливуде, вслед за которыми хочется уплыть всем.
            Но получается это только у Калеки Билли.</p>
    </div>
#}

    <div id='player'></div>
    <script type='text/javascript' src='http://www.aloha.cdnvideo.ru/aloha/jwplayer/js_for_embed/jwplayer.js'></script>
    <script type='text/javascript'>
        jwplayer('player').setup({
            'id': 'player',
            'width': '640',
            'height': '360',
            'provider': 'rtmp',
            'streamer': 'rtmp://hdimages.cdnvideo.ru/rr',
            'file': 'HDextremeCDN',
            'src': 'http://www.aloha.cdnvideo.ru/aloha/jwplayer/mediaplayer-viral/player-viral.swf',
            'modes': [
                {type: 'flash', src: 'http://www.aloha.cdnvideo.ru/aloha/jwplayer/mediaplayer-viral/player-viral.swf'},
                {
                    type: 'html5',
                    config: {
                        'file': 'http://hdimages.cdnvideo.ru/rr/HDextremeCDN/playlist.m3u8',
                        'provider': 'video'
                    }
                }
            ]
        });
    </script>

    <h2><b>Название:</b> «Дом Бернарды Альбы»</h2>
    <p><b>Продолжительность спектакля:</b> 2 часа 45 минут.</p>
    <p><b>Режиссер: </b> заслуженный деятель искусств России Евгений Марчелли.</p>
    <p><b>Исполнители: </b> заслуженная артистка России Татьяна Малькова, заслуженная артистка России Галина Крылова, заслуженная артистка России Татьяна Позднякова, заслуженная артистка России Ирина Сидорова, заслуженная артистка России Людмила Пошехонова, Анастасия Светлова, Елена Шевчук, Ольга Старк, Александра Чилин-Гири, Наталья Мацюк, Ирина Наумкина.</p>
    <p>Властная Бернарда держит своих дочерей в заточении, не подпуская к ним мужчин. Запрет не касается только самой старшей дочери: у той есть жених, о котором мечтают все сестры. Страсти в доме Бернарды бушуют: здесь стряпают так, что мука столбом, танцуют, электризуя эмоциями воздух, ссорятся так, словно дальше ничего нет, и не будет.</p>

{% endblock %}