{% extends ':Frontend:base.html.twig' %}

{% block page_header_title %}Калека с Инишмаана{% endblock %}

{% block body %}
    <div style="width: 1024px; margin: 0 auto;">
        <iframe src="http://permfest.vidicor.ru/" style="width: 960px; height: 580px; border: 0;"></iframe>
        <p><i>Театр:</i> <b>Пермский театр у Моста</b></p>
        <h2>Краткое описание:</h2>

        <p>Остров Инишмаан – одно из самых загадочнейших и священных мест в Ирландии, точка, где хранится древняя
            культура и язык маленькой, но гордой страны, вечно борющейся с Англией за свою свободу. Возможно, поэтому
            МакДонах сочинил для своего острова совершенно особенных жителей.<br>
            Неспешный мир странных и смешных чудиков-инишманцев буквально взрывается, когда на остров приезжает
            киносъемочная группа из Америки под предводительством Роберта Флаэрти, а вместе с этим и предчувствие
            перемен. Инишманцев посещают призрачные и опасные мечты о Голливуде, вслед за которыми хочется уплыть всем.
            Но получается это только у Калеки Билли.</p>
    </div>
{% endblock %}