<div id="{{ c.value }}_cent" {% if not loop.first %}style = "display:none;" {% endif %} class="cent-tab">
    {% set d = null %}	
	{% for e in events %}
		{% if loop.index is odd %}
            {% set year = e.date|date('Y') %}
		    {% set decade = year - year % 10 %}
		    {% if decade != d and decade % 100 != 0 %}
    		    {% set d = decade %}
                <a name="{{ d }}" id="{{ d }}" class="decade-sector"></a>
		    {% endif %}
            {% include "ArmdChronicleBundle:Blind:event.html.twig" with {"event": e} %}
		{% endif %}
	{% endfor %}
</div>

