{% for slug, entities in news %}
	{% if slug == 'news' %}
	{% set revents = random(entities) %}
	{% set f = revents.date %}
	{% set t = revents.endDate %}
		<div class="online-index">
			<div class="title-block index-title-block">
				<h2>Рекомендована</h2>
			</div>	
			<div class="online-index-block">
				<a href="{{ path('armd_news_news_item', {'id': revents.id}) }}">
				{% thumbnail revents.image, 'billboard' %}
				</a>
				<div class="online-index-text">
					<p class="online-index-header"><a href="{{ path('armd_news_news_item', {'id': revents.id}) }}">{{ revents.title|raw }}</a></p>
					<p>
						{{ revents.announce|raw }}
					</p>
				</div>
			</div>
		</div>
	{% endif%}
 {% endfor %}
