<ul class="b-link-list m-left-bordered">
{% for blogger in bloggers %}
    <li {% if user is not null and blogger.id == user.id %} class="all-authors-link" {% endif %}><a href="{{ path('blog_list', {'user': blogger.id}) }}">{{ blogger.firstname }} {{ blogger.lastname }}</a></li>
{% endfor %}
    <li class="{% if user is null %}all-authors-link {% endif %} last"><a href="{{ path('blog_list') }}">Все авторы</a></li>
</ul>