<h1 class="b-left-title">Блоги</h1>
<ul class="b-link-list m-left-bordered">
{% for blogger in bloggers %}
    <li><a href="{{ path('blog_list', {'user': blogger.id}) }}">{{ blogger.firstname }} {{ blogger.lastname }}</a></li>
{% endfor %}
    <li class="all-authors-link last"><a href="{{ path('blog_list') }}">Все авторы</a></li>
</ul>