<div class="title">
	<h2>Медиапроекты</h2>
</div>
<ul class="media-projects">
	<li>
		<a href="#" class="media-projects-image">
			<img src="/img/borodino/media-project.jpg" alt="" />
		</a>
		<a href="#" class="press-list-name">1812. Война и Мир. Новый взгляд.</a>
		<p class="press-list-anons">Ссылки на трансляции или передачи государственных телеканалов</p>
	</li>
</ul>
