<div class="yellow-border-block">
	<p class="yellow-border-header">
		<span>Издания</span>
	</p>
	<ul class="press-list">
		<li>
			<a href="#">
				<img src="/img/borodino/press.jpg" alt="" />
			</a>
			<div class="text-overflow">
				<a href="#" class="press-list-name">Английский офицер Роберт Вильсон о русских солдатах и офицерах</a>
				<p class="press-list-anons">В своих кратких записках "о свойстве и составе русского войска" англичанин Роберт..</p>
			</div>
		</li>
		<li>
			<a href="#">
				<img src="/img/borodino/press2.jpg" alt="" />
			</a>
			<div class="text-overflow">
				<a href="#" class="press-list-name">Концерт Роберто 
Аланьи и Венеры 
Гимадиевой</a>
				<p class="press-list-anons">Джордж Бернард Шоу родился 26 июля 1856 года в Дублине. Шоу уже в молодости решил стать писателем, однако его рукописи поначалу не. </p>
			</div>
		</li>
		<li>
			<a href="#">
				<img src="/img/borodino/perss3.jpg" alt="" />
			</a>
			<div class="text-overflow">
				<a href="#" class="press-list-name">Фотографии собора 
1980 года</a>
				<p class="press-list-anons">Джордж Бернард Шоу родился 26 июля 1856 года в Дублине. Шоу уже в молодости решил стать писателем, однако его рукописи поначалу не. </p>
			</div>
		</li>
	</ul>	
</div>
