{#
 This template implicitly overrides FOSCommentBundle's same template!
 This happens due to the fact that MkCommentBundle returns FOSCommentBundle as its parent (check ArmdMkCommentBundle.php class)!
#}

{#
Parameters currently passed into this template:
    id <- Thread id: 'ru_news_1338'
    style <- 'new' or 'old'
    buttonClass <- 'palette-background-1'
#}

<div id="fos_comment_thread"></div>

{% javascripts '@ArmdMkCommentBundle/Resources/assets/js/comments.js' %}
<script type="text/javascript">
    var fos_comment_thread_id = '{{ id }}',
        fos_comment_new_comment_post_button_class = '{{ buttonClass|default('') }}',
        fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}'; // api base url to use for initial requests

    // Snippet for asynchronously loading the comments
    (function(){
        var fos_comment_script = document.createElement('script');

        fos_comment_script.async = true;
        fos_comment_script.src = '{{ asset_url }}';
        fos_comment_script.type = 'text/javascript';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);
    })();
</script>
{% endjavascripts %}