html{ height:100%; }
body{ height:100%; margin:0; padding:0; }

body,table,p,input,select,button{ font:13px Arial,"Trebuchet MS",sans-serif; }

.map-ui{ width:100%; height:100%; border-collapse:collapse; }
.map-ui td{ padding:0; vertical-align:top; }
.map-ui .left-col{ width:38%; }
.map-ui .right-col{ width:62%; }
#map{ width:100%; height:500px; }



.PGmap-button.ruler,
.PGmap-button.route,
.PGmap-button.polyline,
.PGmap-button.polygon,
.PGmap-button.point{ display:none; }