.table-bordered{ border-collapse:collapse; font:13px Arial,"Trebuchet MS",sans-serif; }
.table-bordered td{ padding:5px 5px; border:solid 1px #ccc; }


.geocoder .search-box .search{ font-size:15px; width:90%; }

/* Кастомизация карты */
#map{ width:100%; height:600px; }
#map .b-balloon{ z-index:76; }
#map .b-balloon__content{ /*width:300px !important;*/ padding:0; margin:0 0 15px 50px; border:none; background:#f9f6ed; box-shadow:2px 2px 10px #777; border-radius:0; }
#map .PGmap-balloon-inner{ padding:10px; }
#map .PGmap-balloon-inner .caption{ margin-bottom:5px; }
#map .PGmap-balloon-inner .caption a{ text-decoration:none; color:#000; }
#map .PGmap-balloon-inner .caption a:hover{ text-decoration:underline; }
#map .PGmap-balloon-inner .text{ font-size:11px; color:#555; }
#map .PGmap-balloon-inner .bubble_image{ float:left; margin:0 10px 10px 0; }
#map .PGmap-balloon-inner .bubble_image .thumb img{ vertical-align:top; }

#map .PGmap-balloon-inner .bubble.cluster{ height:250px; overflow-y:scroll; }
#map .PGmap-balloon-inner .bubble.cluster ol{ list-style:decimal; margin:0 0 0 25px; }
#map .PGmap-balloon-inner .bubble.cluster ol li{ list-style:decimal; margin:0 0 10px 0; }

#map .b-balloon__content h3{ margin:0; padding:0; }
#map .b-balloon__shadow{ display:none; }
#map .b-balloon__ar{ display:none; }
#map .g-closer__icon{ width:9px; height:9px; background:url(../images/chosen-sprite.png) -50px -2px no-repeat; }
#map .g-closer__icon:hover{ background-position:-50px -13px; }
#map .PGmap-cluster-container{ width:34px; height:34px; margin-left:-17px; margin-top:-17px; }
#map .PGmap-cluster-bitmap{ margin-top:8px; font-size:15px; }
#map .PGmap-copyright{ display:none; }
#map .PGmap-geometry-point img{ border:solid 1px #fff; box-shadow:1px 1px 5px #777; }

#ajax-loading{ display:none; height:32px; left:50%; position:absolute; top:50%; width:32px; z-index:10000; padding:10px; margin:-26px 0 0 -26px; background:rgba(255,255,255,0.7) url(../images/ajax-loading.gif) 10px 10px no-repeat; }
.atlas-map img{ width:auto; }

.atlas-map .regions-selector{ z-index:100; position:absolute; top:-25px; right:0; }
.atlas-map .regions-selector select{ width:270px; }
.atlas-map .regions-selector .chzn-container-single .chzn-single{ height:25px; border:none; box-shadow:none; background:#00A02D; color:#fff; }
.atlas-map .regions-selector .chzn-container-single .chzn-drop{ border-radius:0; }
.atlas-map .regions-selector .chzn-container .chzn-results .highlighted{ background:#00A02D; }
.atlas-map .regions-selector .chzn-container .chzn-results li{ padding:4px 6px; }
