{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
<ul class="sonata-row-actions">
    <li><a class="atlas-object-acl-link" href="#">Объекты Атласа</a></li>
</ul>
{% endblock %}
