{% extends "::base.html.twig" %}
{% block body %}
		<div class="one-column" >
		<div class="title red-title">
			<h2>Регистрация</h2>
		</div>

    


<div class="lk form">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>



{% endblock %}
