{# Шаблон для письма. Причина модерации #}
Здравствуйте!<br>
<br>
Объект "{{ object.title }}" был отклонен при прохождении модерации.<br>
Причина:<br>
{{ reason }}<br>
<br>
Вы можете изменить информацию об объекте, воспользовавшись инструментами редактирования на вкладке "Мои карты" по следующей ссылке: http://культура.рф/atlas. После этого объект может быть повторно отправлен на карту.<br>
<br>
Ознакомиться с правилами размещения материалов на портале Культура.рф вы можете <a href="http://культура.рф/rules">здесь</a>.<br>
<br>
Это автоматическое сообщение; пожалуйста, не отвечайте на это письмо.<br>
<br>
С уважением,<br>
служба модерации портала Культура.рф<br>