{% if news %}
<ul class="right-news-list">
{% for n in news %}
   
	{% set url = path('armd_news_item_by_category', { 'id': n.id, 'category': n.category.slug }) %}
	<li class="clearfix">
		<a href="{{ url|raw }}">{% thumbnail n.image, 'latest' %}</a>
		<div class="right-news-list-text">
			<a href="{{ url }}" class="right-news-name">{{ n.title|raw}}</a>
			<p>
				{{ n.title|raw }}
			</p>
		</div>
	</li>
{% endfor %}
</ul>
{% endif%}
