{% if news %}
<ul class="right-list">
{% for n in news %}
    {% set url = path('armd_news_item_by_category', { 'id': n.id, 'category': n.category.slug }) %}
	<li>
		<a href="{{ url }}">{% thumbnail n.image, 'latest' %}</a>
		<div class="text-overflow">
			<a href="{{ url }}" class="rl-name rl-name-big">{{ n.title|raw }}</a>
		</div>
	</li>
{% endfor %}
</ul>
{% endif%}
