.custom_admin_page {
    padding-top: 80px;
}

.custom_admin_page .news-stats-table {
    width: auto;
}

/*--- media file ---*/
.armd-sonata-media-file {
    padding-left: 160px;
    margin-bottom: 20px;
}

.sonata-bc .armd-sonata-media-file input {
    display: block;
}

.sonata-bc .form-horizontal .armd-sonata-media-file .control-label {
    width: auto;
    margin-right: 10px;
}

/*--- /media file ---*/

/*--- tvigle collection ---*/
.armd-sonata-tvigle-collection {
    padding-left: 160px;
}
.armd-sonata-tvigle-collection .sonata-collection-row .control-label {
    display: none;
}
.armd-sonata-tvigle-collection .sonata-collection-row {
    margin-bottom: 5px;
}
.armd-sonata-tvigle-collection .sonata-collection-row .sonata-collection-delete {
    margin-right: 10px;
}
/*--- /tvigle collection ---*/


.armd-sonata-images-collection {
    padding-left: 160px;
    margin-bottom: 25px;
}

.armd-sonata-images-collection .armd-sonata-media-file {
    padding-left: 0;
}

.armd-sonata-images-collection .control-label  {
    display: none;
}


.armd-sonata-images-collection .sonata-collection-row > div {
    padding-left: 25px;
}

.armd-sonata-weekdays li {
    display: inline-block;
    margin-right: 10px;
}


/*--- user list ---*/


.atlas-object-acl-dialog.ui-dialog {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #cccccc;
}

.atlas-object-acl-dialog.ui-dialog .ui-dialog-titlebar,
.atlas-object-acl-dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-title
{
    color: #ffffff;
    background: #666666;
}

.atlas-object-acl-dialog .loading {
    background: #cccccc url(../img/loading_circle.gif) center no-repeat !important;
    z-index: 100;
}

.atlas-object-acl-dialog.ui-dialog .atlas-object-list {
    list-style-type: none;
}

.atlas-object-acl-dialog.ui-dialog .chzn-select {
    width: 500px;
}

/*--- /user list ---*/

/*--- atlas object ---*/
.atlas-object-virtual-tours-select {
    width: 470px;
}

.sonata-bc .form-horizontal .atlas-object-categories-select,
.sonata-bc .form-horizontal .atlas-object-region-select,
.sonata-bc .form-horizontal .atlas-object-virtual-tours-select {
    width: 470px;
}


/*--- /atlas object ---*/