.armd-sonata-media-file {
    padding-left: 200px;
    margin-bottom: 15px;
}

.armd-sonata-images-collection {
    padding-left: 200px;
    margin-bottom: 25px;
}

.armd-sonata-images-collection .armd-sonata-media-file {
    padding-left: 0;
}

.armd-sonata-images-collection .control-label  {
    display: none;
}

.sonata-bc .form-horizontal .armd-sonata-media-file .control-label {
    width: auto;
}

.sonata-bc .form-horizontal .armd-sonata-media-file input[type=checkbox] {
    margin-left: 10px;
}

.armd-sonata-images-collection .sonata-collection-row > div {
    padding-left: 25px;
}

.armd-sonata-weekdays li {
    display: inline-block;
    margin-right: 10px;
}

.armd-sonata-tvigle-collection {
    padding-left: 200px;
}
.armd-sonata-tvigle-collection .sonata-collection-row > div > .control-label{
    display: none;
    /*width: 70px;*/
    /*padding-right: 7px;*/
}
.armd-sonata-tvigle-collection .sonata-collection-row > div {
    padding-left: 20px;
    /*clear: both;*/
    margin-bottom: 5px;
}
.armd-sonata-tvigle-collection .armd-sonata-tvigle-form {
    /*padding: 15px 0;*/
    /*border: 1px solid #666666;*/
    /*border-width: 1px 0 0;*/
    /*width: 500px;*/
}
.armd-sonata-tvigle-collection .armd-sonata-tvigle-form > div {
    margin-bottom: 5px;
}
.armd-sonata-tvigle-collection .armd-sonata-tvigle-form .control-label {
    margin-right: 10px;
}

.sonata-bc .form-horizontal .atlas-object-categories-select,
.sonata-bc .form-horizontal .atlas-object-region-select {
    width: 470px;
}

/*--- user list ---*/


.atlas-object-acl-dialog.ui-dialog {
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #cccccc;
}

.atlas-object-acl-dialog.ui-dialog .ui-dialog-titlebar,
.atlas-object-acl-dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-title
{
    color: #ffffff;
    background: #666666;
}

.atlas-object-acl-dialog .loading {
    background: #cccccc url(../img/loading_circle.gif) center no-repeat !important;
    z-index: 100;
}

.atlas-object-acl-dialog.ui-dialog .atlas-object-list {
    list-style-type: none;
}

.atlas-object-acl-dialog.ui-dialog .chzn-select {
    width: 500px;
}

/*--- /user list ---*/