/*gosuslugi*/	
.gosuslugi {
	border:solid #000;
	border-width:3px 0;
	padding:1.4em 0;
	margin-bottom:2em;
}	
	.gosuslugi ul {
		list-style:none;
		margin:0;
		padding:0;
	}	
		.gosuslugi li {
			margin-bottom:1.1em;
		}
			.expand-handle {
				
				
			}
				.expand-handle  a {
					border-bottom:1px dashed #000;
					text-decoration:none;
					font-size:1.5em;
				}
				.expanded-handle a {
					border:0;
					font-weight:bold;
				}
				
			.expand-text {
				display:none;
			}	
			
			.gosuslugi ul.gos-sub-list {
				margin:0.8em 0 1.5em 4em;
			}
				.gos-sub-list li {
					position:relative;
					margin-bottom:0.8em;
				}
				.gos-sub-list  li:before {
					content:"—";
					position:absolute;
					top:-0.2em;
					left:-1.4em;
					font-weight:bold;
					font-size:1.2em;
				}
				.gos-sub-list p {
					margin-bottom:1.2em;
				}
				.gos-links {
					
				}
					.gos-links a {
						margin-bottom:0.8em;
						margin-right:220px;
					}