/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
html {
	overflow-y:scroll;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
a {color:#000;}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #000;
    text-shadow: none;
	color:#fff;
}

::selection {
    background: #000;
    text-shadow: none;
	color:#fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

p {
	margin:0;
	padding:0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	
	font:1em Arial, Helvetica, sans-serif;
}

.wrapper {
	padding:0 20px;
	min-width:960px;
	max-width:1360px;
	margin:auto;
	min-height: 100%;
    margin-bottom: -5.4375em;
	
	
} 
* html .wrapper {
    height: 100%;
}
.push {
	height:5.4375em;
}
.main-footer {
	height:5.4375em;
	min-width:1000px;
	max-width:1400px;
	margin:auto;
	background:#000;
	color:#fff;
}


	.settings-wrap {
		position:relative;
		
	}
		.settings-block {
			background:#eaeaea;
			border:1px solid #000;
			border-top:0;
		}
			.settings-types {
				margin:0;
				padding:0.3em 1em;
			}
				.settings-types  li {
					list-style:none;
					display:inline-block;
					vertical-align:top;
					*display:inline;
				}
				.settings-types > li {
					margin-right:2%;
				}
					.settings-types p {
						display:inline-block;
						vertical-align:top;
						margin:0.8em 0.1em 0 0;
						*display:inline;
					}
					.color-picker, .size-picker, .font-type {
						display:inline-block;
						vertical-align:top;
						padding-left:0;
						margin:0;
						*display:inline;
					}
					.color-picker li, .size-picker li, .font-type li {
						font-size:1.5em;
						text-align:center;
						vertical-align:bottom;
						margin:0 -0.1em 0 0;
					}
					.settings-types span {
						padding:0.4em 0.7em;
						line-height:1em;
						background:#fff;
						cursor:pointer;
						display:block;
						*display:inline;
					}
						.color-picker span.active, .size-picker span.active, .font-type span.active  {
							box-shadow:0 0 0 3px #000 inset;
						}	
						
						
						#black-color span {
							color:#fff;
							background:#000;
						}
							#black-color span.active {
								box-shadow:0 0 0 4px #fff inset;
							}
						
						.size-picker li#big-font {
							font-size:1.125em;
						}	
						.size-picker li#normal-font {
							font-size:0.875em;
						} 
						.font-type {
							margin-top:6px;
						}
							.font-type li {
								font-size:1.125em;
							}
								.font-type span  {
									
								}


			.full-version-link {
				float:right;
				margin:1.3em 1em;
				
			}


		.settings-handler {
			position:absolute;
			bottom:-1.8em;
			right:0;
			color:#fff;
			height:1.8em;
			line-height:1.8em;
			padding:0 1em 0 2.7em;
			background:#000 url('../img/settings-arr.png') no-repeat 17px 13px;
			cursor:pointer;
		}
		.settings-hidden {
			background:#000 url('../img/settings-arr.png') no-repeat 17px -32px;
		}

	.main-header {
		
	}
		.logo {
			font-size:2.25em;
			text-decoration:none;
			display:block;
			padding:1.2em 0 0.4em;
			font-weight:bold;
		}
		.search {
			float:left;
			margin-bottom:1.3em;
		}
			.search-input {
				border:1px solid #000;
				float:left;
				height:1.5em;
				width:25em;
				padding:0.1em 0.5em;
			}
			.search-button {
				background:#000;
				color:#fff;
				float:left;
				height:1.85em;
				border:0;
				padding:0 1em;
				text-transform:uppercase;
			}
	
		.quick-links {
			float:right;
			margin:0 0 1em;
			padding:0;
		}
			.quick-links li {
				margin-left:2em;
				display:inline;
			}



		.main-navigation {
			background:#000;
			padding:0;
			margin:0;
		}
			.main-navigation li {
				float:left;
				border:solid #000;
				border-width:1px 0;
			}
				.main-navigation li a {
					display:block;
					padding:0.5em 1em;
					color:#fff;
					text-transform:uppercase;
					text-decoration:none;
				}
				.main-navigation li.active a{
					background:#fff;
					color:#000;
				}


	.content {
		
	}				
		.content h1 {
			font-size:1.875em;
			font-weight:normal;
			margin:0.8em 0 0.35em;
		}
		
		
					
			.button-link {
				background:#000;
				font-size:0.875em;
				color:#fff;
				display:inline-block;
				padding:0.4em 1.5em;
				text-decoration:none;
				text-transform:uppercase;
				font-weight:bold;
				*display:inline;
			}	

			
		
							
		/*text*/
		.text {
			border:solid #000;
			border-width:3px 0;
			padding:1.4em 0;
			margin-bottom:2em;
		}
			.text p {
				margin-bottom:1.5em;
			}	
							
		
		
		
			
	.main-footer {
		
	}
		.site-owner {
			font-weight:bold;
			float:left;
			width:30%;
			padding:1.4em 0 0 1.5em;
		}
		.site-info {
			float:right;
			width:55%;
			padding-top:1.4em;
		}
			.site-about {
				margin:0;
			}
				.site-about a {
					color:#fff;
				}
				
				
		
/*black background*/
.black-color {
	background:#000;
	color:#fff;
}	
	.black-color a {
		color:#fff;
	}
	.black-color  .settings-block {
		background:#444;
		border-color:#fff;
	}	
		
		.black-color  .settings-types span{
			color:#fff;
			background:#000;
		}
		.black-color  .settings-types span.active {
			box-shadow:0 0 0 3px #fff;
		}
		
		.black-color .tabs-labels a, .black-color .expand-handle  a {
			border-color:#fff;
		}			
			
		.black-color .tabs-labels li.active {
		outline:1px solid #fff;
		}
		.black-color .tab, .black-color .gosuslugi, .black-color .text, .black-color .chronicals {
		border-color:#fff;
		
		}
		.black-color .button-link {
			border:1px solid #fff;
		}
		.black-color .chronicles-date {
			color:#000;
		}
		.black-color .chronicles-event-text {
			border-color:#fff;
		}
		.black-color .chronicles-nav {
			border-color:#fff;
		}
		.black-color .chronicles-nav li.active li a {
			color:#fff;
		}
		.black-color .chronicles-nav li.active li.active a {
			color:#000;
		}
		.black-color  .chronicles-nav-wrap {
			background:#000;
			border-color:#fff;
		}
		

/*big font*/
.big-font {
	font-size:1.3125em;
}
.big-font .settings-handler {
	background-position:17px 16px;
}
.big-font .settings-hidden{
	background-position:17px -28px;
}
/*huge font*/
.huge-font {
	font-size:1.625em;
}
.huge-font .settings-handler {
	background-position:17px 20px;
}
.huge-font .settings-hidden {
	background-position:17px -24px;
}	

/*Times*/
.times-font {
	font-family:'Times new Roman', Georgia, serif;
}	

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.clear {clear:both;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
