{% extends ':Frontend:special.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	<link href="{{ asset('css/blind_services.css') }}" rel="stylesheet" />
{% endblock %}

{% block body%}
	<h1>{{ 'Navigation.Public services'|trans }}</h1>
				<div class="gosuslugi">
					<ul>
						<li>
							<div class="expand-handle"><a href="#">Культурные ценности, объекты культурного наследия</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>Ведение реестра книжных памятников</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001763400_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="#" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Выдача разрешений и заданий на проведение работ по сохранению объектов культурного наследия (памятников истории и культуры) федерального значения</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001012952_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204369" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Выдача свидетельства на право вывоза или временного вывоза культурных ценностей с территории Российской Федерации физическим и юридическим лицам</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001027960_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204464" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Оказание в соответствии с законодательством Российской Федерации и международными договорами Российской Федерации содействия законным собственникам в восстановлении их прав на культурные ценности при незаконных вывозе, ввозе культурных ценностей и передаче права собственности на них, содействие возвращению культурных ценностей в Российскую Федерацию в случае незаконного вывоза</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001007746_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204470" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Заключение договоров о возврате временно вывозимых культурных ценностей с лицами, ходатайствующими о временном их вывозе</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001009991_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
										</div>
									</li>
									<li>
										<p>Организация проведения экспертизы, заявленных к вывозу (временному вывозу) культурных ценностей, а также возвращенных после временного вывоза</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001011991_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
										</div>
									</li>
									<li>
										<p>Осуществление регистрации культурных ценностей, ввезенных и временно ввезенных на территорию Российской Федерации</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001009688_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204472" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Регистрация фактов пропажи, утраты, хищения культурных ценностей, организация и обеспечение оповещения государственных органов и общественности в Российской Федерации и за ее пределами об этих фактах</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001006226_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204476" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Согласование проектной документации по сохранению объектов культурного наследия, проектов их зон охраны, градостроительной документации и градостроительных регламентов, устанавливаемых в границах территорий объектов культурного наследия федерального значения, расположенных в исторических поселениях и границах зон их охраны</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001013025_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204474" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Включение в установленном порядке музейных предметов и музейных коллекций в состав Музейного фонда Российской Федерации и исключение их из состава этого фонда</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001761309_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											
										</div>
									</li>
									<li>
										<p>Установка информационных надписей и обозначений на отдельных объектах культурного наследия федерального значения</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001013039_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
										</div>
									</li>
									<li>
										<p>Организация проведения государственной историко-культурной и искусствоведческой экспертизы коллекционируемого, а также изъятого и конфискованного оружия, патронов к нему, копий (реплик) оружия</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001012384_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
										</div>
									</li>
									<li>
										<p>Лицензирование деятельности по реставрации объектов культурного наследия (памятников истории и культуры)</p>
										<div class="gos-links">
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204468" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="expand-handle"><a href="#">Библиотечное дело</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>Предоставление библиографической информации из государственных библиотечных фондов</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10000562924_48.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204311" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Предоставление информации из государственных библиотечных фондов в части, не касающейся авторских прав</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10000572466_49.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204313" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="expand-handle"><a href="#">Кинематограф</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>Выдача прокатных удостоверений на фильмы, созданные в Российской Федерации или приобретенные за рубежом для проката на ее территории</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001762891_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204315" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Выдача удостоверений национального фильма</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001760740_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204318" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<div class="expand-handle"><a href="#">Историко-культурные территории</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>Выдача разрешений (открытых листов) на право проведения работ по выявлению и изучению объектов археологического наследия</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10000996241_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204466" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									
								</ul>
							</div>
						</li>
						<li>
							<div class="expand-handle"><a href="#">Архивное дело</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>Организация информационного обеспечения пользователей на основе документов Архивного фонда Российской Федерации и других архивных документов</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001090856_.html" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://archives.ru/feedback/index.shtml" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
									<li>
										<p>Организация исполнения запросов российских и иностранных граждан, а также лиц без гражданства, связанных с реализацией их законных прав и свобод, оформления в установленном порядке архивных справок, направляемых в иностранные государства</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10000271248_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
										</div>
									</li>
									
								</ul>
							</div>
						</li>
						<li>
							<div class="expand-handle"><a href="#">Обращения граждан</a></div>
							<div class="expand-text">
								<ul class="gos-sub-list">
									<li>
										<p>бращение в Министерство Культуры РФ (в рамках исполнения госуслуги «Осуществление приема граждан, обеспечение своевременного и в полном объеме рассмотрения устных и письменных обращений граждан, принятие по ним решений и направление заявителям ответов в установленный законодательством Российской Федерации срок»)</p>
										<div class="gos-links">
											<a href="http://epgu.gosuslugi.ru/pgu/service/10001764844_.html#_description" class="button-link" target="_blank">На Портале государственных и муниципальных услуг </a>
											<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204364" class="button-link" target="_blank">На официальном сайте Министерства Культуры Российской Федерации </a>
										</div>
									</li>
								</ul>
							</div>
						</li>
						
					</ul>
				</div>
{% endblock %}