{% spaceless %}
    {% if objects is not empty %}
        <div id="theater_block" class="b-main-wrap b-virtual-theatre">
            <div class="b-virtual-theatre-inner">
                <div class="b-virtual-head m-float-left">
                    <div class="b-service-heading"><div>Виртуальный</div> <span>театр</span></div>
                    <ul>
                        <li><a class="order current" href="{{ path('armd_perfomance_mainpage', {type: 'recommend', date: date}) }}">рекоммендованные</a></li>
                        <li><a class="order" href="{{ path('armd_perfomance_mainpage', {type: 'popular', date: date}) }}">популярные</a></li>
                    </ul>
                </div>
                <article id="theater_widget" class="b-virtual-theatre-item">
                    {% include 'ArmdPerfomanceBundle:Perfomance:mainpageWidgetItem.html.twig' with objects %}
                </article>
                <div class="b-button-wrapper m-right-btn">
                    <a href="{{ path('armd_perfomance_list') }}" class="e-inline-link">перейти в Театр</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}