{% for item in objects %}
    <div class="carousel-item"{% if loop.index > 1 %} style="display:none;"{% endif %}>
        <a href="{{ path('armd_perfomance_item', {id: item.id }) }}">{{ item.title }}</a>
        {#<div><a href="{{ path('armd_perfomance_list', {'theaterId': item.theater.id }) }}">{{ item.theater.title }}</a></div>#}
    </div>
{% endfor %}