{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('sonata_user_profile_edit') }}">Личный кабинет</a> /
    <a href="{{ path('fos_user_security_logout') }}">Выход</a>
{% else %}
    <a href="{{ path('fos_user_registration_register') }}">Регистрация</a> /
    <a href="{{ path('fos_user_security_login') }}">Вход</a>
{% endif %}
