{% block sidebar %}


<div class="block">
            <section class="static-block object-archives">
                <h2>ПОЭТ ВЛАДИМИР МАЯКОВСКИЙ</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/39eb889b5ff87c5458d09b9f4662683fb4c96cb3.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25732_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/2ffe9ca1c8c9f658348738da9a2a15c9f497d456.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25733_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/a391fced5775607d78ae374dbe40fc5d5f9ae145.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25734_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       
                                </article>
                            </li>
                             <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/7d7924ed169817a89693503339d86b9c49392c7e.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25735_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/20543aada84d0e6ea5469fa5d36ed64e0a8e9b6b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25736_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                            </li>
                    </ul>
                    </div>
                </div>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/aca2741081efb1e9a6bb1ef3497ed44e8d0e2c09.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25998_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский (крайний справа) с А.В.Луначарским и Д.И.Лещенко (в центре) после конференции кинодеятелей в Московском кинокомитете, созванной Наркомпросом.<br>
                                                                            28 мая 1918 года, Москва<br>
                                                                            Фотокопия и ретушь: А.М.Родченко
                                                                        </p>
                                                                        </div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/b41488fbf955095eaa142a9b2ea1d9ba58e7ca7f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25999_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский<br>
                                                                            Москва, 1923
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/4bb22a16c2278e1ac7a5ac23a1e0d9d925e86a8c.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26000_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский на крыше Советского полпредства в Мексике.<br>
                                                                            Мехико-Сити, 1925 год
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>
                             <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/71906d5e58f758996e8dc947857761d84f1001fc.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26001_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский на Уолл-стрит<br>
                                                                            Нью-Йорк, 1925<br>
                                                                            Происхождение: в Государственном Музее Маяковского с 1953 от Д.Д. Бурлюка
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/ea51866eab6b2e85fb7c6930a44e08647391d6df.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26002_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский<br>
                                                                            Москва, 1928
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/36aeff8a25fbb5231b39953df831d9f4af3e84a2.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26003_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский на книжном базаре среди красноармейцев на празднике «День книги».<br>
                                                                            Москва, 1929. 9 июня
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/d575fe7166344c3e182b28daec97ec908c1733ac.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26004_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer">
                                                                            <p>В.В.Маяковский на выставке «20 лет работы» в клубе ФОСП<br>
                                                                            Москва, 1930. 1 февраля<br>
                                                                            Слева направо: В.В.Маяковский, П.И. Лавут, А.Г.&nbsp;Бромберг
                                                                            </p>
                                                                        </div>
                                </article>
                            </li>

                    </ul>
                    </div>
                </div>
                
        </section>
</div>

<div class="block">
        <div class="right-news-list-block">
            <h2>ДЕТСТВО И ЮНОСТЬ</h2>
        
            <ul class="right-news-list">
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/26/19a4a57b46eca98606d7c8ab2dbd2ab5323c06ed.jpeg">
                <img width="85" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25737_news_adminPreview.jpeg">
        
        </a>
        <div class="right-news-list-text">
            <span class="right-news-name">В.В. и О.В. Маяковские</span>
            <p>1896 год, Кутаиси. Фотоателье «Б.П.Мищенко».<br>Происхождение: в Государственном музее Маяковского с 1972 года по завещанию Л.В.Маяковской
</p>
        </div>
        
    </li>
      
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/26/fc0ff9e2cc5fca07c2e591f9070e74461f829061.jpeg">
            <img width="85" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25738_news_list.jpeg">
        </a>
        <div class="right-news-list-text">
            <span class="right-news-name">Семья Маяковских</span>
            <p>Л.В., В.К. Маяковские (стоят) и О.В., В.В. и А.А. Маяковские, 1905 год, Кутаиси.<br>Происхождение: в Государственном музее Маяковского с 1972 года по завещанию Л.В.Маяковской
            </p>
        </div>
        
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/26/f689da98e426510206b88149e8d64ca2ec75c8bb.jpeg"><img width="85" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25739_news_adminPreview.jpeg">
        </a>
        <div class="right-news-list-text">
            <span class="right-news-name">В.В.Маяковский</span>
            <p>1910 год, Москва.<br>Происхождение: в Государственном музее Маяковского с 1972 года по завещанию Л.В.Маяковской
            </p>
        </div>
        
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/26/9461e138f5bc0f855a8c9bf664548f8e1edd4878.jpeg"><img width="85" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25740_news_adminPreview.jpeg">
        </a>
        <div class="right-news-list-text">
            <span class="right-news-name">В.В.Маяковский с А.Е.Крученых, Д.Д.Бурлюком, Б.К.Лившицем и Н.Д.Бурлюком</span>
            <p>1913 год, Москва. Стоит — Н.Д.Бурлюк.<br>Происхождение: в Государственном музее Маяковского от Л.И.Жевержеева
            </p>
        </div>
        
    </li>
   
        <li class="clearfix">
        <a class="in-fancybox" rel="arch_photo" href="http://culture.ru/ru/uploads/media/news/0001/26/3c7fc2ffb7374ab9b400ca3e32ce130b1a3e8d7b.jpeg"><img width="85" height="auto" src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25741_news_searchAllResult.jpeg">
        </a>
        <div class="right-news-list-text">
            <span class="right-news-name">В.В.Маяковский с К.И.Чуковским и его сыном Борисом</span>
            <p>
                1915 год, Куоккала.<br>Происхождение: в Государственном музее Маяковского от К.И.Чуковского
            </p>
        </div>       
    </li>
</ul>
        </div>
    </div>



<div class="block">
            <section class="static-block object-archives">
                <h2>ОБЛОЖКИ КНИГ</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/5accdbd3d66eed8b55c099951965480e1a48a01b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26008_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                    <div class="period-block_footer">
                                                                        <p>«13 лет работы» — «Московская ассоциация футуристов», 1922 [1923] год. Обложка: А.М.Лавинский
                                                                        </p>          
                                                                     </div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/7b430840030fd1bdc14cd5f03b0e44f687f33466.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26005_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                    <div class="period-block_footer">
                                                                        <p>«Владимир Ильич Ленин»  – Гос. изд-во, 1923 год
                                                                        </p>  
                                                                    </div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/7abf501f4fbc9835fdb1fbe717bc9838e2ae7913.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26007_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                    <div class="period-block_footer">
                                                                        <p>«Про это».  Гос. изд-во, 1923 год<br>
                                                                            Иллюстрации – фотомонтажи А.М. Родченко<br>
                                                                            На обложке портрет Л.Ю. Брик
                                                                        </p> 
                                                                    </div>
                                </article>
                            </li>


                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/34febf35c84633c38d9e69dc26f73c0861be701b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26006_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                    <div class="period-block_footer">
                                                                         <p>«Вон самогон!» –  Красная новь, 1923 год <br>
                                                                        Обложка и рисунки В.В.Маяковского
                                                                        </p>
                                                                    </div>
                                </article>
                            </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>
        <div class="block">
            <section class="static-block object-archives">
                <h2>МАЯКОВСКИЙ И ЛИЛЯ БРИК</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/d767dcb86f70f932e547632ca0700d9cb5b3fe9b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25730_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>О.М.Брик, Л.Ю.Брик, В.В.Маяковский. 1928 год, Москва</p></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/6899f0660932338988c39bd17e3b0a272a78d824.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25731_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Л.Ю.Брик. Рисунок В.Маяковского. 1916 год</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/ba147fe646f25cc3b88937f41017cad70bf9e67b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25989_news_adminPreview.jpeg" alt="" class="">
                                    </a>
                                                                       <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/0c3fc39c718b99b57895777ceb6d6bfe3754ab74.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25990_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/d8be36e6a2601840b0685dbf20a5bbc4900f58d2.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25992_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div>
                                </article>
                              </li>
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/c04ceaf11c4ecf3c0195968803adbf44ac4bad5f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25994_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div> 
                                </article>
                              </li>                             
                                                       <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/bf2cd544fd5d885ccb728c2c1755f841ac0c9a73.png">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25995_news_billboard.png" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div>
                                </article>
                              </li> 
                                                       <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/da7ee7f1aab8bac2b432c4e3e2fd887b5a63262f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25996_news_adminPreview.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div>
                                </article>
                              </li> 
                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/981a2f8059d7c7fb591854dcd0323859a6b1ff16.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25997_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                       <div class="period-block_footer"><p>«Щен» — автошарж Маяковского на письмах, адресованных Л.Ю.Брик</p></div> 
                                </article>
                              </li>                               
                                            </ul>
                </div>
            </div>
        </section>
</div>
        <div class="block">
            <section class="static-block object-archives">
                <h2>Владимир Маяковский и Татьяна Яковлева</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/07d5c3c424dced93f6bad82f33f2393d02da3927.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25724_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                  
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/cfed729b204146da03d6f512f8ef884c00376f45.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26021_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                   
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/8a17a0c748aa14a00fff67483910f49fa83ffbaf.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25726_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                            </li>


                            <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/af1e4da1f6e5e9634a2e1ba7dcc5648f80cc5722.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25727_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                            </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>



        <div class="block">
            <section class="static-block object-archives">
                <h2>ПРОИЗВОДСТВЕННЫЙ ПЛАКАТ</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/24743800e5ffb30331d088e7a942c9e1940d74c6.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25728_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                       <div class="period-block_footer"><p>Фрагмент из «Окон РОСТА». Художник: В.Маяковский</p></div> 
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/26/0cc2578c64f2c58fb43cbe67317e8c8c4c86c82f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/26/thumb_25729_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Фрагмент из «Окон РОСТА». Художник: В.Маяковский</p></div>
                                </article>
                               </li>
                                            </ul>
                </div>
            </div>
        </section>
</div>






<div class="block">
            <section class="static-block object-archives">
                <h2>Агитплакаты</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/e2a8a67d3aa7fa923fc18ce98ff623dcedc9bcc6.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26028_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Фрагмент из «Окон РОСТА». Художник: В.Маяковский</p></div>
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/6a30773af5f264c2ea33cd8ed7e0df4ee78662f5.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26029_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Фрагмент из «Окон РОСТА». Художник: В.Маяковский</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/cd9c287b97a054486bba92f19b43e668f934dd04.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26027_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                       <div class="period-block_footer"><p>Фрагмент из «Окон РОСТА». Художник: В.Маяковский</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/348587c5b4412c7d9fe87f529048df54daa39534.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26030_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                         <div class="period-block_footer"><p>Лубок, выпущенный издательством «Сегодняшний лубок» в связи с началом Первой мировой войны.<br>Автор стихов и рисунков В. Маяковский. Август – октябрь 1914 г</p></div>
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/0a17c4742d92de3ffc3081e3c6598168ee3b03e2.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26031_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Лубок, выпущенный издательством «Сегодняшний лубок» в связи с началом Первой мировой войны.<br>Автор стихов и рисунков В. Маяковский. Август – октябрь 1914 г</p></div>
                                </article>
                              </li>
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/f7d6e03faa95c447330a1c4bab837c543a87f645.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26025_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Иллюстрация В.Маяковского к его же стихотворному агитлубку «Вон самогон» (1923)</p></div>
                                </article>
                              </li>                             
                                                       <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/87f8dae7485d1f1c7aa69f58ae0831e1a3b0f2da.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26026_news_eventsBillboard.jpeg" alt="" class="">
                                    </a>
                                                                        <div class="period-block_footer"><p>Иллюстрация В.Маяковского к его же стихотворному агитлубку «Вон самогон» (1923)</p></div>
                                </article>
                                                          
                                            </ul>
                </div>
            </div>
        </section>
</div>




<div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>«БАРЫШНЯ И ХУЛИГАН». В ГЛАВНОЙ РОЛИ — В.МАЯКОВСКИЙ, 1918 ГОД</h2>
            <a class="block-image" href="http://culture.ru/cinema/view/1169"><img style="max-width: 100%;" 
            src="http://culture.ru/ru/uploads/media/lecture/0001/27/thumb_26301_reference.jpg" alt=""></a>
            <div class="period-block_footer"><p>К юбилею поэта — спецпроект <a href="http://culture.ru/mayakovsky/">«Я, 120-летний»</a></p></div>
        </article>
    </div>
</div>
 
 <div class="block object-videos">
    <div class="block">
        <article class="static-block video-block">
            <h2>Маяковский без ракурсов</h2>
            <a class="block-image" href="http://culture.ru/press-centre/news/8761/"><img style="max-width: 100%;" 
            src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26101_news_eventsBillboard.jpeg" alt=""></a>
            <div class="period-block_footer"><p>В рамках программы, посвященной 120-летию со дня рождения поэта, Государственный музей В.В.Маяковского подготовил цикл ретроспективных выставок</p></div>
        </article>
    </div>
</div>


<div class="block">
            <section class="static-block object-archives">
                <h2>МОЙ СОСЕД ВЛАДИМИР МАЯКОВСКИЙ</h2>
                <div class="orange-slider-block">
                    <div class="flexslider">
                    <ul class="slides">
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/7aedb166dedcd2f963e50ad0ab197038b7c820a4.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26976_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li> 
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/51196235c001c70d1779be4a3343ad3000385b4d.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26933_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>

                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/4626c57a929df1c1ee508feec39ff9bf87606528.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26934_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       
                                </article>
                            </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/aa371d67380b3dca9a47cf7f7165c4455f7276f3.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26936_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/446744128fbd0ec073da96d56dd970f1812f14e9.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26937_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                       
                                </article>
                              </li>
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/8738f710c81cf1746662abd1a12901564dde395f.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26941_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                               </li>

                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/f8e0109322b0a3608feb5029fb2a47709e459ffe.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26943_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>     
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/55f7e185c9141416776e1f5c50ef978298e9a464.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26946_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li> 
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/fb97f973723d59c3dda2b77e10a8eefede142bf0.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26968_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>   
                                                    <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/56c05588f1d29ca7639e1fbaa9e4b2991f029b6d.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26971_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li> 
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/5cea452c236c6494a7912e6f3c031e245a4bba93.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26974_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>   
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/fff5b2ae0ab5ec4662c7ef8645ef0dcb05fe5e7b.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26969_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>   
                                                     <li>
                                <article class="period-block  archive-block ">
                                    <a class="in-fancybox" href="http://culture.ru/ru/uploads/media/news/0001/27/f4fda30c88ed1292839e66b4c9a0058b048b090e.jpeg">
                                        <img src="http://culture.ru/ru/uploads/media/news/0001/27/thumb_26977_news_billboard.jpeg" alt="" class="">
                                    </a>
                                                                        
                                </article>
                              </li>   



                                            </ul>
                </div>
            </div>
            <div class="period-block_footer"><p><a href="http://culture.ru/press-centre/news/8851/">Узнать о «Таганке Маяковского»</a></p></div>
        </section>
</div>




        <p>Изобразительные материалы предоставлены <a title="Государственный музей В.В.Маяковского" href="http://culture.ru/atlas/object/1309" target="_blank">Государственным музеем В.В.Маяковского</a></p>
      

{% endblock %}
