{% if items is not empty %}
<div class="sidebar-widget">
    {% for item in items %}
        <a href="{{ path('armd_news_item_by_category', {id: item.id}) }}" class="sidebar-widget-item">
            {% thumbnail item.image, 'billboard' with {'width': 230, 'height': 'auto', 'display': 'block'} %}
            <div class="title-pane">
                {{ item.title }}
            </div>
        </a>
    {% endfor %}
</div>
{% endif %}
