{% spaceless %}
    {% if projects is not empty %}
        <div class="b-main-wrap b-block-main m-clear-both m-specialproject">
            <header class="b-heading">
                <h2>Спецпроекты</h2>
            </header>

            <div class="b-simple-slider">
                <div class="b-brand-icon"></div>
                <div class="b-main-slides">
                {% for item in projects %}
                    <div style="width:900px;min-height:246px;background-color:#e1e3e4;">
                        <img src="{% path item.bannerImage, 'default' %}" alt="">
                        <a href="{{ path('damedia_special_project_view', {slug: item.slug}) }}" class="e-project-link">{{ item.title }}</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endspaceless %}