<div class="box-title section-title">{{ entity.parent }}</div>

<h1>{{ entity.title }}</h1>

{#<img width="266" height="196" title="pic12" alt="pic12" class="item-pic-left" src="./upload/pic12.jpg">#}
<div class="item-pic-left">{% thumbnail entity.image, 'reference' with {'class': ''} %}</div>
<!--<div>{{ entity.announce|raw}}</div>-->

<div>{{ entity.body|raw}}</div>

{% include 'ArmdMkResourcesBundle::related-objects.html.twig' %}
