{% extends ":Frontend:base.html.twig" %}

{% block page_header_title %}{{ 'Registration'|trans }}{% endblock %}

{% block body %}

<div class="lk form">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock %}