
<ul class="time-line-nav">
	{% for c in centuries %}
		<li  id="cen_21" {% if c.selected %}class="active"{% endif%} ><a href="{{ path('armd_chronicle_index_by_century', {'century': c.value}) }}">{{ c.value }} век</a>

		
		{#<ul>
			<li><a href="#year_1990">1990</a></li>
			<li><a href="#year_1980">1980</a></li>
			<li><a href="#year_1970">1970</a></li>
			<li><a href="#year_1960">1960</a></li>
			<li><a href="#year_1950">1950</a></li>
			<li><a href="#year_1940">1940</a></li>
			<li><a href="#year_1930">1930</a></li>
			<li><a href="#year_1920">1920</a></li>
			<li><a href="#year_1910">1910</a></li>
			<li><a href="#year_1900">1900</a></li>
		</ul>#}
		
		</li>
	{% endfor %}
	
</ul>