{% extends '::two-column-layout.html.twig' %}

{% block body%}
	<div class="title-block timeline-title">
		<h2>Лента времени</h2>
	</div>

    {% render "ArmdChronicleBundle:Event:centuries" with {"century": century} %}

    <div class="time-line-content clearfix">
    	<div class="time-line-header">{{ century }}<br />
    		<span>век</span>
    	</div>    
        
        {% include "ArmdChronicleBundle:Event:list.html.twig" with {"events": events} %}
    </div>
{% endblock %}    
