{% extends '::two-column-layout.html.twig' %}

{% block body%}
	<div class="title-block timeline-title">
		<h2>Лента времени</h2>
	</div>

    {% include "ArmdChronicleBundle:Event:centuries.html.twig" with {"centuries": centuries} %}
    <div class="wayponits-area">
    {% for c in centuries %}
   
   
    {# <a name="{{ c.name }}"></a> #}
    <div class="time-line-content clearfix" id="{{ c.name }}">
    	<div class="time-line-header">{{ c.name }}<br />
    		<span>век</span>
    	</div>    
   
        
        {% include "ArmdChronicleBundle:Event:list.html.twig" with {"events": c.events, "accidents": c.accidents} %}
    </div>    
    {% endfor%}
    </div> <!-- //wayponits-area-->
{% endblock %}    
