<div class="time-line-block">
	<div class="time-line-block-header">
		{{ event.title }}
		<span class="time-line-year">{{ event.year }} год</span>
	</div>
	{% thumbnail event.image, "list" with {"class": "time-line-image"} %}
	<div class="time-line-block-text">
        <p>{{ event.body|raw }}</p>
	</div>
</div>
