{% extends '::base.html.twig' %}



{% block stylesheets %}

{{ parent() }}

<link href="{{ asset('main/common/css/sm.css') }}" rel="stylesheet" type="text/css" media="screen" />


{% endblock %}


{% block javascripts %}
{{ parent() }}

<script src="{{ asset('/main/common/js/function.js') }}"></script>

{% endblock %}

{% block title %} — Государственные услуги{% endblock %}


 {% block body%}

<div class="title-block">
				<h2>Государственные услуги</h2>
			</div>

<div class="gos-buttons-wrap">
				<ul class="gos-buttons clearfix">
					<li id="cult">
						<a href="#cult_block" class="gos-button">
							<span class="gos-cult"></span>
							<p>КУЛЬТУРНЫЕ ЦЕННОСТИ, ОБЪЕКТЫ КУЛЬТУРНОГО НАСЛЕДИЯ</p>
						</a>
					</li>
					<li id="lib">
						<a href="#lib_block" class="gos-button">
							<span class="gos-lib"></span>
							<p>БИБЛИОТЕЧНОЕ ДЕЛО</p>
						</a>
					</li>
					<li id="cin">
						<a href="#cin_block" class="gos-button">
							<span class="gos-cin"></span>
							<p>КИНЕМАТОГРАФ</p>
						</a>
					</li>
					<li id="grazhd">
						<a href="#grazhd_block" class="gos-button">
							<span class="gos-grazhd"></span>
							<p>ОБРАЩЕНИЯ ГРАЖДАН</p>
						</a>
					</li>
					<li id="arch">
						<a href="#arch_block" class="gos-button">
							<span class="gos-arch"></span>
							<p>АРХИВНОЕ ДЕЛО</p>
						</a>
					</li>
					<li id="hist">
						<a href="#hist_block" class="gos-button">
							<span class="gos-hist"></span>
							<p>ИСТОРИКО-КУЛЬТУРНЫЕ ТЕРРИТОРИИ</p>
						</a>
					</li>
				</ul>
			</div>




			
			<ul class="gos-list">
				<li  id="cult_block">
					<h2>Культурные ценности, объекты культурного наследия</h2>
					<ul>
						<li>
							Ведение реестра книжных памятников
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001763400_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link"  ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204366" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>
							Выдача разрешений и заданий на проведение работ по сохранению объектов культурного наследия (памятников истории и культуры) федерального значения
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001012952_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204369" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>
							Выдача свидетельства на право вывоза или временного вывоза культурных ценностей с территории Российской Федерации физическим и юридическим лицам
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001027960_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204464" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>
							Оказание в соответствии с законодательством Российской Федерации и международными договорами Российской Федерации содействия законным собственникам в восстановлении их прав на культурные ценности при незаконных вывозе, ввозе культурных ценностей и передаче права собственности на них, содействие возвращению культурных ценностей в Российскую Федерацию в случае незаконного вывоза
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001007746_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204470" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Заключение договоров о возврате временно вывозимых культурных ценностей с лицами, ходатайствующими о временном их вывозе
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001009991_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a>
								</p>
							</div>
						</li>
						<li>Организация проведения экспертизы, заявленных к вывозу (временному вывозу) культурных ценностей, а также возвращенных после временного вывоза
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001011991_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a>
								</p>
							</div>
						</li>
						<li>Осуществление регистрации культурных ценностей, ввезенных и временно ввезенных на территорию Российской Федерации
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001009688_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204472" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Регистрация фактов пропажи, утраты, хищения культурных ценностей, организация и обеспечение оповещения государственных органов и общественности в Российской Федерации и за ее пределами об этих фактах
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001006226_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204476" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Согласование проектной документации по сохранению объектов культурного наследия, проектов их зон охраны, градостроительной документации и градостроительных регламентов, устанавливаемых в границах территорий объектов культурного наследия федерального значения, расположенных в исторических поселениях и границах зон их охраны
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001013025_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204474" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Включение в установленном порядке музейных предметов и музейных коллекций в состав Музейного фонда Российской Федерации и исключение их из состава этого фонда
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001761309_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
								</p>
							</div>
						</li>
						<li>Установка информационных надписей и обозначений на отдельных объектах культурного наследия федерального значения
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001013039_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
								</p>
							</div>
						</li>
						<li>Организация проведения государственной историко-культурной и искусствоведческой экспертизы коллекционируемого, а также изъятого и конфискованного оружия, патронов к нему, копий (реплик) оружия
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001012384_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
								</p>
							</div>
						</li>
						<li>Лицензирование деятельности по реставрации объектов культурного наследия (памятников истории и культуры)
							<div class="gos-links">
								<p>
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204468" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
					</ul>
				</li>
				
				<li id="lib_block">
					<h2>Библиотечное дело</h2>
					<ul>
						<li>Предоставление библиографической информации из государственных библиотечных фондов
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10000562924_48.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204311" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Предоставление информации из государственных библиотечных фондов в части, не касающейся авторских прав
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10000572466_49.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204313" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
					</ul>
				</li>	
				
				<li id="cin_block">
					<h2>Кинематограф</h2>
					<ul>
						<li>Выдача прокатных удостоверений на фильмы, созданные в Российской Федерации или приобретенные за рубежом для проката на ее территории
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001762891_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204315" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Выдача удостоверений национального фильма
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001760740_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204318" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
					</ul>
				</li>	
				

				<li id="hist_block">
					<h2>Историко-культурные территории</h2>
					<ul>
						<li>Выдача разрешений (открытых листов) на право проведения работ по выявлению и изучению объектов археологического наследия
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10000996241_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204466" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						
					</ul>
				</li>
				
				<li id="arch_block">
					<h2>Архивное дело</h2>
					<ul>
						<li>Организация информационного обеспечения пользователей на основе документов Архивного фонда Российской Федерации и других архивных документов
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001090856_.html" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://archives.ru/feedback/index.shtml" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						<li>Организация исполнения запросов российских и иностранных граждан, а также лиц без гражданства, связанных с реализацией их законных прав и свобод, оформления в установленном порядке архивных справок, направляемых в иностранные государства
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10000271248_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									
								</p>
							</div>
						</li>
					</ul>
				</li>
				
				<li id="grazhd_block">
					<h2>Обращения граждан</h2>
					<ul>
						<li>Обращение в Министерство Культуры РФ (в рамках исполнения госуслуги «Осуществление приема граждан, обеспечение своевременного и в полном объеме рассмотрения устных и письменных обращений граждан, принятие по ним решений и направление заявителям ответов в установленный законодательством Российской Федерации срок»)
							<div class="gos-links">
								<p>
									<a href="http://epgu.gosuslugi.ru/pgu/service/10001764844_.html#_description" target="_blank" title="На Портале государственных и муниципальных услуг" class="gosuslugi-link" ></a><br />
									<a href="http://mkrf.ru/gosuslugi/detail.php?ID=204364" target="_blank" title="На официальном сайте Министерства Культуры Российской Федерации" class="mincult-link"></a>
								</p>
							</div>
						</li>
						
					</ul>
				</li>
				
			</ul>
			
			<ul class="gos-prims">
				<li class="gos-prim">
					<span class="gosuslugi-link"></span> 
					На Портале государственных и муниципальных услуг		
				</li>
				<li class="gos-prim">
					<span class="mincult-link"></span> 
					На официальном сайте Министерства Культуры Российской Федерации
				</li>
			</ul>
			

			{% endblock %}