{% set level = 0 %}
{% for node in nodes %}
    {% if node.lvl == level %}
        </li>
    {% elseif node.lvl > level %}
        <ul>
    {% else %}
        </li>
        {% for i in 0..(level-node.lvl) %}
            </ul>
            </li>
        {% endfor %}
    {% endif %}
    <li>
    {% if id==node.id %}
        {{ node.title }}
    {% else %}
        <a href="{{ cmsPath('armd_culture_area', 'item', {'id':node.id}) }}">{{ node.title }}</a>
    {% endif %}
    {% set level = node.lvl %}
{% endfor %}
{% for i in 0..level %}
    </li>
    </ul>
{% endfor %}
