<a href="{{ path('armd_atlas_default_object_view', {id: item.id}) }}" class="imageOfRussia-list-item-big noTextDecoration positionRelative">
    {% for h in item.images|slice(0, 1) %}
        {% thumbnail h, 'atlasW613H408' with {'width': 460, 'height': 'auto', 'display': 'block'} %}
    {% endfor %}
    <span class="sidebar-item-title paddingTop5Bottom25">
        {{ item.title }}
    </span>
    <div class="positionAbsolute overlay displayNone">

    </div>
</a>