{% if objects is not empty %}
    <div>
        {% for object in objects %}
            <div class="sidebar-object-item-wrapper positionRelative">
                <a class="displayBlock" href="{{ path('armd_atlas_default_object_view', {'id': object.id}) }}">
                    {% thumbnail object.sideBannerImage, 'sideBanner' with {'width': 240, 'height': 'auto', 'class': 'displayBlock'} %}
                    <div class="sidebar-image-description positionAbsolute sidebar-item-title">
                        {{ object.title }}
                    </div>
                </a>
                <a class="positionAbsolute sidebar-item-type" href="{{ path('armd_atlas_russia_images') }}">
                    {{ 'Sidebar.LinkedContent.Type.ImagesOfRussia'|trans }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}