{% form_theme form 'ArmdUserBundle:Form:lk_form_theme.html.twig' %}

<form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST" class="profile-form">
    {{ form_widget(form) }}
    <div class="form-actions" style="clear:none">
        <input type="submit" name="submit" value="{{ 'Save changes'|trans }}"/>
    </div>
</form>
