{% import 'ArmdNewsBundle::date_macro.html.twig' as news_date %}
{% if entities is not empty %}
    <section class="block">
        <h1><span>Памятные даты</span></h1>
    </section>
    {% for entity in entities %}
        <div class="important-dates">
            <h2>{{ news_date.news_date(entity.newsDate) }}</h2>
            <ul>
                <li>{{ entity.title }}</li>
            </ul>
        </div>
    {% endfor %}
{% endif %}
