{% extends '::three-column-layout.html.twig' %}

{# ------------------------- #}
{% block caterories %}
    {% render "ArmdNewsBundle:News:categories" with {"category": category } %}
{% endblock %}

{# ------------------------- #}
{% block header %}
    <a href="{{ path('armd_news_news_list') }}">{{ 'Events'|trans }}</a>
{% endblock %}

{# ------------------------- #}
{% block center_right %}
    {% include "ArmdNewsBundle:News:calendar.html.twig" %}	
    {% render "ArmdNewsBundle:News:recommendedNews" with {"limit": 3} %}
{% endblock %}

{# ------------------------- #}
{% block bottom_right %}
{% endblock %}

{# ------------------------- #}
{% block top %}
    {% render "ArmdNewsBundle:News:billboard" %}
{% endblock %}

