{#{% extends '::three-column-layout.html.twig' %}#}

{#&#123;&#35; ------------------------- &#35;&#125;#}
{#{% block caterories %}#}
    {#{% render "ArmdNewsBundle:News:categories" with {"category": category } %}#}
{#{% endblock %}#}

{#&#123;&#35; ------------------------- &#35;&#125;#}
{#{% block header %}#}
   {#&#123;&#35;<a href="{{ path('armd_news_news_list') }}">{{ 'Events'|trans }}</a> &#35;&#125;#}
   {#{{ 'Events'|trans }}#}
{#{% endblock %}#}

{#&#123;&#35; ------------------------- &#35;&#125;#}
{#{% block center_right %}#}
    {#{% include "ArmdNewsBundle:News:calendar.html.twig" %}	#}
    {#{% render "ArmdNewsBundle:News:recommendedNews" with {"limit": 3} %}#}
{#{% endblock %}#}

{#&#123;&#35; ------------------------- &#35;&#125;#}
{#{% block bottom_right %}#}
{#{% endblock %}#}

{#&#123;&#35; ------------------------- &#35;&#125;#}
{#{% block top %}#}
    {#{% render "ArmdNewsBundle:News:billboard" %}#}
{#{% endblock %}#}

{#{% block body %}#}
	{#{% block content %}#}
	{#{% endblock %}#}
{#{% endblock %}#}

{% extends '::layout_one_column.html.twig' %}

{% block %}
{% endbock %}