{% import 'ArmdNewsBundle::date_macro.html.twig' as armd_date %}

{% if entities is defined %}
    <h2 class="long-border"><span>Новости по теме</span></h2>
    <div class="theme-news-block clearfix">
    {% for entity in entities %}
        <ul class="theme-news-list">
            <li>
                <span class="date">{{ armd_date.news_date(entity.newsDate) }} / {{ entity.newsDate|date('H:i') }}12:06</span>
                <a href="{{ path('armd_news_item_by_category', {'id':entity.id, 'category':entity.category.slug}) }}">{{ entity.title|raw }}</a>
            </li>
        </ul>
    {% endfor %}
{% endif %}
