
.clearfix {
	zoom: 1;
}

.main-menu-item-IE {
	z-index: 1100;
}

.pagination  {
	display : inline;
	zoom : 1;
}
.content-item-info-header-a {
    display: block;
}

.content-1 .content-item-info-header-a-name, .content-2 .content-item-info-header-a-name, .content-3 .content-item-info-header-a-name   {
   display: block;
   z-index: expression(
    runtimeStyle.zIndex = 1,
    this == ((64/2)-parseInt(offsetHeight)/2) <0 ? style.paddingTop="0" : style.paddingTop=(64/2)-(parseInt(offsetHeight)/2) +'px'); 
}

.content-1 .content-item-info-text-title-narrow {
    zoom: 1;
    display: inline;
    vertical-align: middle;
}

.main-feat-news-date span, .main-news-lnk-more, .main-bottom-links-a-span {
    zoom: 1;
    display: inline;
}


