<div class="broadcast-timer broadcast-clocks-background">
    <p>{{ 'Mainpage.TimeTillStart'|trans }}:<br /><span id="countdown"></span></p>
    <script type="text/javascript">
        (function(){
            var countdownHolder = $('#countdown'),
                locale = '{{ app.request.locale }}',
                entityTimestamp = {{ entity.date.getTimestamp() }},
                entityDate = new Date(entityTimestamp * 1000),
                localTimezoneOffset = entityDate.getTimezoneOffset(),
                timezoneCorrectionInSeconds = (-1 * moment().zone() + localTimezoneOffset) * 60,

                countdown = function(){
                    var dateDifferenceInSeconds,
                        days, hours, minutes,
                        daysString, hoursString, minutesString,
                        now = new Date();

                    if (entityDate > now) {
                        dateDifferenceInSeconds = Math.floor((entityDate.getTime() - now.getTime()) / 1000) - timezoneCorrectionInSeconds;

                        days = Math.floor(dateDifferenceInSeconds / 60 / 60 / 24);
                        hours = Math.floor((dateDifferenceInSeconds - days * 60 * 60 * 24) / 60 / 60);
                        minutes = Math.floor((dateDifferenceInSeconds - days * 60 * 60 * 24 - hours * 60 * 60) / 60);
                    }
                    else {
                        days = 0;
                        hours = 0;
                        minutes = 0;
                    }

                    daysString = DamediaNumeralsLocalizator.localizeDays(days, locale);
                    hoursString = DamediaNumeralsLocalizator.localizeHours(hours, locale);
                    minutesString = DamediaNumeralsLocalizator.localizeMinutes(minutes, locale);

                    countdownHolder.text(daysString + ' ' + hoursString + ' ' + minutesString);

                    setTimeout(countdown, 5000);
                };

            countdown();
        }());
    </script>
</div>