{% if entity is defined%}
    <div class="online-anons clearfix">
        <h2>online-трансляции</h2>
        <a href="#">{% thumbnail entity.image, 'adminPreview' with { 'class': 'online-anons-image' } %}</a>
        <h3>{{ date }}</h3>
        <a class="online-type" href="#">Фестиваль</a>
        <h4>FESTLWAL PLOSENKL ROSYJSKIEJ (CZESC 2)</h4>
        <p class="online-anons-place">Пражский концертный зал / <b>19:00</b></p>
        <p>Редкий образец качественного оригинального мюзикла. Монобренд с вещами Лагерфельда.</p>
        <div class="online-anons-footer">
            <div class="online-anons-footer-time">
                <p>
                    До трансляции осталось:<br>2 дня 15 час 13 мин
                </p>
            </div>
            <a class="button button-orange " href="#">Напомнить</a>

        </div>
    </div>
{% endif %}