/*** RESET ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; outline: none; }
td { vertical-align: middle; }
@media screen and (-webkit-min-device-pixel-ratio:0){input, select, textarea { margin: 0; padding: 0; }}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img, a img, :link img, :visited img { border: 0; outline: none; }
table { border-collapse:collapse; border-spacing:0; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { background: #ccc; color: #000; text-decoration: none; }
mark { color: #d85100; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border: 1px dotted #ccc; cursor: help; }
hr { display: block; margin: 1em 0; padding: 0; height: 1px; color: #ccc; background: #ccc; border: 0; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
label, .input_button, button { cursor: pointer; }
button, input, select, textarea { margin: 0; padding: 0; }
button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner { padding:0; border:0; }
button {  width: auto; overflow: visible; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
.ie7 img { -ms-interpolation-mode: bicubic; }

::-moz-selection { background: #ccc; color: #000; text-shadow: none; }
::selection { background: #ccc; color: #000; text-shadow: none; } 

body { font: 14px/1.25 'trebuchet ms',sans-serif; *font-size: small; }
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
body, select, input, textarea { color: #333; }

h1,h2,h3,h4,h5,h6 { margin-bottom: 5px; font-family: 'trebuchet ms',sans-serif; line-height: 1.1em; color: #000; }
h1 { font-weight: normal; font-size: 2em; margin-bottom: 10px;}
h1 sup { font-size: .4em; }
h2 { font-weight: normal; font-size: 1.5em; }
h3 { margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #adadad; font-weight: normal; font-size: 1.2em; color: #da5c11; }
h4 { font-weight: bold; font-size: 1.1em; }
h5 { font-weight: normal; font-size: 1.1em; color: #da5c11; }

h1 a, h2 a { color: #000; text-decoration: none; }
h1 a:hover, h2 a:hover { text-decoration: underline; }

a { color: #de6414; text-decoration: underline; }
a:hover { text-decoration: none; }
.lnk-more { padding-left: 17px; background: url(../img/bg-arrows.png) 0 -8px no-repeat; font-size: .8em; color: #333; }
.lnk-more-bg { display: inline-block; vertical-align: middle; width: 16px; height: 16px; background: url(../img/bg-arrows.png) 0 -8px no-repeat; text-indent: -9999px; overflow: hidden; }
.lnk-0 { color: #949494; }

ol { list-style-type: decimal; }

big { font-size: 130%; }
small { font-size: 80%; }
strong { font-weight: bold; }
em { font-style: italic; }
sub { vertical-align: sub; font-size: smaller; line-height: .5em; }
sup { vertical-align: super; font-size: smaller; line-height: .5em; }

pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

.hidden { display: none; } 
.invisible { visibility: hidden; }

.cb { zoom: 1; }
.cb:before, .cb:after { content:'.'; display: block; height: 0; visibility: hidden; overflow: hidden; text-indent: -9999px; } 
.cb:after { clear: both; }

p { margin-bottom: 1em; }
dd { padding: 0 0 1.5em 1.5em; }
ol { padding: .5em 0 1 1.5em; }
ol li { padding-left: .5em; }
ul { padding: .5em 0 1em 1.5em; list-style: disc; }
nav ul, nav li, fieldset ul, fieldset li, .plain-list, .plain-list li { margin: 0; padding: 0; background: none; list-style: none; } 
#content td, #content th { padding: 5px 10px; border: 1px solid #ccc; }

cite { display: block; margin-bottom: 1em; font-style: normal; font-size: 1.35em; color: #da5c11; }

blockquote { position: relative; padding: 15px 45px 30px 45px; width: 40%; font-style: italic; font-size: 1.5em; color: #ad3500; }
blockquote:before, blockquote:after { content: '.'; position: absolute; width: 32px; height: 32px; background: url(../img/ico.png) 0 -416px no-repeat; text-indent: -9999px; overflow: hidden; }
blockquote:before { top: 0; left: 0; }
blockquote:after { bottom: 0; right: 0; }
blockquote.fr { margin: 0 0 20px 20px; }

.inp-txt, .inp-btn { display: inline-block; vertical-align: middle; }
.inp-btn input, .inp-btn button { cursor: pointer; }

span.btn-custom { background: #d1d1d1; background-image: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#d1d1d1)); background-image: -webkit-linear-gradient(top,#fcfcfc,#d1d1d1); background-image: -moz-linear-gradient(top,#fcfcfc,#d1d1d1);background-image: -ms-linear-gradient(top,#fcfcfc,#d1d1d1); background-image: -o-linear-gradient(top,#fcfcfc,#d1d1d1); background-image: linear-gradient(top,#fcfcfc,#d1d1d1); -pie-background: linear-gradient(top,#fcfcfc,#d1d1d1); border: 1px solid #cacaca; box-shadow: 0 0 7px #b3b3b3; -moz-box-shadow: 0 0 7px #b3b3b3; -webkit-box-shadow: 0 0 7px #b3b3b3; }
span.btn-custom input, span.btn-custom button { padding: 0 10px; height: 28px; border: 0; background: none; font-weight: bold; font-size: .9em; color: #333; }

button.btn-discuss { padding-left: 30px !important; background: url(../img/ico.png) 0 -98px no-repeat !important; }

.cl { clear: left; }
.fl { float: left; }
.fr { float: right; }
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.info { color: #6e6e6e; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mb30 { margin-bottom: 30px; }
.prz2 { position: relative; z-index: 2; }
.dot-underlined { margin-bottom: 1em; padding-bottom: 5px; border-bottom: 1px dotted #757575; }

.green { color: #428611; }
.black { color: #000; }

.proh-wrap { position: relative; width: 100%; overflow: hidden; }

.date span { padding: 0 3px; background: #242424; color: #fff; }
.date-0 {margin-bottom: 5px;}
.date-0 span { background: #d85100; }
.date-1 span { background: #b9b9b9; }

.inline-list li { display: inline-block; vertical-align: top; }

.odd-title { margin-bottom: 5px; font-size: .8em; color: #8f8f8f; text-transform: uppercase; }

.d-select-pseudo { padding: 0 7px; display: inline-block; position: relative; vertical-align: middle; cursor: pointer;}
.d-select-pseudo div { padding-right: 20px; font-size: 1.3em; background: url(../img/bg-arrows.png) 100% -68px no-repeat;}
.d-select-pseudo ul, .d-select-pseudo li { margin: 0; padding: 0; list-style: none; line-height: normal;}
.d-select-pseudo ul { display: none; position: absolute; left: 0; min-width: 100%; padding: 5px 0; white-space: nowrap; margin-top: 10px;}
.d-select-pseudo li { padding: 0 7px; font-size: 1em; }
.d-select-month { background-color: #b80000; }
.d-select-month ul { background: url(../img/bg-4.png); }
.d-select-year { background-color: #333; }
.d-select-year ul { background: url(../img/bg-5.png); }
.d-select-city { background-color: #fff; color: #333; }
.d-select-city div { background-position: 100% -100px; }
.d-select-city ul { left: auto; right: 0; background: url(../img/bg-6.png); }
.d-select-nav-inner { display: block !important; z-index: 10; margin-bottom: 3px; padding: 10px 10px 10px 20px; background: #cd0000; background-image: -webkit-gradient(linear,left top,left bottom,from(#8f0000),to(#cd0000)); background-image: -webkit-linear-gradient(top,#8f0000,#cd0000); background-image: -moz-linear-gradient(top,#8f0000,#cd0000);background-image: -ms-linear-gradient(top,#8f0000,#cd0000); background-image: -o-linear-gradient(top,#8f0000,#cd0000); background-image: linear-gradient(top,#8f0000,#cd0000); -pie-background: linear-gradient(top,#8f0000,#cd0000); color: #fff; }
/* .d-select-nav-inner:after { top: 6px; right: 7px; width: 20px; height: 20px; background: url(../img/bg-arrows.png) 100% -68px no-repeat; text-indent: -9999px; overflow: hidden; content:''; }*/
.d-select-nav-inner div { font-size: 1em; }
.d-select-nav-inner ul { background: #C41D0E; /*background: url(../img/bg-4.png);*/ }
.d-select-nav-inner li { padding-left: 20px; font-size: 1em; margin-bottom: 14px; white-space: normal; }

/*** STYLES ***/
html, body { min-width: 990px; min-height: 100%; height: 100%; }
body { position: relative; background: #fff url(../img/bg.jpg) 50% -500px no-repeat; }

header { padding: 0 30px; height: 120px; background: #ffa200 url(../img/bg.jpg) 0 0 no-repeat; }
#logo { float: left; width: 284px; height: 88px; }
#nav-header { float: right; margin: 10px 36px 0 0; padding-left: 16px; font-size: .8em; background: url('../img/look.png') no-repeat 0 center;}
#nav-header ul, #nav-header li { float: left; }
#nav-header a, #nav-header b { float: left; padding: 1px 3px; }
#nav-header a { color: #000; }
#nav-header b { background: #b9171c; color: #fff; }

#menu_search_wrap {position: relative; margin: 0 -30px 0;}

#nav-top {height: 29px; background: url(../img/bg-nav-top.png) 0 0 repeat-x; border-bottom: 3px solid #2a2a2a; float: left; width: 70%}
#content #nav-top table { width: 100%; white-space: nowrap; text-align: center; position: relative;}
#content #nav-top td { padding: 0 10px; background: url(../img/bg-nav-top-sep.png) 100% 50% no-repeat; border: 0; }
#content #nav-top td.prevhover { background: none; }
#content #nav-top td.current, #content #nav-top td.hover { background: #2a2a2a; }
#content #nav-top td.current a, #content #nav-top td.hover a { color: #fff; }
#nav-top a { display: block; font-weight: bold; font-size: .8em; line-height: 32px; color: #410000; text-decoration: none; text-transform: uppercase; }
#nav-top a:hover { text-decoration: underline; }

#site-search {float: right; padding: 0; width: 30%; height: 100%; background: #2a2a2a; white-space: nowrap;}
#site-search form {display: block; position: relative; margin: 6px 0 6px 6px;}
#site-search span{display: block;}
#site-search fieldset {position: relative; height: 20px; margin-right: 61px; background: #FFF;}
#site-search label {padding: 0; font-size: .85em; color: #969696; position: absolute; right: 3px; top: 50%; margin-top: -7px;}
#site-search fieldset .inp-txt{margin-right: 125px;}
#site-search .inp-txt input {margin: -2px 0 0; padding: 0; width: 100%; height: 16px; border: 0; font-size: .85em; position: relative; border-right: 1px solid #CCC;}
#site-search .inp-cb {margin: 0; width: 14px; height: 14px; position: absolute; right: 105px; top: 50%; margin-top: -6px;}
#site-search .inp-btn { position: absolute; height: 100%; right: 31px; top: 0; font-size: 0;}
#site-search a{ position: absolute; height: 100%; right: 0; top: 0;  border-left: 1px solid #464646;}
#site-search .inp-btn input,
#site-search a span{ width: 30px; height: 20px; background: url(../img/ico.png) no-repeat; border: 0; text-indent: -9999px; overflow: hidden; position: relative; top: 50%; margin-top: -10px;}
#site-search .inp-btn input { background-position: -1px -38px; }
#site-search a span{ background-position: -1px -70px; }

#header-news-options { position: relative; z-index: 5; padding: 10px 30px; background: #75060a url(../img/bg-0.jpg) 50% 0 no-repeat; color: #fff; line-height: 32px; } 
#header-news-options-title { font-size: 1.5em; vertical-align: middle; }
#header-news-options-time { float: right; }
#header-news-options-time a { margin-right: 10px; border-bottom: 1px dashed #fff; color: #fff; text-decoration: none; }
#header-news-options-time a:hover { border: 0; }
#header-news-options-time time { display: inline-block; vertical-align: middle; margin-left: -2px; width: 90px; height: 32px; background: #8f2b2e; font-size: 1.5em; line-height: 32px; text-align: center; }
#header-news-options .d-select-pseudo { margin-right: -2px; height: 32px; }

#overlay-filter, #overlay-filter-map { position: absolute; z-index: 999; top: 30px; left: 0; right: 0; width: 100%; height: 120px; background: url(../img/bg-overlay-filter.png) 0 0 repeat-x; }
#overlay-filter-map { height: 60px; background: url(../img/bg-overlay-filter-map.png) 0 0 repeat-x; }
.adv-search-filter { display: none; }
#overlay-filter-i { position: relative; top: 15px; margin: 0 30px; }
#overlay-filter-i.map-overlay-filter-i { float: right; margin: 0 30px 0 0; padding-right: 10px; }
#overlay-filter-bg { position: absolute; z-index: 0; top: 0; left: 0; right: 0; width: 100%; height: 100%; background: #0c0c0c; opacity: .6; filter: alpha(opacity=60); }
#overlay-filter fieldset { position: relative; z-index: 1; padding: 3px 0; }
#overlay-filter fieldset:before { position: absolute; top: 0; left: 0; width: 30px; height: 30px; background: url(../img/ico.png) 0 -161px no-repeat; content:'.'; overflow: hidden; text-indent: -9999px; }
#overlay-filter ul { margin-left: 30px; border-left: 1px solid #292929; }
#overlay-filter li { float: left; padding-left: 13px; height: 24px; font-size: .85em; line-height: 22px; color: #fff; }
#overlay-filter label { margin-left: 5px; }
#overlay-filter .pseudo-select-i ul { border: 0; padding: 8px 0; }
#overlay-filter .pseudo-select-i li { float: none; padding: 2px 10px; height: auto; font-size: 1em; line-height: normal; }
#lnk-map-slideshow { position: absolute !important; z-index: 1000; top: 135px; left: 30px; padding: 8px; height: 14px; background: #373737; font-size: .7em; line-height: 10px; color: #fff; text-transform: uppercase; }
#lnk-map-slideshow label { margin-left: 5px; border-bottom: 1px dashed #fff; }
#lnk-map-slideshow label:hover { border: 0; }
#lnk-map-slideshow.lnk-map-slideshow-active { background: #d85100; background-image: -webkit-gradient(linear,left top,left bottom,from(#ec8000),to(#d85100)); background-image: -webkit-linear-gradient(top,#ec8000,#d85100); background-image: -moz-linear-gradient(top,#ec8000,#d85100);background-image: -ms-linear-gradient(top,#ec8000,#d85100); background-image: -o-linear-gradient(top,#ec8000,#d85100); background-image: linear-gradient(top,#ec8000,#d85100); -pie-background: linear-gradient(top,#ec8000,#d85100); }

#content { position: relative; z-index: 1; min-height: 100%; min-width: 985px;}
#content:after { display: block; clear: both; height: 100px; content:'.'; text-indent: -99999px; visibility: hidden; overflow: hidden; }
#content-i { margin: 0 300px 0 270px; padding-top: 30px; }
#content-i.content-i-l { margin-left: 30px; }
#content-i2 { float: left; width: 100%; }
#content-i-wide { padding: 30px 30px 0 30px; }
#content-i-lenta { padding: 30px 50px 0 100px; }
.content-bg-0 #content { background: #701414 url(/img/bg-1.jpg) 50% 0 repeat-x; }

#sidebar-l { float: left; padding: 30px 0 0 30px; width: 210px; }
/* правка градиентов */
/*#nav-inner { padding: 3px 0; background: #272727; background-image: -webkit-gradient(linear,left top,right bottom,from(#7f7f7f),to(#272727)); background-image: -webkit-linear-gradient(-45deg,#7f7f7f,#272727); background-image: -moz-linear-gradient(-45deg,#7f7f7f,#272727);background-image: -ms-linear-gradient(-45deg,#7f7f7f,#272727); background-image: -o-linear-gradient(-45deg,#7f7f7f,#272727); background-image: linear-gradient(-45deg,#7f7f7f,#272727); -pie-background: linear-gradient(-45deg,#7f7f7f,#272727); color: #fff; } */
#nav-inner { padding: 3px 0; background: none; color: #fff; }
#nav-inner a { display: block; padding: 11px 0 11px 15px; color: #fff;
background: #7f7f7f;
background: -moz-linear-gradient(left,  #7f7f7f 0%, #272727 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7f7f7f), color-stop(100%,#272727));
background: -webkit-linear-gradient(left,  #7f7f7f 0%,#272727 100%);
background: -o-linear-gradient(left,  #7f7f7f 0%,#272727 100%);
background: -ms-linear-gradient(left,  #7f7f7f 0%,#272727 100%);
background: linear-gradient(left,  #7f7f7f 0%,#272727 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#272727',GradientType=1 );
}
#nav-inner li ul { display: none; padding: 15px 10px 15px 30px; background: #ffac4b; background-image: -webkit-gradient(linear,left right,from(#d85100),to(#ffac4b)); background-image: -webkit-linear-gradient(180deg,#d85100,#ffac4b); background-image: -moz-linear-gradient(180deg,#d85100,#ffac4b);background-image: -ms-linear-gradient(180deg,#d85100,#ffac4b); background-image: -o-linear-gradient(180deg,#d85100,#ffac4b); background-image: linear-gradient(180deg,#d85100,#ffac4b); -pie-background: linear-gradient(180deg,#d85100,#ffac4b); }
#nav-inner.extended li ul {display: block}
#nav-inner li li { padding: 2px 0; list-style: disc; font-size: 1.1em; }
#nav-inner li li a { display: inline; margin: 0; color: #fff !important; text-decoration: underline !important; }
#nav-inner li li a:hover { text-decoration: none !important; }
#nav-inner li.current { background-color: #fff; background:transparent !important;}
#nav-inner li.current a { color: #464343; text-decoration: none; background: none;}
#nav-inner li li.current { background: none !important; }
#nav-inner li.iconed { font-size: 1.4em; background-image: -webkit-gradient(linear,left right, from(#7f7f7f),to(#272727)); background-image: -webkit-linear-gradient(0deg,#7f7f7f,#272727); background-image: -moz-linear-gradient(0deg,#7f7f7f,#272727);background-image: -ms-linear-gradient(0deg,#7f7f7f,#272727); background-image: -o-linear-gradient(0deg,#7f7f7f,#272727); background-image: linear-gradient(0deg,#7f7f7f,#272727); -pie-background: linear-gradient(0deg,#7f7f7f,#272727); }
#nav-inner li.iconed:before { display: block; float: left; margin: 7px 0 0 10px; width: 30px; height: 30px; background: url(../img/bg-nav-inner-ico.png) no-repeat; content:'.'; text-indent: -9999px; overflow: hidden; }
#nav-inner li.iconed a {padding: 8px 0 6px 45px; }
#nav-inner li.iconed.last a {padding-bottom: 12px;}
#nav-inner li.iconed li { font-size: .75em; }
#nav-inner li.iconed li:before { display: none; }
#nav-inner li.iconed li a { margin: 0; }

#nav-inner li.li-0:before,
#nav-inner .i-news:before { background-position: 0 0; }
#nav-inner li.li-0.current:before,
#nav-inner .i-news.current:before { background-position: 0 -30px; }

#nav-inner li.li-1:before,
#nav-inner li.i-review:before { background-position: 0 -60px; }
#nav-inner li.li-1.current:before,
#nav-inner li.i-review.current:before { background-position: 0 -90px; }

#nav-inner li.li-2:before,
#nav-inner li.i-interview:before  { background-position: 0 -120px; }
#nav-inner li.li-2.current:before,
#nav-inner li.i-interview.current:before { background-position: 0 -150px; }

#nav-inner li.li-3:before,
#nav-inner li.i-reportage:before { background-position: 0 -180px; }
#nav-inner li.li-3.current:before,
#nav-inner li.i-reportage.current:before { background-position: 0 -210px; }

#nav-inner li.li-4:before,
#nav-inner li.i-video:before,
#nav-inner li.i-cinema:before { background-position: 0 -240px; }
#nav-inner li.li-4.current:before,
#nav-inner li.i-video.current:before,
#nav-inner li.i-cinema.current:before { background-position: 0 -270px; } 

#nav-inner li.li-5:before,
#nav-inner li.i-theatre:before { background-position: 0 -300px; }
#nav-inner li.li-5.current:before,
#nav-inner li.i-theatre.current:before { background-position: 0 -330px; }

#nav-inner li.li-6:before,
#nav-inner li.i-concerts:before { background-position: 0 -360px; }
#nav-inner li.li-6.current:before,
#nav-inner li.i-concerts.current:before { background-position: 0 -390px; }

#nav-inner li.li-7:before,
#nav-inner li.i-exhibitions:before { background-position: 0 -420px; }
#nav-inner li.li-7.current:before,
#nav-inner li.i-exhibitions.current:before { background-position: 0 -450px; }

#nav-inner li.li-8:before,
#nav-inner li.XXX:before { background-position: 0 -480px; }
#nav-inner li.li-8.current:before,
#nav-inner li.YYY.current:before { background-position: 0 -510px; }

#nav-inner li.i-foreign:before { background-position: 0 -540px; }
#nav-inner li.i-foreign.current:before { background-position: 0 -570px; }

#nav-sections { float: right; margin-top: -20px; padding-left: 10px; }
#nav-sections ul, #nav-sections li, #nav-sections a { float: right; }
#nav-sections a { width: 56px; height: 56px; background: url(../img/bg-nav-sections.png) no-repeat; text-indent: -9999px; overflow: hidden; }
#nav-sections .nav-section-0 a { background-position: -56px 0; }
#nav-sections .nav-section-0 a:hover { background-position: 0 0; }
#nav-sections .nav-section-1 a { background-position: -56px -56px; }
#nav-sections .nav-section-1 a:hover { background-position: 0 -56px; }
#nav-sections .nav-section-2 a { background-position: -56px -112px; }
#nav-sections .nav-section-2 a:hover { background-position: 0 -112px; }

.box-title { margin-bottom: 30px; padding-bottom: 5px; border-bottom: 2px solid #d85100; font-size: .85em; color: #000; text-transform: uppercase; }
.box-title-2 { border-color: #7a7a7a; }
#content-i .box-title, #content-i-wide .box-title, #content-i-lenta .box-title { width: 240px; }
#content-i .section-title, #content-i-lenta .section-title { margin-bottom: 20px; font-size: 1.5em; width: 50%; }

.sb-tiser-wrap { text-align: center; }
.sb-tiser-i { position: relative; display: inline-block; }
.sb-tiser-bg { position: absolute; z-index: 0; top: 0; left: 0; right: 0; bottom: 0; background: #515151; opacity:.3; filter:alpha(opacity=30); }
.sb-tiser { position: relative; z-index: 1; display: block; margin: 4px; }

#sidebar-r { float: right; padding: 30px 30px 0 0; width: 240px; }
#sidebar-r .lnk-more-wrap { margin-left: 60px; border-top: 1px solid #ccc; }

#sidebar-i-l { float: left; margin: -15px 20px 20px 0; width: 280px; }
#info-box { padding: 11px; border: 4px solid #c8c8c8; }
#info-box a { color: #333; }
#info-box-img { margin-bottom: 10px; padding-bottom: 2px; border-bottom: 4px solid #da5c11; overflow: hidden; }
#info-box-img img { display: block; margin: 0 auto; }
#content #info-box table { width: 100%; }
#content #info-box td, #content #info-box th { padding: 5px 0; width: 50%; border: 0; font-weight: normal; font-size: .85em; text-align: left; }
#content #info-box th { color: #da5c11; }

.feat-news-item { margin-bottom: 20px; }
.feat-news-item dl { padding: 10px 0; border-bottom: 1px solid #ccc; }
.feat-news-item dt { float: left; width: 266px; overflow: hidden; }
.feat-news-item dt img { display: block; }
.feat-news-item dd { margin-left: 280px; padding: 0; }
.news-item-source { margin: 0; text-align: right; color: #666}
.news-item-source a { display: inline-block; padding: 0 25px 5px 0; border-bottom: 1px solid #ccc; text-decoration: none; }

.lnk-more-wrap { margin: 0; padding: .5em 0; text-align: right; }

.newslist { border-bottom: 1px solid #ccc; }
.newslist dt { float: left; width: 95px; overflow: hidden; }
.newslist dt img { display: block; }
.newslist dd { margin-left: 115px; padding: 0; }
.newslist dd:after { clear: both; content:'.'; display: block; height: 30px; visibility: hidden; overflow: hidden; text-indent: -9999px; }
.newslist .date { font-size: .7em; margin-bottom: 7px;}
.newslist-descr a { color: #333; font-size: .85em; text-decoration: none; }
.newslist-descr a * {display: inline; margin: 0;}
.newslist-descr a:hover { text-decoration: underline; }
.newslist-descr .lnk-more { display: inline-block; vertical-align: middle; padding: 0; width: 16px; text-indent: -9999px; overflow: hidden; }
.feat-newslist-item h2 { font-weight: bold; }

.newsline dt { float: left; width: 51px; height: 51px; overflow: hidden; }
.newsline dt img { display: block; }
.newsline dd { margin-left: 60px; padding: 2px 0 0 0; }
.newsline dd:after { clear: both; content:'.'; display: block; height: 20px; visibility: hidden; overflow: hidden; text-indent: -9999px; }
.newsline a { color: #000; text-decoration: none; }
.newsline a:hover { text-decoration: underline; }
.newsline h4 { margin-top: 5px; }
.newsline .date { font-size: .6em; }
.newsline-descr { line-height: 1em; }
.newsline-descr a { color: #636363; font-size: .85em; }

.eventsline h4 { margin-bottom: 0; font-weight: normal; font-size: 1.3em; }
.eventsline .nav-tags { padding: 0; line-height: 1em; }

.nav-pages { padding: 20px 0; font-size: .85em; color: #da5704; text-align: right; }
.nav-pages li { display: inline; text-align: left; }
.nav-pages a { color: #333; text-decoration: none; }
.nav-pages a:hover { text-decoration: underline; }
.nav-pages-arr { display: inline-block; vertical-align: middle; width: 16px; background: url(../img/bg-arrows.png) no-repeat; text-indent: -9999px; overflow: hidden; }
.nav-pages-prev { background-position: 0 -41px; }
.nav-pages-next { background-position: 0 -9px; }

.item-dfn { margin-bottom: 2em; padding-bottom: 5px; border-bottom: 1px solid #ccc; font-size: 1.15em; color: #393939; clear: both; }
.item-dfn-sm { font-size: .9em; }
.item-pic-right { float: right; padding: 0 0 8px 25px; }
.item-pic-left { float: left; padding: 0 25px 25px 0; }

.nav-tags, .nav-tags a { color: #7b7b7b; }
.nav-tags { padding: 10px 0; font-size: .8em; }
.nav-tags li { display: inline !important; margin: 0 !important; width: auto !important; }
.nav-tags li:before { content:'/'; padding-right: 3px; }
.nav-tags li.first:before { display: none; }
.nav-tags .nav-tag-feat a { color: #cc5733; }

.see-also-list { margin-right: -50px; }
.see-also-list li { display: inline-block; vertical-align: top; width: 185px; margin: 0 40px 40px 0; }
.see-also-list-item, .see-also-list span, .see-also-list img { display: block; text-decoration: none; }
.see-also-list img {display: block; width: 100%; height: auto;}
.see-also-list-item { position: relative; padding-bottom: 10px; /* border-bottom: 1px solid #d1d1d1; */ font-size: .9em; color: #000; padding-bottom: 40px; }
.see-also-list-title { margin-bottom: 10px; font-size: 1.8em; line-height: 1em; color: #c43d14; }
.see-also-list-img { width: 185px; height: 135px; overflow: hidden; }
.see-also-list-brd { margin: 0 20px 10px 0; height: 7px; background: #f49337; overflow: hidden; text-indent: -9999px; }
.see-also-list-bg { position: absolute; bottom: 7px; right: 0; width: 16px; height: 32px; background: url(../img/bg-arrows.png) 0 -128px no-repeat; overflow: hidden; text-indent: -9999px; }
.see-also-list-txt { padding-right: 20px; line-height: 1.1em; }
.see-also-list a:hover span { text-decoration: underline; }
.see-also-list .nav-tags { font-size: .85em; }

.events-list-wrap { margin-left: -15px; padding-left: 15px; }
.events-list { margin-left: -15px; }
.events-list .events-list-item { padding: 7px 15px 15px 15px; margin: 0 23px 20px 0; padding-bottom: 40px; }
.events-list dl { margin-bottom: 2px; padding-top: 4px; }
.events-list dt { float: left; padding: 0 3px; background: #d85100; background-image: -webkit-gradient(linear,left top,right bottom,from(#ffac4b),to(#d85100)); background-image: -webkit-linear-gradient(-45deg,#ffac4b,#d85100); background-image: -moz-linear-gradient(-45deg,#ffac4b,#d85100);background-image: -ms-linear-gradient(-45deg,#ffac4b,#d85100); background-image: -o-linear-gradient(-45deg,#ffac4b,#d85100); background-image: linear-gradient(-45deg,#ffac4b,#d85100); -pie-background: linear-gradient(-45deg,#ffac4b,#d85100); font-size: 3.45em; line-height: 1em; color: #fff; overflow: hidden; }
.events-list dd { float: left; padding: 3px 0 0 10px; font-size: .85em; color: #6e6e6e; }
.events-list dd b { display: block; font-weight: normal; font-size: 1.5em; color: #000; }
a.events-list-title { font-size: 1.7em; line-height: 1em; text-decoration: none; color: #000; display: block; overflow: hidden; word-wrap: break-word;}
a:hover.events-list-title { text-decoration: underline; }
.events-list .see-also-list-brd { margin-bottom: 5px; background: #dedede; }
.events-list .see-also-list-bg { right: 15px; background-position: 0 -160px; }
.events-list .nav-tags { padding-right: 30px; }
.events-list .nav-tags a { color: #b80000; }

.events-list .events-list-item-hover { background: #d85100; background-image: -webkit-gradient(linear,left top,right bottom,from(#ffac4b),to(#d85100)); background-image: -webkit-linear-gradient(-45deg,#ffac4b,#d85100); background-image: -moz-linear-gradient(-45deg,#ffac4b,#d85100);background-image: -ms-linear-gradient(-45deg,#ffac4b,#d85100); background-image: -o-linear-gradient(-45deg,#ffac4b,#d85100); background-image: linear-gradient(-45deg,#ffac4b,#d85100); -pie-background: linear-gradient(-45deg,#ffac4b,#d85100); }
.events-list .events-list-item-hover dl { padding: 0; margin: 0; }
.events-list .events-list-item-hover dt { margin: -2px 0 0 -2px; padding: 0; background: none; -pie-background: none; font-size: 4em; line-height: 1em; }
.events-list .events-list-item-hover dd { padding-top: 7px; color: #d85200; }
.events-list .events-list-item-hover dd b { color: #fff; }
.events-list-item-hover a.events-list-title { font-size: 1.7em; line-height: 1em; text-decoration: none; color: #fff; }
.events-list .events-list-item-hover .see-also-list-brd { background: #f49337; }
.events-list .events-list-item-hover .nav-tags { color: #ffac4b; }
.events-list .events-list-item-hover .nav-tags a { color: #fff; }

#nav-breadcrumbs { margin-bottom: 10px; padding-left: 16px; }
#nav-breadcrumbs ul:before { content:'.'; float: left; margin-left: -16px; width: 16px; height: 16px; background: url(../img/ico.png) -11px -135px no-repeat; overflow: hidden; text-indent: -9999px; }

.nav-show-tabs { margin-bottom: 30px; padding: 50px 0 10px 0; border-bottom: 1px solid #d3d3d3; }
.nav-show-tabs li, .nav-show-tabs a { float: left; }
.nav-show-tabs li { margin-right: 5px; padding: 3px 5px; font-size: 1.5em; }
.nav-show-tabs a { border-bottom: 1px dashed #777; color: #000; text-decoration: none; }
.nav-show-tabs a:hover { border: 0; }
.nav-show-tabs li.current { background: #da5c11; }
.nav-show-tabs li.current a { border: 0; color: #fff; }

.show-tab { display: none; }
.show-tab-current { display: block; }

.show-tab-list { margin-right: -50px; }
.show-tab-list li { margin: 0 2px 5px 0; width: 205px; border: 1px solid #dbdbdb; }
.show-tab-list a, .show-tab-list span { display: block; }
.show-tab-list a { padding: 10px; text-transform: uppercase; color: #000; text-decoration: none; }
.show-tab-list a:hover, .show-tab-list a:hover span { text-decoration: underline; }
.show-tab-list-img { width: 185px; height: 135px; overflow: hidden; }
.show-tab-list-brd { margin: 0 20px 5px 0; height: 7px; background: #da5c11; overflow: hidden; text-indent: -9999px; }
.show-tab-list-dfn { color: #747474; }

.gallery-wrap { position: relative; margin-bottom: 50px; }
.gallery { position: relative; overflow: hidden; border: 1px solid #d2d1d1; }
.gallery-i { position: relative; left: 0; width: 99999px; }
.gallery ul { float: left; padding: 12px 0 12px 21px; }
.gallery li { float: left; padding-left: 9px; }
.gallery a { float: left; margin: 3px; width: 185px; height: 135px; overflow: hidden; }
.gallery a:hover { margin: 0; border: 3px solid #dedede; }
.gallery-arrow { position: absolute; z-index: 2; top: 50%; left: 0; margin-top: -30px; width: 25px; height: 60px; background: url(../img/bg-gallery-arrow.png) 0 0 no-repeat; }
.gallery-fade { position: absolute; z-index: 10; top: 0; right: 0; width: 30px; height: 100%; background: url(../img/bg-fading-gallery.png) 0 0 repeat-y; }

#content-map { position: relative; z-index: 1; }
#content-map-fading { position: relative; z-index: 2; margin-top: -150px; padding: 150px 30px 20px 30px; background: url(../img/bg-fading-map.png) 0 0 repeat-x; border-bottom: 1px solid #e9e9e9; }
#content-map-fading p { font-size: .85em; }

.map-point { position: absolute; z-index: 100; }
.map-point-img { display: block; position: absolute; z-index: 10; bottom: 15px; left: 10px; width: 20px; height: 20px; background: #fff; border: 2px solid #fff; overflow: hidden; }
.map-point-marker { display: block; position: relative; z-index: 5; width: 23px; height: 37px; background: url(../img/bg-marker-0.png) 50% 100% no-repeat; overflow: hidden; text-indent: -9999px; }
.map-point-descr { position: absolute; z-index: 1; bottom: 15px; left: 10px; padding: 10px; width: 365px; height: 190px; background: #fff; border: 4px solid #ebcb00; }
.map-point-descr h2 { font-size: 1.55em; }
.map-point-descr dl { margin-bottom: 15px; padding-bottom: 20px; border-bottom: 1px solid #ededed; }
.map-point-descr dt { float: left; width: 90px; height: 90px; overflow: hidden; }
.map-point-descr dd { margin-left: 100px; padding: 0; }
.map-point-descr dd div { font-size: .8em; color: #7a7a7a; }
#content .map-point-descr table { width: 100%; }
#content .map-point-descr td, #content .map-point-descr th { padding: 0 0 5px 0; width: 50%; border: 0; font-weight: normal; font-size: .9em; text-align: left; }
#content .map-point-descr th { color: #da5c11; }
.map-point-pic { position: absolute; z-index: 1; bottom: 15px; left: 403px; padding: 13px; background: #262626; }
.map-point-pic div { width: 330px; height: 190px; background: #fff; border: 1px solid #000; overflow: hidden; }
.map-point-1 .map-point-img { width: 40px; height: 40px; }
.map-point-2 .map-point-img { width: 60px; height: 60px; }
.map-point-3 .map-point-img { width: 80px; height: 80px; }
.map-point-opened .map-point-marker { background-image: url(../img/bg-marker-1.png); }
.map-point-hide { position: absolute; top: 0; right: 0; width: 19px; height: 19px; background: url(../img/ico.png) -7px -231px no-repeat; text-indent: -9999px; overflow: hidden; }

.map-see-also-list { margin-right: -50px; }
.map-see-also-list li { margin: 0 40px 30px 0; padding: 0 0 15px 20px; width: 350px; background: url(../img/bg-marker-2.png) 0 50px no-repeat; }
.map-see-also-list a, .map-see-also-list span { display: block; color: #474747; text-decoration: none; }
.map-see-also-list-img { float: left; width: 100px; height: 100px; background: #fff; border: 1px solid #dadad9; overflow: hidden; }
.map-see-also-list-txt { margin-left: 120px; font-size: .85em; }
.map-see-also-list-txt strong { display: block; margin-bottom: 5px; font-weight: normal; font-size: 1.7em; color: #0f8719; }
.map-see-also-list a:hover span, .map-see-also-list a:hover strong { text-decoration: underline; }
.map-see-also-list .lnk-more-bg { display: inline-block; }

#userinfo { margin: 0 0 25px -20px; padding-bottom: 20px; background: #df6100; background-image: -webkit-gradient(linear,left top,left bottom,from(#fea200),to(#df6100)); background-image: -webkit-linear-gradient(top,#fea200,#df6100); background-image: -moz-linear-gradient(top,#fea200,#df6100);background-image: -ms-linear-gradient(top,#fea200,#df6100); background-image: -o-linear-gradient(top,#fea200,#df6100); background-image: linear-gradient(top,#fea200,#df6100); -pie-background: linear-gradient(top,#fea200,#df6100); color: #fff; }
#userinfo a { color: #fff; }
#userinfo p { margin-bottom: 3px; text-align: right; }
#userinfo p a {  float: left; margin-top: 3px; }
#userinfo big { font-size: 1.25em; }
#userinfo small { font-size: .7em; color: #ffba85; }
#userinfo dfn { display: block; position: relative; margin-bottom: 20px; padding: 10px 20px; font-style: normal; font-size: 1.1em; }
#userinfo dfn a { font-weight: bold; }
#userinfo dfn i { position: absolute; z-index: 0; top: 0; left: 0; right: 0; width: 100%; height: 100%; background: #000; opacity: .28; filter: alpha(opacity=28); }
#userinfo dfn span { display: block; position: relative; z-index: 2; }
#userinfo-userpic { display: block; margin-right: 20px; width: 64px; height: 64px; background: #fff url(../img/bg-userpic.gif) 50% 50% no-repeat; overflow: hidden; }
#content #userinfo table { margin: 0 20px; }
#content #userinfo td { padding: 0; border: 0; font-size: .8em; }

.event-info { margin: -15px 0 20px 0; color: #000; }
.event-info dfn { font-style: normal; color: #d85100; }

#content .event-data td { padding: 3px; border: 0; font-size: .85em; vertical-align: top; color: #000; }
#content .event-data td.value { padding-right: 50px; color: #515151; }

#inner-filter { position: relative; padding: 15px; background: url(../img/bg-inner-filter.png) 0 0 repeat-x; }
#inner-filter-more { position: absolute; bottom: -11px; left: 0; width: 23px; height: 23px; background: url(../img/ico.png) -5px -260px no-repeat; overflow: hidden; text-indent: -9999px; }
#inner-filter fieldset { display: none; margin-bottom: 10px; }
#inner-filter fieldset li { margin: 2px 0; }
#inner-filter label { padding-left: 5px; font-size: .85em; }
#inner-filter-title { margin-bottom: 10px; font-size: .75em; text-transform: uppercase; color: #d85100; }
#inner-filter form:after { position: absolute; bottom: 10px; right: 10px; width: 16px; height: 16px; content:'.'; background: url(../img/ico.png) -10px -169px no-repeat; text-indent: -9999px; overflow: hidden; }

#calendar { position: relative; z-index: 1; overflow: hidden; margin: -30px; padding: 30px 0; background: #701414;}
#calendar ul { width: auto; margin: auto; }
#calendar li { float: left; }
#calendar li a { display: block; position: relative; width: auto; margin: 0 10px 10px 0; color: #fff; overflow: hidden; text-decoration: none; }
#calendar li i { position: absolute; top: 0; left: 0; padding: 0 10px 0 5px; background: url(../img/bg-3.png); font-style: normal; font-size: 0.85em; line-height: 1.85em; }
#calendar li img { display: block; margin-bottom: 2px;}
#calendar li strong {display: block; padding: 0 5px; background: url(../img/bg-2.png); font-weight: normal; font-size: 1.2em; line-height: 1.35em; color: #333; }
#calendar li strong b { font-weight: normal; font-size: .8em; }
#calendar li .lnk-title-block strong { display: block; padding: 5px 10px; }
#calendar li dfn { display: block; padding: 5px 5px 0 5px; font-style: normal; font-size: .85em; line-height: 1.3em; }

.calendar-all-events {display: block; text-align: center; color: #FFF; position: fixed; bottom: 0; left: 0; width: 100%; border-bottom: 4px solid #2a2a2a; opacity: 0.8; z-index: 3;}
.calendar-all-events span{padding: 5px 10px; background: #2a2a2a;}

.lnk-calendar-0 { width: 340px; }
.lnk-calendar-1 { width: 420px; }
.lnk-calendar-2 { width: 210px; }
.lnk-calendar-3 { width: 200px; }

.calendar-more-events { padding-right: 100px; font-size: 2em; text-align: right; }
.calendar-more-events a { color: #fff; }

.lnk-user { font-size: .75em; text-transform: uppercase; }

.ico { display: inline-block; vertical-align: middle; margin-right: 5px; width: 16px; height: 16px; background: url(../img/ico.png) no-repeat; text-indent: -9999px; overflow: hidden; }
.lnk-user-ico { background-position: -8px -295px; }
.user-rating-ico { background-position: -8px -327px; }

.last-comments-list { margin-bottom: 30px; color: #535353; }
.last-comments-list li { margin-bottom: 10px; }
.last-comments-list li:before { position: absolute; }
.last-comments-list dfn { display: block; padding: 5px 0; font-size: .85em; line-height: 1.2em; }
.last-comments-list time { font-size: .8em; }
.last-comments-list small { color: #959595; }
.last-comment-title { display: block; padding-bottom: 5px; border-bottom: 1px solid #c5c5c5; font-weight: bold; font-size: .85em; color: #171717; }
.feat-blogs-list dfn { font-style: normal; }
.feat-blogs-list .last-comment-title { margin-top: 5px; padding: 5px 0 0 0; border-top: 1px solid #c5c5c5; border-bottom: 0; }

.tags-cloud { margin-bottom: 50px; }
.tags-cloud a { margin-right: 5px; }

.user-info-tbl { padding: 20px 0 10px 0; border-bottom: 1px dotted #707070; }
#content .user-info-tbl table { width: 75%; }
#content .user-info-tbl td { padding: 5px 0; border: 0; }
#content .user-info-tbl .tags td { font-size: .8em; vertical-align: top; color: #808080; }
#content .user-info-tbl .tags a { color: #808080; }
#content .user-info-tbl .tags .black { padding-right: 5px; color: #000; }

.blogs-list dt { margin-top: 30px; font-size: .9em; color: #d85100; }
.blogs-list dd { padding: 0; }
.blogs-list h2 { margin-bottom: 1em; font-size: 2.3em; }
.blogs-list h2 a { text-decoration: underline; }
.blogs-list h2 a:hover { text-decoration: none; }
.blog-info { padding: 15px; border-top: 1px solid #cfcfcf; }
.blog-info .nav-tags { padding: 0; }
.blogs-list-views { float: right; padding: 0 30px; height: 32px; background: url(../img/ico.png) 100% -352px no-repeat; border-right: 1px solid #b9b9b9; font-size: 2.15em; line-height: 1em; }
.blogs-list-comments { float: right; margin-left: 10px; padding-left: 20px; background: url(../img/ico.png) -8px -390px no-repeat; }

#socials-box { margin: 2em 0; padding-top: 5px; border-top: 1px solid #d4d4d4; }
#socials-box ul { float: right; padding-right: 1em; }
#socials-box li, #socials-box a { float: left; width: 24px; height: 24px; overflow: hidden; }
#socials-box a { background: url(../img/bg-socials.png) no-repeat; text-indent: -9999px; }
#socials-box .social-0 a { background-position: -24px 0; }
#socials-box .social-0 a:hover { background-position: 0 0; }
#socials-box .social-1 a { background-position: -24px -24px; }
#socials-box .social-1 a:hover { background-position: 0 -24px; }
#socials-box .social-2 a { background-position: -24px -48px; }
#socials-box .social-2 a:hover { background-position: 0 -48px; }
#socials-box .social-3 a { background-position: -24px -72px; }
#socials-box .social-3 a:hover { background-position: 0 -72px; }

.lnk-subscribe-form { display: block; margin: 50px 0 1px 0; padding: 15px 0 15px 46px; background: #333 url(../img/ico.png) 10px -440px no-repeat; color: #fff; text-decoration: none; }
.lnk-subscribe-form b { padding-right: 25px; background: url(../img/ico.png) 100% -488px no-repeat; font-weight: normal; }
.subscribe-form { display: none; padding: 15px; background: #555; font-size: .85em; color: #fff; }
.subscribe-userdata { margin-bottom: 1em; }
.subscribe-userdata li { margin-bottom: 5px; text-align: right; }
.subscribe-userdata label { float: left; width: 50px; text-align: left; }
.subscribe-userdata input { width: 150px; border: 1px solid #fff; }
.subscribe-opts { padding: 10px 10px 5px 10px; background: #3a3a3a; }
.subscribe-opts li { margin-bottom: 5px; }
.subscribe-opts label { padding-left: 5px; }
.subscribe-form .inp-btn { float: right; margin-top: 10px; }
.subscribe-form .inp-btn input { float: left; padding: 5px 10px; background: #da5c11; border: 0; color: #fff; }
.subscribe-section { display: block; padding-left: 25px; background: #fff url(../img/ico.png) -5px -194px no-repeat; line-height: 28px; color: #333; text-decoration: none; }

.links-box {  }
.links-box h5 { font-size: 1.35em; }
.links-box ul { margin: 1em 0 2em 0; }
.links-box a { color: #2d2d2d; text-decoration: none; }
.links-box a:hover { text-decoration: underline; }

footer { position: relative; z-index: 2; margin: -70px 30px 0 30px; padding-top: 19px; height: 50px; border-top: 1px dotted #a6a6a6; font-size: .8em; line-height: 16px; color: #000; }
footer a { color: #000; }
.content-bg-0 footer { border-color: #000; color: #fff; }
.content-bg-0 footer a { color: #fff; }

/* common styles */
#nav-inner, #nav-inner li ul, .btn-custom, #lnk-map-slideshow, .events-list-item, .events-list dt { position: relative; behavior: url(/js/libs/PIE.htc); }

.ie7 #nav-inner li:before, .ie7 .sb-tiser-i, .ie7 .news-item-source a, .ie7 .newslist-descr .lnk-more, .ie7 .nav-pages-arr, .ie7 .d-select, .ie7 #header-news-options-time time, .ie7 .inp-txt, .ie7 .inp-btn, .ie7 .inline-list li, .ie7 .nav-show-tabs li, .ie7 #sidebar-i-l, .ie7 .lnk-more-bg, .ie7 .pseudo-select, .ie7 #overlay-filter-i.map-overlay-filter-i, .ie7 #lnk-map-slideshow, .ie7 .map-see-also-list .lnk-more-bg, .ie7 .lnk-user-ico, .ie7 .d-select-pseudo { display: inline; zoom: 1; }

/*** /STYLES ***/

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {

    body { -webkit-text-size-adjust:none; font-family:Helvetica,Arial,Verdana,sans-serif; padding: 5px; }

}

/*** PRINT STYLES ***/
@media print {
  * { background: #fff !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  abbr:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* online translation */

.trans-wrapper {
    position: absolute;
    right: 36px;
    top: 44px;
    width: 240px;
    z-index: 100;
    font-size: 0.85em;
}   


.trans-wrapper-header {
    height: 22px;
    background: url('../img_index/online-bg-header.png') repeat;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 8px 10px 0 10px;
    cursor: pointer;
}

.trans-wrapper-body {
    width: 240px;
    height: 167px;
    background : url('../img_index/online-body-bg.png') repeat;
    display: none;
    padding-top: 25px;


}

.toggle-online {
    cursor: pointer;
    background: url('../img_index/online-narrow.gif') no-repeat;
    width: 9px;
    height: 5px;
    margin: 7px 0 0 0;
    float: right;
}

.header-top-inks {
    padding-top: 20px;
    padding-bottom: 10px;
}

.trans-p {
   float: left;
   color: #ffffff;
   background: url('../img_index/online-tv-small.png') no-repeat left top;
   padding: 0 0 0 20px;
}

.trans-wrapper-body-text {
    background: url('../img_index/online-tv-big.png') no-repeat;
    width: 157px;
    height: 81px;
    margin: 0 auto;
    padding-top: 61px;    
}

.trans-wrapper-body-text p {
      color: #fff;
      width: 100px;
      margin: 0 auto;
      text-align: center;
}

.main-wrapper {
    position: relative;
    
}

.trans-wrapper-event .trans-wrapper-header {
    background: url('../img_index/online-bg-header-2.png') repeat;
}

.trans-wrapper-event .trans-wrapper-body {
    padding: 10px 10px;
    height: auto;
    width: 220px;
}   

.trans-item-title {
    color: #989794;
    padding-bottom: 10px;
   
}

.trans-item-title-img {
    background: url('../img_index/online-camera.png') no-repeat;
    width: 11px;
    height: 10px;
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}


.trans-item-a {
    text-align: center;
    display: block;
}   

.trans-item-anons {
    padding-top: 5px;
    padding-left: 12px;
}

.trans-item-anons-title {
    color: #fff;
    font-size: 10px;
    padding-bottom: 4px;
}

.trans-item-anons-table td {
    color: #888888;
    font-size: 83.3%;
    padding-right: 10px;
}

#page-official .select-menu{ float: right; position: relative; }
#page-official .select-menu .arrow { height: 20px; width: 20px; position: absolute; right: 0; top: 0; background: url("../img/bg-arrows.png") no-repeat scroll 100% -68px transparent;}
#page-official .select-menu ul {display: none;}
#page-official .select-menu a{display: block; padding: 3px 15px 3px 5px; font-size: 1.2em; color: #FFF; background: #333}
#page-official .select-menu a,
#page-official h1 a:hover {text-decoration: none;}
#page-official a {color: #000;}
#page-official h1{border-bottom: 2px solid #000; padding-right: 100px; display: inline-block; font-size: 1.55em; text-transform: uppercase; margin-bottom: 15px;}
#page-official ul{list-style: none; padding: 0;}
#page-official .l1{
    margin-top: 15px;  
   }
#page-official .l1-title{
    background: url('../img/bg-official.png') repeat-x;
    font-size: 1.2em; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    line-height: 1em;
    }
    
#page-official .l2-title{font-size: 1.3em; margin-bottom: 20px; font-style: italic;}
#page-official .l2{ list-style: disc outside none; margin-left: 20px; margin-top: 15px; padding-bottom: 25px;}
#page-official .l2 ul {border-top: 1px dotted #666666; margin-left: -20px; margin-top: 15px; padding-left: 20px; padding-top: 5px; position: relative;  overflow: hidden;}
#page-official .l3{font-size: 1em; color: #3d3d3d}
#page-official .l3 a {color: #3d3d3d}
#page-official .l3-title{float: left; padding: 0 5px 0 0;}
#page-official .l3 ul{border: none; margin: 0; padding: 0 0 0 34px;}
#page-official .l4 { float: left; width: 44%; position: relative;}
#page-official .l4 .sep{position: absolute; top: 0; left: 0;}
#page-official .l4 a{display: block; padding: 0 5px 0 10px;}
#page-official .l1-title-narrow {
    background: url('../img/bg-official-narrow.png') no-repeat;
    width: 9px;
    height: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#page-official  .ul-toggle {
    display: none;
}

#page-official .box-title, #page-official-culture  .box-title{
    border-bottom: 2px solid #7a7a7a;
    font-size: 1.2em;
}


#menu-official { padding: 3px 0; color: #fff;
background: #7d7a7a;
background: -moz-linear-gradient(-45deg,  #7d7a7a 0%, #2a2626 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#7d7a7a), color-stop(100%,#2a2626));
background: -webkit-linear-gradient(-45deg,  #7d7a7a 0%,#2a2626 100%);
background: -o-linear-gradient(-45deg,  #7d7a7a 0%,#2a2626 100%);
background: -ms-linear-gradient(-45deg,  #7d7a7a 0%,#2a2626 100%);
background: linear-gradient(-45deg,  #7d7a7a 0%,#2a2626 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7a7a', endColorstr='#2a2626',GradientType=1 );
}
#menu-official ul {list-style: none; padding: 0;}
#menu-official a {display: block; padding: 7px 15px; color: #fff;}
/*#menu-official a:hover,*/
#menu-official a.active {
background: #cd0200;
background: -moz-linear-gradient(left,  #cd0200 0%, #900200 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cd0200), color-stop(100%,#900200));
background: -webkit-linear-gradient(left,  #cd0200 0%,#900200 100%);
background: -o-linear-gradient(left,  #cd0200 0%,#900200 100%);
background: -ms-linear-gradient(left,  #cd0200 0%,#900200 100%);
background: linear-gradient(left,  #cd0200 0%,#900200 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd0200', endColorstr='#900200',GradientType=1 );
}


#sidebar-l #nav-inner {
    padding-bottom: 10px;
}

/*esoldatov*/
.proh-wrap {
    overflow: visible;
}

.see-also-list-item, .see-also-list span, .see-also-list img {
    display: block;
    text-decoration: none;
   
}

.see-also-list img  {
     /*height: 100%;*/
}

.events-list-item-info-item-time {
    color: #D85201;
}

.events-list-item-video-fon {
    background: url("../img/video-bg.png") repeat scroll 0 0 transparent;
    display: block;
    height: 135px;
    left: 0;
    position: absolute;
    top: 0;
    width: 185px;
}

.events-list .events-list-item-video {
    margin: 0 23px 20px 0;
    padding: 7px 15px 15px;
    position: relative;
}

.events-list-item-video .see-also-list-img {
    display: block;
    position: relative;
}

.video-info-popup {
    background: url("../img/video-bg.png") repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    margin-left: -9999px;
    padding: 5px;
    position: absolute;
    top: 7px;
    width: 100%;
    z-index: 1000;
}

.events-list .see-also-list-brd {
    background: none repeat scroll 0 0 #DEDEDE;
    margin-bottom: 5px;
}

.see-also-list-brd {
    background: none repeat scroll 0 0 #F49337;
    height: 7px;
    margin: 0 20px 10px 0;
    overflow: hidden;
    text-indent: -9999px;
}


.events-list-item-description {
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 15px;
}

.events-list-item-info-item {
    overflow: hidden;
}

.events-list-item-info-item p {
    color: #949494;
    font-size: 75%;
    margin: 0;

}

.events-list-item-info-item span {
    font-size: 100%;
    display: inline;
}

.events-list-item-video-fon span {
    background: url("../img/video-bg-play.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 54px;
    left: 75px;
    position: absolute;
    top: 50px;
    width: 45px;
}

.page-official-culture-item {
    overflow: hidden;
    background: url('../img_index/dotted-bg.gif') repeat-x 0 bottom;
    margin-bottom: 28px;
    padding-bottom: 20px;
}

.page-official-culture-item-img {
    width: 184px;
    height: 136px;
    float: left;
}


.page-official-culture-item-text {
    margin-left: 205px;
}

#page-official-culture  h1 {
    font-size: 1.2em;
}

#content-i #page-official-culture .section-title {
    font-size: 1.2em;
}   

.see-also-list-img-fansy img {
    height: 100%;
}


.news-image-copyrights{
	float: right; 
	width:266px; 
	padding-left:10px;
}

.image-author-copyrights{
	text-align: left;
	font-size: 75%;
	color: #666;
	padding-top: 6px;
}

.image-author-copyrights-infobox{
	border-bottom: 1px dotted;
    color: #666666;
    font-size: 80%;
    padding-bottom: 8px;
    text-align: left;
	font-style: Italic;
}

.image-block-description {
	margin-bottom: -25px;
}

.partner-item {
    display: block;
    width: 190px;
    height: 190px;
    background: #c8c8c8;
    float: left;
    text-align: center;
    vertical-align: middle;
}   

.partner-item-even {
    background: #ebebeb;
}

.partner-table td {
    width: 190px;
    height: 190px;
}

.partner-table td {
    vertical-align: midle;
    text-align: center;
}

.partner-table td a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.partner-table td a .img2 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.partner-table-text {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

#partner-wrapper .section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    width: 30%;
}


.legend-map {
	margin-top: 10px;
}

#content .legend-map td {
	border: none;
}


span.first , span.last{
	display:none;
}

.pagination a{
	text-decoration: none;
}

.pagination span.current{
	color: #DE6414;
}

.pagination span.page a{
	color: #111;
}

.pagination{
	float:right;
	border-top: 1px solid #BBB;
	margin-left:5px;
	padding-left: 75px;
	margin-right:5px;
	padding-top:10px;
	margin-top:10px;
}

.topnav .pagination{
	margin-top:-20px;
	border: none;
	margin-right: 90px;
}

.midnav .pagination{
	margin-top:16px;
	border: none;
	margin-right: 0px;
}


.botnav .pagination{
	margin-right: 90px;
	
}

.newsbotnav .pagination{
	margin-top:0px;
	border: none;
	margin-right: 0px;
}

.d-select-nav-inner li a {
    color: #fff;
}
/*autorisation*/
#nav-header {
	position: relative;
}

.header-top-login {
	width: 220px;
	background: url("../img_index/online-body-bg.png") repeat scroll 0 0 transparent;
	margin-top: 20px;
	padding: 10px 10px 6px 10px; 
	position: absolute;
	display: none;
	z-index: 102;
	left: -1px;
}

.login-title {
	color: #f4c400;
	padding: 0 0 6px 0;
	border-bottom: 1px solid #6b665e;
	margin-bottom: 7px;
	font-size: 12px;
}

.login-form {
	overflow: hidden;
	position: relative;
}

.login-form-item {
	overflow: hidden;	
	margin-bottom: 5px;
}

.login-form-item label {
	float: left;
	color: #fff;
	padding-top: 3px;
	font-size: 12px;
}

.login-form-item input {
	width: 163px;
	height: 19px;
	line-height: 19px;
	float: right;
}

#login-form-item-but {
	border: 0;
	background: #da5c11;
	color: #fff;
	float: right;
	padding: 2px 8px;
	cursor: pointer;
	font-size: 12px;
	margin-top: 5px;
}

.login-regpass {
	position: absolute;
	bottom: 7px;
}

#nav-header a.login-regpass-a {
	color: #fff;
	font-size: 10px;
}

.login-regpass span {
	color: #fff;
	float: left;
}

/*end autorisation*/

/**/
