.events-list-item p{
	font-size: 10px;
	overflow:hidden;
}

.events-list-item span{
	float:left;
}

.events-list-item dt{
	margin:0;
}

.events-list-item ul{
	display:inline;
	margin:0;
	padding:0;
}

.events-list-item li{
	display: inline;
	padding:0;
	margin: 0;
	text-align: left;
	
}

.events-list-item .small{
	font-size:10px;
}

.events-list-item dt{
	
}