.searchResults-query {
    margin-bottom: 20px;
}

.searchResults-query span {
    font-weight: bold;
}

.searchResults-wrapper {
    margin-bottom: 50px;
}

.searchResults-list li {
    padding-bottom: 25px;
    list-style: none;
    overflow: hidden;
}

.searchResults-list-image {
    color: #7791A4;
    float: left;
    font-size: 11px;
    margin-right: 20px;
    text-decoration: none;
}

.searchResults-list-type {
    color: #7791A4;
    font-size: 11px;
}

.searchResults-list-date {
    color: #7791A4;
    font-size: 11px;
}

.searchResults-list-title {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    text-decoration: none;
}

.searchResults-list-text {
    font-size: 12px;
    overflow: hidden;
}