.search-query {
    margin-bottom: 20px;
}

.search-result li {
    padding-bottom: 25px;
    list-style: none;
    overflow: hidden;
}

.search-result-image {
    color: #7791A4;
    float: left;
    font-size: 11px;
    margin-right: 20px;
    text-decoration: none;
}

.search-result-type {
    color: #7791A4;
    font-size: 11px;
}

.search-result-date {
    color: #7791A4;
    font-size: 11px;
}

.search-result-title {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    text-decoration: none;
}

.search-result-text {
    font-size: 12px;
    overflow: hidden;
}

.search-query span {
    font-weight: bold;
}
