<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="//api-maps.yandex.ru/1.1/index.xml?key=AFWDbE8BAAAA6EbIVAIAyR0FSeXkIt6YefBYNpGmv5CD75sAAAAAAAAAAABZ8ahRt4lUv480EGX1JSZGmnFb4A==~AIaDbE8BAAAAXU2KXAQAyQWFMrTgmHE5LRzjKY4LaHMJZh0AAAAAAAAAAAD4IAOY3YptF_w2WRJNfBlDUdk46A==~AJyJeU8BAAAAq8MjEAQAlsDIhR8bp6JW_9jqsw0mjCWFWhUAAAAAAAAAAADHuk5DtFdvoUI2ysCTLtDBLnsPZQ==&modules=regions"></script>
<script type="text/javascript" src="{{ asset('bundles/armdculturemap/js/map.yandex.clusterer.js') }}"></script>
<script type="text/javascript">

    var data = {
        'Республика Ингушетия' : 46.9,
        'Чеченская Республика' : 42.1,
        'Республика Тыва' : 17.6,
        'Республика Алтай' : 15.3,
        'Республика Калмыкия' : 15.2,
        'Республика Дагестан' : 13.9,
        'Кабардино-Балкарская Республика' : 12.7,
        'Карачаево-Черкесская Республика' : 12.4,
        'Ненецкий автономный округ' : 12.1,
        'Республика Марий Эл' : 11.8,
        'Курганская область' : 11.8,
        'Томская область' : 11.2,
        'Республика Северная Осетия-Алания' : 11.2,
        'Республика Коми' : 11.2,
        'Республика Саха (Якутия)' : 11,
        'Забайкальский край' : 11,
        'Республика Бурятия' : 10.9,
        'Еврейская автономная область' : 10.7,
        'Калининградская область' : 10.4,
        'Чувашская Республика' : 10.2,
        'Приморский край' : 10.2,
        'Республика Карелия' : 10.1,
        'Псковская область' : 10.1,
        'Астраханская область' : 10,
        'Мурманская область' : 9.9,
        'Иркутская область' : 9.8,
        'Алтайский край' : 9.3,
        'Сахалинская область' : 9.1,
        'Удмуртская Республика' : 9,
        'Рязанская область' : 9,
        'Республика Башкортостан' : 8.9,
        'Свердловская область' : 8.8,
        'Омская область' : 8.8,
        'Вологодская область' : 8.7,
        'Республика Адыгея' : 8.6,
        'Пермский край' : 8.6,
        'Кировская область' : 8.6,
        'Кемеровская область' : 8.5,
        'Ленинградская область' : 8.4,
        'Ульяновская область' : 8.1,
        'Хабаровский край' : 8,
        'Ростовская область' : 8,
        'Ивановская область' : 8,
        'Волгоградская область' : 8,
        'Владимирская область' : 8,
        'Архангельская область' : 8,
        'Оренбургская область' : 7.8,
        'Ярославская область' : 7.7,
        'Брянская область' : 7.7,
        'Республика Хакасия' : 7.6,
        'Нижегородская область' : 7.6,
        'Новгородская область' : 7.4,
        'Воронежская область' : 7.4,
        'Тамбовская область' : 7.3,
        'Калужская область' : 7.3,
        'Орловская область' : 7.1,
        'Краснодарский край' : 7,
        'Курская область' : 6.9,
        'Челябинская область' : 6.8,
        'Новосибирская область' : 6.8,
        'Ставропольский край' : 6.7,
        'Саратовская область' : 6.7,
        'Красноярский край' : 6.7,
        'Смоленская область' : 6.6,
        'Тверская область' : 6.5,
        'Ханты-Мансийский автономный округ' : 6.2,
        'Тульская область' : 6.2,
        'Камчатский край' : 6.2,
        'Самарская область' : 6.1,
        'Костромская область' : 6.1,
        'Амурская область' : 6,
        'Тюменская область' : 5.9,
        'Республика Мордовия' : 5.9,
        'Республика Татарстан' : 5.5,
        'Магаданская область' : 5.5,
        'Липецкая область' : 5.5,
        'Пензенская область' : 5.4,
        'Московская область' : 5.1,
        'Белгородская область' : 4.9,
        'Ямало-Ненецкий автономный округ' : 4.1,
        'Чукотский автономный округ' : 4.1
    };

    // вызывается из popup-а
    function loadRegion() {
        console.log('here222');
        alert('olala');
        return false;

    }

    function getRandomRegion(start, end) {
        return start + Math.random() * (end-start);
    }

    function SampleBalloonLayout() {
        this.element = YMaps.jQuery(
                "<div class=\"b-simple-balloon-layout\"><div class=\"content\"></div><div class=\"close\"></div><div class=\"tail\"></div></div>");

        this.close = this.element.find(".close");
        this.content = this.element.find(".content");

        // Отключает кнопку закрытия балуна
        this.disableClose = function(){
            this.close.unbind("click").css("display", "none");
        };

        // Включает кнопку закрытия балуна
        this.enableClose = function(callback){
            this.close.bind("click", callback).css("display", "");
            return false;
        };

        // Добавляет макет на страницу
        this.onAddToParent = function (parentNode) {
            YMaps.jQuery(parentNode).append(this.element);
        };

        // Удаляет макет со страницы
        this.onRemoveFromParent = function () {
            this.element.remove();
        };

        // Устанавливает содержимое балуна
        this.setContent = function (content) {
            content.onAddToParent(this.content[0]);
        };

        // Обновляет балун
        this.update = function() {
            this.element.css("margin-top", "-" + (this.content.height() + 20 ) + "px");
        };
    };

    ///////////////////////////////////////////////////////////////
    YMaps.jQuery(function(){

        var map = new YMaps.Map(YMaps.jQuery('#YMapsID')[0]);
        var initLat = 99.933497,
            initLng = 65.948073,
            iniZoom = 3;
        map.setCenter(new YMaps.GeoPoint(initLat, initLng), iniZoom);

        map.addControl(new YMaps.TypeControl());
        map.addControl(new YMaps.ToolBar());
        map.addControl(new YMaps.Zoom());
        //map.addControl(new YMaps.MiniMap());
        map.addControl(new YMaps.ScaleLine());
        map.enableScrollZoom();

        // Задает стиль для коллекции регионов
        var sampleBalloonTemplate = new YMaps.LayoutTemplate(SampleBalloonLayout);
        var regionDefaultStyle = {
            polygonStyle: { fillColor: "ff000010", strokeColor: "ff000020" },
            balloonStyle: { template: sampleBalloonTemplate },
            hasHint: true
        };
        var regionHoverStyle = {
            polygonStyle: { fillColor: "f0f0f030", strokeColor: "ff0000" },
            balloonStyle: { template: sampleBalloonTemplate },
            hasHint: true
        };

        // Загрузка меток объектов
        $.ajax({
            url: 'sys/map/markers',
            data: { },
            success: function(json) {
                //console.log(json);
                if (json.success) {
                    var cluster = new PlacemarkClusterer(map, null, {
                        gridSize: 30, // размер ячейки кластера
                        maxZoom: 16, // уровень зума, после которого показываются все маркеры
                        style: {
                            url: '{{ asset('bundles/armdculturemap/images/m1.png') }}', // адрес иконки группы маркеров кластера
                            //url: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclustererplus/images/m2.png',
                            height: 50, // высота
                            width:  50  // ширина
                        }
                    });
                    var markers = [];

                    var s = new YMaps.Style();
                    s.iconStyle = new YMaps.IconStyle();
                    s.iconStyle.offset = new YMaps.Point(-12, -12);
                    s.iconStyle.href = '{{ asset('bundles/armdculturemap/images/pin24.png') }}';
                    s.iconStyle.size = new YMaps.Point(24, 24);
                    s.balloonStyle = { template: sampleBalloonTemplate };

                    // булавки
                    for (var i=0; i<json.result.length; i++) {
                        var row = json.result[i];
                        var placemark = new YMaps.Placemark(new YMaps.GeoPoint(row.lng, row.lat));
                        placemark.setStyle(s);
                        placemark.name = row.title;
                        placemark.setBalloonContent(row.title);

                        // клик по будавке
                        YMaps.Events.observe(placemark, placemark.Events.Click, function(p, e){
                            var id = 'Ставропольский край';
                            $.ajax({
                                url: 'sys/map/region',
                                data: { id: id },
                                success: function(response) {
                                    //var content = json.result.title + ' - ' + json.result.title;
                                    p.setBalloonContent(response);
                                    p.openBalloon();
                                }
                            });
                            //console.log(hintContent);
                        });

                        markers.push(placemark);
                    }
                    cluster.addPlacemarks(markers);
                }
            }
        });

        YMaps.Regions.load("ru", function(state, response) {
            if (state != YMaps.State.SUCCESS) {
                alert("Во время выполнения запроса произошла ошибка: " + response.error.message);
                return false;
            }

            response.forEach(function(v){
                if (! (v.name in data)) return;

                var title = v.name;
                var g = v.getGeometry();

                for (var i=0; i<g.length; i++) {
                    var item = g[i];
                    var placemark = new YMaps.Polygon(item.coords);
                    placemark.setOptions({ hasBalloon: false });
                    placemark.setStyle(regionDefaultStyle);
                    placemark.setHintContent(v.name);
                    placemark.setBalloonContent(title);
                    placemark.region_id = 777;

                    //placemark.description = "Описание метки";

                    // клик по региону
                    YMaps.Events.observe(placemark, placemark.Events.Click, function(p, e){
                        var hintContent = p.getHintContent();
                        $.ajax({
                            url: 'sys/map/region',
                            data: { id: hintContent },
                            success: function(response) {
                                //var content = json.result.title + ' - ' + json.result.title;
                                p.setBalloonContent(response);
                                p.openBalloon();
                            }
                        });
                        //console.log(hintContent);
                    });

                    // MouseEnter на регионе
                    YMaps.Events.observe(placemark, placemark.Events.MouseEnter, function(p, e) {
                        p.setStyle(regionHoverStyle);
                    });

                    // MouseLeave на регионе
                    YMaps.Events.observe(placemark, placemark.Events.MouseLeave, function(p, e) {
                        p.setStyle(regionDefaultStyle);
                    });

                    map.addOverlay(placemark);

                }

            });

        });

        YMaps.Events.observe(map, map.Events.BaloonOpen, function(event) {
            console.log("Щелк!");
            console.log(event);
            return false;
        });

    });

</script>
<style type="text/css"><!--
    #YMapsID{ width:100%; height:600px; }
    .YMaps-layer-container img{ max-width:none; }

    .b-simple-balloon-layout {
        background: #F8FFE0;
        border: 1px solid #848877;
        margin-top: 0px;
        margin-left: 0px;
        padding: 0px;
        position: relative;
        width: 600px;
    }
    .b-simple-balloon-layout .close {
        background: url("http://api-maps.yandex.ru/i/0.3/balloon/close.gif") no-repeat transparent;
        cursor: pointer;
        height: 13px;
        margin-right: 5px;
        margin-top: 5px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 13px;
    }
    .b-simple-balloon-layout .tail {
        background: url("http://api.yandex.ru/i/maps/tail.png") no-repeat transparent;
        height: 24px;
        margin-top: 0px;
        position: absolute;
        width: 30px;
    }


//--></style>

<div id="YMapsID"></div>

<pre>
(mk.sandbox) AFWDbE8BAAAA6EbIVAIAyR0FSeXkIt6YefBYNpGmv5CD75sAAAAAAAAAAABZ8ahRt4lUv480EGX1JSZGmnFb4A==
(mk.dev.armd.ru) AIaDbE8BAAAAXU2KXAQAyQWFMrTgmHE5LRzjKY4LaHMJZh0AAAAAAAAAAAD4IAOY3YptF_w2WRJNfBlDUdk46A==
</pre>





<a name="details"></a>

<h1>Полное представление информационной статьи о субъекте на странице Атласа:</h1>
<ul>
    <li>Заголовок</li>
    <li>Герб (изображение)</li>
    <li>Текст</li>
</ul>

<h2>Карточка региона (визуальное оформление в виде мини-карточки)</h2>
<ul>
    <li>Площадь</li>
    <li>Количество городов</li>
    <li>Количество других населенных пунктов</li>
    <li>Население
        <ul>
            <li>городское</li>
            <li>сельское</li>
        </ul>
    </li>
    <li>Административный центр</li>
    <li>Народности</li>
    <li>Языки</li>
    <li>Религии</li>
</ul>

<h2>Учреждения культуры:</h2>
<ul>
    <li>Музеи (список)</li>
    <li>Выставочные залы (список)</li>
    <li>Театры (список)</li>
    <li>Цирки (список)</li>
    <li>Кинотеатры (список)</li>
    <li>Концертные организации (список)</li>
    <li>Концертные площадки (список)</li>
    <li>Концертные коллективы (список)</li>
    <li>Творческие союзы (список)</li>
    <li>Дома народного творчества (список)</li>
    <li>Киностудии (список)</li>
    <li>Научно-исследовательские учреждения (список)</li>
    <li>Образовательные учреждения (список)</li>
    <li>Библиотеки (список)</li>
    <li>Другие учреждения культуры (список)</li>
</ul>

<h2>Фотогалерея</h2>

<a id="test-me" href="#">Test me</a>
<script type="text/javascript">
    $(function(){

        $('#test-me').click(function(){
            alert('test-me clicked');
            return false;
        });

    });
</script>