{% set medias = [	
		{		'link': 'http://www.1150russia.ru/',
				'title': 'Проект «1150 лет зарождения российской государственности»',
				'description':''
		},
		{		'link': 'http://region.adm.nov.ru/event/1150/',
				'title': 'Администрация Новгородской области «1150 лет российской государственности»',
				'description':''
		},
		{		'link': 'http://www.bibliopskov.ru/1150.htm',
				'title': 'ЦБС города Пскова «1150 лет российской государственности»',
				'description':''
		},
		{		'link': 'http://www.chaltlib.ru/articles/resurs/jubilei_goda/god_rossiiskoy_istorii/1150_let_rossiiskoi_gosudarstvennosti/',
				'title': 'МЦБ Мясниковского района «1150 лет российской государственности»',
				'description':''
		},
		{		'link': 'http://nwapa.spb.ru/sajt_ibo/vistavki/gosudarstvo/index.html',
				'title': '«1150 лет российской государственности»',
				'description':''
		}
	]%}

{% macro media_item(link, title, description) %}	
	<li><a href="{{ link|raw }}"  class="press-list-name" target="_blank">{{ title|raw }}</a></li>
{% endmacro %}

<div class="title">
	<h2>Медиапроекты</h2>
</div>
<ul class="media-projects">
	
		{#<a href="#" class="media-projects-image">
			<img src="/img/borodino/media-project.jpg" alt="" />
		</a>
		<a href="#" class="press-list-name">1812. Война и Мир. Новый взгляд.</a>
		<p class="press-list-anons">Ссылки на трансляции или передачи государственных телеканалов</p> #}
		
			{% for media in medias %}
				{{ _self.media_item(media.link, media.title , media.description) }}
			{% endfor %} 
		
		
	
</ul>
