{% macro publication_item(link, img, title, description) %}
		<li>
			<img src="{{ asset(img|raw) }}" alt="" />
			<div class="text-overflow">
				<span class="press-list-name">{{ title|raw }}</span>
				<p class="press-list-anons">{{ description|raw }}</p>
			</div>
		</li>
{% endmacro %}

{% set publications = [	
					{		'link': '#',
							'img': '/img/borodino/press.jpg',
							'title' : 'Английский офицер Роберт Вильсон о русских солдатах и офицерах',
							'description':'В своих кратких записках "о свойстве и составе русского войска" англичанин Роберт..'
					},
					 {	'link': '#',
					 		'img': '/img/borodino/press2.jpg',
							'title' : 'Концерт Роберто Аланьи и Венеры Гимадиевой',
					 		'description':'Джордж Бернард Шоу родился 26 июля 1856 года в Дублине. Шоу уже в молодости решил стать писателем, однако его рукописи поначалу не. '
					 },
					 {	'link': '#',
					 		'img': '/img/borodino/press3.jpg',
							'title' : 'Фотографии собора 1980 года',
					 		'description':'Джордж Бернард Шоу родился 26 июля 1856 года в Дублине. Шоу уже в молодости решил стать писателем, однако его рукописи поначалу не.'
					 }
				]%}
				

<div class="yellow-border-block">
	<p class="yellow-border-header">
		<span>Издания</span>
	</p>
	<ul class="press-list">
		{% for publication in publications %}
			{{ _self.publication_item(publication.link, asset(publication.img), publication.title , publication.description) }}
		 {% endfor %}	
	</ul>	
</div>
