<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

#AuthType Basic
#AuthName "Restricted area"
#AuthUserFile /www/mk.dev.armd.ru/app/.htpasswd
#Require valid-user
