AddDefaultCharset utf-8

<IfModule mod_php5.c>
    php_value session.gc_maxlifetime 86400
    php_value session.gc_probability 1
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
