php_value date.timezone UTC

<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteRule ^main$ http://%{HTTP_HOST}/main/ [R,L]
    RewriteRule ^main/$ static/index.html [L]
    RewriteRule ^main/(.*)$ static/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>

AuthUserFile /www/mk.dev.armd.ru/app/config/.htpasswd
AuthType Basic
AuthName "My Files"
Require valid-user
